Repository DFE-Digital/apply-for-teacher-training, pull requests merged in 2019-11, with the labels that each got.

#438 Update work experience validations
  app/controllers/candidate_interface/work_history/edit_controller.rb
  app/models/candidate_interface/work_experience_form.rb
  config/locales/application_form.yml
  config/locales/en.yml
  spec/models/candidate_interface/work_experience_form_spec.rb
  spec/system/candidate_interface/candidate_entering_work_history_spec.rb
Labels: Candidate

#440 Simplify application statuses
  app/models/application_choice.rb
  app/services/application_state_change.rb
  app/services/generate_test_data.rb
  app/services/make_an_offer.rb
  config/locales/en.yml
  config/vendor-api-0.8.0.yml
  docs/domain-model.png
  docs/states.png
  features/successful_application_statuses.feature
  spec/requests/vendor_api/audit_trail_spec.rb
  spec/requests/vendor_api/post_conditions_met_spec.rb
  spec/requests/vendor_api/post_make_an_offer_spec.rb
  spec/requests/vendor_api/post_reject_application_spec.rb
  spec/services/generate_test_data_spec.rb
Labels: Core, ProVendor

#439 195 adding year grade to gcse
  app/components/gcse_qualification_review_component.html.erb
  app/components/gcse_qualification_review_component.rb
  app/controllers/candidate_interface/gcse_details_controller.rb
  app/helpers/application_helper.rb
  app/helpers/view_helper.rb
  app/models/candidate_interface/gcse_qualification_details_form.rb
  app/models/candidate_interface/gcse_qualification_type_form.rb
  app/views/candidate_interface/application_form/show.html.erb
  app/views/candidate_interface/gcse_details/edit_details.html.erb
  app/views/candidate_interface/gcse_details/edit_type.html.erb
  app/views/candidate_interface/gcse_details/review.html.erb
  app/views/candidate_interface/gcse_details/show.html.erb
  config/locales/application_form.yml
  config/locales/gcse_details.yml
  config/routes.rb
  docs/domain-model.png
  spec/models/candidate_interface/gcse_qualification_details_form_spec.rb
  spec/models/candidate_interface/gcse_qualification_type_form_spec.rb
  spec/system/candidate_interface/candidate_entering_GCSE_spec.rb
  spec/system/candidate_interface/candidate_entering_gcse_spec.rb
Labels: Candidate

#426 Sync data from Find
  .env.development
  app/controllers/support_interface/providers_controller.rb
  app/models/find_api.rb
  app/models/find_api/course.rb
  app/models/find_api/provider.rb
  app/models/find_api/resource.rb
  app/models/find_api/site.rb
  app/models/provider.rb
  app/services/sync_provider_from_find.rb
  app/views/support_interface/providers/index.html.erb
  config/application.rb
  config/providers_to_sync.yml
  config/routes.rb
  spec/services/sync_provider_from_find_spec.rb
  spec/support/test_helpers/find_api_helper.rb
  spec/system/support_interface/providers_spec.rb
Labels: Core

#441 Add ability to edit a degree
  app/components/degrees_review_component.html.erb
  app/components/degrees_review_component.rb
  app/controllers/candidate_interface/degrees/base_controller.rb
  app/controllers/candidate_interface/degrees/destroy_controller.rb
  app/models/candidate_interface/degree_form.rb
  app/views/candidate_interface/degrees/base/_form.html.erb
  app/views/candidate_interface/degrees/base/edit.html.erb
  config/locales/application_form.yml
  config/locales/en.yml
  config/routes.rb
  spec/components/degrees_review_component_spec.rb
  spec/models/candidate_interface/degree_form_spec.rb
  spec/system/candidate_interface/candidate_entering_degrees_spec.rb
Labels: Candidate

#450 Add OtherQualificationForm form object
  app/components/support_interface/audit_trail_item_component.html.erb
  app/models/application_qualification.rb
  app/models/candidate_interface/other_qualification_form.rb
  config/locales/application_form.yml
  spec/models/candidate_interface/other_qualification_form_spec.rb
Labels: Candidate

#451 Add ability to add and review an other qualification
  app/components/other_qualifications_review_component.html.erb
  app/components/other_qualifications_review_component.rb
  app/controllers/candidate_interface/other_qualifications/base_controller.rb
  app/controllers/candidate_interface/other_qualifications/review_controller.rb
  app/views/candidate_interface/application_form/show.html.erb
  app/views/candidate_interface/other_qualifications/base/new.html.erb
  app/views/candidate_interface/other_qualifications/review/show.html.erb
  config/locales/application_form.yml
  config/locales/en.yml
  config/routes.rb
  spec/components/other_qualifications_review_component_spec.rb
  spec/system/candidate_interface/candidate_entering_other_qualification_spec.rb
Labels: Candidate

#447 Add working day feature
  Gemfile
  Gemfile.lock
  app/models/application_dates.rb
  config/application.rb
  config/initializers/business_time.rb
  spec/components/application_complete_content_component_spec.rb
  spec/models/application_dates_spec.rb
  spec/models/candidate_interface/work_experience_form_spec.rb
Labels: Core, ProVendor

#427 Allow users to add course choices to an application
  app/components/summary_card_component.html.erb
  app/controllers/candidate_interface/course_choices_controller.rb
  app/models/candidate.rb
  app/views/candidate_interface/application_form/show.html.erb
  app/views/candidate_interface/course_choices/have_you_chosen.html.erb
  app/views/candidate_interface/course_choices/index.html.erb
  app/views/candidate_interface/course_choices/options_for_course.html.erb
  app/views/candidate_interface/course_choices/options_for_provider.html.erb
  app/views/candidate_interface/course_choices/options_for_site.html.erb
  config/locales/en.yml
  config/routes.rb
  spec/models/candidate_spec.rb
  spec/system/candidate_interface/candidate_selecting_a_course_spec.rb
  spec/system/candidate_interface/candidate_submitting_application_spec.rb
  spec/system/candidate_interface/candidate_viewing_application_spec.rb
Labels: Candidate

#466 Add 'current_application` helper
  app/controllers/candidate_interface/application_form_controller.rb
  app/controllers/candidate_interface/candidate_interface_controller.rb
  app/controllers/candidate_interface/contact_details/address_controller.rb
  app/controllers/candidate_interface/contact_details/base_controller.rb
  app/controllers/candidate_interface/contact_details/review_controller.rb
  app/controllers/candidate_interface/degrees/base_controller.rb
  app/controllers/candidate_interface/degrees/destroy_controller.rb
  app/controllers/candidate_interface/degrees/review_controller.rb
  app/controllers/candidate_interface/gcse/type_controller.rb
  app/controllers/candidate_interface/other_qualifications/base_controller.rb
  app/controllers/candidate_interface/other_qualifications/destroy_controller.rb
  app/controllers/candidate_interface/other_qualifications/review_controller.rb
  app/controllers/candidate_interface/personal_details_controller.rb
  app/controllers/candidate_interface/work_history/destroy_controller.rb
  app/controllers/candidate_interface/work_history/edit_controller.rb
  app/controllers/candidate_interface/work_history/explanation_controller.rb
  app/controllers/candidate_interface/work_history/review_controller.rb
Labels: Candidate

#465 Use `GOVUKDesignSystemFormBuilder` by default
  app/views/candidate_interface/application_form/submit_show.html.erb
  app/views/candidate_interface/contact_details/address/edit.html.erb
  app/views/candidate_interface/contact_details/base/edit.html.erb
  app/views/candidate_interface/degrees/base/edit.html.erb
  app/views/candidate_interface/degrees/base/new_another.html.erb
  app/views/candidate_interface/degrees/base/new_undergraduate.html.erb
  app/views/candidate_interface/degrees/review/show.html.erb
  app/views/candidate_interface/gcse/details/edit.html.erb
  app/views/candidate_interface/gcse/type/edit.html.erb
  app/views/candidate_interface/other_qualifications/base/edit.html.erb
  app/views/candidate_interface/other_qualifications/base/new.html.erb
  app/views/candidate_interface/personal_details/edit.html.erb
  app/views/candidate_interface/sign_in/new.html.erb
  app/views/candidate_interface/sign_up/new.html.erb
  app/views/candidate_interface/work_history/edit/edit.html.erb
  app/views/candidate_interface/work_history/edit/new.html.erb
  app/views/candidate_interface/work_history/explanation/show.html.erb
  app/views/candidate_interface/work_history/length/show.html.erb
  app/views/candidate_interface/work_history/review/show.html.erb
  app/views/support_interface/api_tokens/index.html.erb
  config/application.rb
Labels: Candidate

#459 Add ability to complete other qualifications section and review at application submission
  app/controllers/candidate_interface/other_qualifications/review_controller.rb
  app/presenters/candidate_interface/application_form_presenter.rb
  app/views/candidate_interface/application_form/review.html.erb
  app/views/candidate_interface/application_form/show.html.erb
  app/views/candidate_interface/other_qualifications/review/show.html.erb
  config/locales/application_form.yml
  config/routes.rb
  db/migrate/20191107161840_add_other_qualifications_completed_to_application_form.rb
  db/schema.rb
  docs/domain-model.png
  spec/factories.rb
  spec/presenters/candidate_interface/application_form_presenter_spec.rb
  spec/support/test_helpers/candidate_helper.rb
  spec/system/candidate_interface/candidate_entering_other_qualification_spec.rb
  spec/system/candidate_interface/candidate_reviewing_application_spec.rb
Labels: Candidate

#470 Add autofill when adding other qualifications
  app/controllers/candidate_interface/other_qualifications/base_controller.rb
  app/models/candidate_interface/other_qualification_form.rb
  spec/components/other_qualifications_review_component_spec.rb
  spec/models/candidate_interface/other_qualification_form_spec.rb
  spec/system/candidate_interface/candidate_entering_other_qualification_spec.rb
Labels: Candidate

#460 Update create account UI
  .gitignore
  app/controllers/candidate_interface/sign_up_controller.rb
  app/models/candidate_interface/sign_up_form.rb
  app/views/candidate_interface/sign_up/new.html.erb
  config/locales/authentication.yml
  config/locales/en.yml
  db/schema.rb
  docs/domain-model.png
  docs/states.png
  spec/factories.rb
  spec/models/candidate_interface/sign_up_form_spec.rb
  spec/models/candidate_spec.rb
  spec/system/candidate_interface/candidate_account_spec.rb
Labels: Candidate

#474 Add terms of use (candidate) page
  app/controllers/content_controller.rb
  app/frontend/styles/_styled-content.scss
  app/views/candidate_interface/sign_up/new.html.erb
  app/views/content/accessibility.md
  app/views/content/terms_candidate.md
  app/views/layouts/application.html.erb
  config/locales/authentication.yml
  config/locales/en.yml
  config/routes.rb
  spec/system/candidate_interface/candidate_account_spec.rb
  spec/system/user_viewing_terms_conditions_spec.rb
Labels: Candidate

#462 Tell us why you want to be a teacher
  app/components/becoming_a_teacher_review_component.html.erb
  app/components/becoming_a_teacher_review_component.rb
  app/components/interview_preferences_review_component.html.erb
  app/components/interview_preferences_review_component.rb
  app/components/subject_knowledge_review_component.html.erb
  app/components/subject_knowledge_review_component.rb
  app/controllers/candidate_interface/personal_statement/becoming_a_teacher_controller.rb
  app/controllers/candidate_interface/personal_statement/interview_preferences_controller.rb
  app/controllers/candidate_interface/personal_statement/subject_knowledge_controller.rb
  app/models/candidate_interface/becoming_a_teacher_form.rb
  app/models/candidate_interface/interview_preferences_form.rb
  app/models/candidate_interface/subject_knowledge_form.rb
  app/presenters/candidate_interface/application_form_presenter.rb
  app/views/candidate_interface/application_form/show.html.erb
  app/views/candidate_interface/personal_statement/becoming_a_teacher/edit.html.erb
  app/views/candidate_interface/personal_statement/becoming_a_teacher/show.html.erb
  app/views/candidate_interface/personal_statement/interview_preferences/edit.html.erb
  app/views/candidate_interface/personal_statement/interview_preferences/show.html.erb
  app/views/candidate_interface/personal_statement/subject_knowledge/edit.html.erb
  app/views/candidate_interface/personal_statement/subject_knowledge/show.html.erb
  config/locales/application_form.yml
  config/locales/en.yml
  config/routes.rb
  db/migrate/20191107121404_add_personal_statement_to_application_forms.rb
  db/schema.rb
  spec/components/becoming_a_teacher_review_component_spec.rb
  spec/factories.rb
  spec/models/candidate_interface/becoming_a_teacher_form_spec.rb
  spec/models/candidate_interface/interview_preferences_form_spec.rb
  spec/models/candidate_interface/subject_knowledge_form_spec.rb
  spec/system/candidate_interface/candidate_becoming_a_teacher_spec.rb
  spec/system/candidate_interface/candidate_entering_interview_preferences.rb
  spec/system/candidate_interface/candidate_entering_subject_knowledge_spec.rb
Labels: Candidate

#461 Edit existing gcse qualifications
  app/components/gcse_qualification_review_component.rb
  app/controllers/candidate_interface/gcse/details_controller.rb
  app/controllers/candidate_interface/gcse/review_controller.rb
  app/controllers/candidate_interface/gcse/type_controller.rb
  app/models/application_form.rb
  app/models/candidate_interface/gcse_qualification_details_form.rb
  app/models/candidate_interface/gcse_qualification_type_form.rb
  app/views/candidate_interface/gcse/details/edit.html.erb
  app/views/candidate_interface/gcse/review/show.html.erb
  config/locales/application_form.yml
  spec/models/candidate_interface/gcse_qualification_details_form_spec.rb
  spec/models/candidate_interface/gcse_qualification_type_form_spec.rb
  spec/system/candidate_interface/candidate_entering_gcse_spec.rb
Labels: Candidate

#443 Add support for async and scheduled jobs
  .env.example
  .rubocop.yml
  Gemfile
  Gemfile.lock
  Procfile
  adr/0009-async-and-scheduled-jobs.md
  app/controllers/application_controller.rb
  app/controllers/candidate_interface/candidate_interface_controller.rb
  app/controllers/vendor_api/vendor_api_controller.rb
  app/lib/log_request_params.rb
  app/lib/logstash_logging.rb
  app/workers/clockwork_check.rb
  azure-pipelines-deploy-template.yml
  azure/template.json
  config/clock.rb
  config/environments/development.rb
  docker-compose.azure.yml
  docker-compose.yml
  spec/spec_helper.rb
  spec/support/test_helpers/logging_helper.rb
  spec/support_specs/clockwork_spec.rb
  spec/support_specs/logstash_logging_spec.rb
  spec/workers/clockwork_check_spec.rb
Labels: Core

#481 Import references from CSV
  app/controllers/support_interface/import_references_controller.rb
  app/services/import_references_from_csv.rb
  app/views/support_interface/application_forms/index.html.erb
  app/views/support_interface/import_references/import.html.erb
  app/views/support_interface/import_references/index.html.erb
  config/routes.rb
  spec/services/import_references_from_csv_spec.rb
Labels: ProVendor

#482 Add ability to enter explanation for work history breaks
  app/components/summary_card_component.html.erb
  app/components/work_history_review_component.html.erb
  app/components/work_history_review_component.rb
  app/controllers/candidate_interface/work_history/breaks_controller.rb
  app/models/candidate_interface/work_breaks_form.rb
  app/services/check_breaks_in_work_history.rb
  app/views/candidate_interface/work_history/breaks/edit.html.erb
  config/locales/application_form.yml
  config/locales/en.yml
  config/routes.rb
  db/migrate/20191111115654_add_work_history_breaks_to_application_form.rb
  db/schema.rb
  docs/domain-model.png
  spec/components/summary_card_component_spec.rb
  spec/components/work_history_review_component_spec.rb
  spec/factories.rb
  spec/models/candidate_interface/work_breaks_form_spec.rb
  spec/services/check_breaks_in_work_history_spec.rb
  spec/system/candidate_interface/candidate_entering_work_history_spec.rb
Labels: Candidate

#471 Provider Receive Application business rules
  app/models/application_choice.rb
  app/models/application_form.rb
  app/services/application_state_change.rb
  app/services/get_application_choices_ready_to_send_to_provider.rb
  app/services/import_references_from_csv.rb
  app/services/receive_reference.rb
  app/services/send_applications_to_provider.rb
  app/services/submit_application.rb
  db/migrate/20191108151128_add_application_choices_edit_by.rb
  db/schema.rb
  features/step_definitions/application_steps.rb
  features/submitting_references.feature
  features/successful_application_statuses.feature
  spec/services/get_application_choices_ready_to_send_to_provider_spec.rb
  spec/services/receive_reference_spec.rb
  spec/services/send_applications_to_provider_spec.rb
  spec/services/submit_application_spec.rb
Labels: Core

#446 Reverse the touch between application_choice and application_form
  app/models/application_choice.rb
  app/models/application_form.rb
  spec/models/application_choice_spec.rb
  spec/models/application_form_spec.rb
Labels: Core

#502 Give University College Birmingham an api key
  app/services/generate_vendor_providers.rb
  lib/tasks/generate_vendor_providers.rake
Labels: ProVendor

#492 Minor tweaks to the CSV importing layout
  app/helpers/navigation_helper.rb
  app/views/layouts/_support_header.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/support_layout.html.erb
  app/views/support_interface/import_references/import.html.erb
  app/views/support_interface/import_references/index.html.erb
Labels: ProVendor

#503 Add ability to add a volunteering role with validation errors
  app/components/volunteering_review_component.html.erb
  app/components/volunteering_review_component.rb
  app/controllers/candidate_interface/volunteering/base_controller.rb
  app/controllers/candidate_interface/volunteering/experience_controller.rb
  app/models/candidate_interface/volunteering_role_form.rb
  app/views/candidate_interface/volunteering/base/new.html.erb
  config/locales/application_form.yml
  config/locales/en.yml
  config/routes.rb
  spec/components/volunteering_review_component_spec.rb
  spec/models/candidate_interface/volunteering_role_form_spec.rb
  spec/system/candidate_interface/candidate_entering_volunteering_and_school_experience_spec.rb
Labels: Candidate

#487 Allow candidates to specify a "other" UK qualification type
  app/components/gcse_qualification_review_component.rb
  app/controllers/candidate_interface/gcse/type_controller.rb
  app/helpers/view_helper.rb
  app/models/candidate_interface/gcse_qualification_details_form.rb
  app/models/candidate_interface/gcse_qualification_type_form.rb
  app/views/candidate_interface/gcse/type/edit.html.erb
  config/locales/application_form.yml
  db/migrate/20191111113501_add_other_uk_qualification_type_to_application_qualifications.rb
  db/schema.rb
  docs/domain-model.png
  spec/models/candidate_interface/gcse_qualification_type_form_spec.rb
  spec/system/candidate_interface/candidate_entering_gcse_other_uk_qualification_spec.rb
  spec/system/candidate_interface/candidate_entering_gcse_spec.rb
Labels: Candidate

#490 Let candidates check that they're eligible for Apply
  app/controllers/candidate_interface/start_page_controller.rb
  app/models/candidate_interface/eligibility_form.rb
  app/views/candidate_interface/start_page/eligibility.html.erb
  app/views/candidate_interface/start_page/not_eligible.html.erb
  app/views/candidate_interface/start_page/show.html.erb
  config/routes.rb
  spec/system/candidate_interface/candidate_account_spec.rb
  spec/system/candidate_interface/candidate_becoming_a_teacher_spec.rb
  spec/system/candidate_interface/candidate_eligibility_spec.rb
  spec/system/candidate_interface/candidate_entering_contact_details_spec.rb
  spec/system/candidate_interface/candidate_entering_degrees_spec.rb
  spec/system/candidate_interface/candidate_entering_interview_preferences.rb
  spec/system/candidate_interface/candidate_entering_other_qualification_spec.rb
  spec/system/candidate_interface/candidate_entering_personal_details_spec.rb
  spec/system/candidate_interface/candidate_entering_subject_knowledge_spec.rb
  spec/system/candidate_interface/candidate_entering_work_history_spec.rb
  spec/system/candidate_interface/candidate_selecting_a_course_spec.rb
Labels: Candidate

#513 Delete course courses
  app/controllers/candidate_interface/course_choices_controller.rb
  app/views/candidate_interface/course_choices/confirm_destroy.html.erb
  app/views/candidate_interface/course_choices/index.html.erb
  config/locales/application_form.yml
  config/locales/en.yml
  config/routes.rb
  spec/factories.rb
  spec/system/candidate_interface/candidate_selecting_a_course_spec.rb
  spec/system/candidate_interface/candidate_viewing_application_spec.rb
Labels: Candidate

#512 Render personal statement content onto review page
  app/views/candidate_interface/application_form/review.html.erb
  spec/system/candidate_interface/candidate_reviewing_application_spec.rb
Labels: Candidate

#501 Integrate SendApplicationsToProvider with Sidekiq & Clockwork
  app/services/send_applications_to_provider.rb
  app/workers/send_applications_to_provider_worker.rb
  config/clock.rb
  docs/domain-model.png
  docs/states.png
  spec/support_specs/clockwork_spec.rb
Labels: Core

#493 Add checkbox for course confirmation
  app/controllers/candidate_interface/course_choices_controller.rb
  app/models/application_form.rb
  app/presenters/candidate_interface/application_form_presenter.rb
  app/views/candidate_interface/application_form/show.html.erb
  app/views/candidate_interface/course_choices/index.html.erb
  config/locales/application_form.yml
  config/routes.rb
  db/migrate/20191112135402_add_course_choices_completed_to_application_forms.rb
  db/schema.rb
  spec/support/test_helpers/candidate_helper.rb
  spec/system/candidate_interface/candidate_selecting_a_course_spec.rb
  spec/system/candidate_interface/candidate_submitting_application_spec.rb
Labels: Candidate

#511 Add ability to complete and review volunteering section when submitting application
  app/controllers/candidate_interface/volunteering/review_controller.rb
  app/presenters/candidate_interface/application_form_presenter.rb
  app/views/candidate_interface/application_form/review.html.erb
  app/views/candidate_interface/application_form/show.html.erb
  app/views/candidate_interface/volunteering/review/show.html.erb
  config/locales/application_form.yml
  config/routes.rb
  db/migrate/20191113164237_add_volunteering_completed_to_application_form.rb
  db/schema.rb
  docs/domain-model.png
  spec/factories.rb
  spec/presenters/candidate_interface/application_form_presenter_spec.rb
  spec/support/test_helpers/candidate_helper.rb
  spec/system/candidate_interface/candidate_entering_volunteering_and_school_experience_spec.rb
  spec/system/candidate_interface/candidate_reviewing_application_spec.rb
  spec/system/vendor_api/vendor_receives_application_spec.rb
Labels: Candidate

#479 Return applications for accrediting providers
  app/controllers/provider_interface/application_choices_controller.rb
  app/models/application_choice.rb
  app/models/course.rb
  app/services/get_application_choices_for_provider.rb
  app/services/sync_provider_from_find.rb
  db/migrate/20191107110337_add_accrediting_provider_to_courses.rb
  db/schema.rb
  spec/services/get_application_choices_for_provider_spec.rb
  spec/services/sync_provider_from_find_spec.rb
  spec/support/test_helpers/course_option_helpers.rb
  spec/support/test_helpers/find_api_helper.rb
  spec/system/provider_interface/see_applications_for_accrediting_provider_spec.rb
  spec/system/support_interface/providers_spec.rb
Labels: ProVendor

#526 Remove training with a disability section
  app/components/training_with_a_disability_review_component.html.erb
  app/components/training_with_a_disability_review_component.rb
  app/controllers/candidate_interface/training_with_a_disability_controller.rb
  app/models/candidate_interface/training_with_a_disability_form.rb
  app/presenters/candidate_interface/application_form_presenter.rb
  app/presenters/vendor_api/single_application_presenter.rb
  app/views/candidate_interface/application_form/review.html.erb
  app/views/candidate_interface/application_form/show.html.erb
  app/views/candidate_interface/training_with_a_disability/edit.html.erb
  app/views/candidate_interface/training_with_a_disability/show.html.erb
  config/locales/application_form.yml
  config/locales/en.yml
  config/routes.rb
  spec/components/training_with_a_disability_review_component_spec.rb
  spec/factories.rb
  spec/models/candidate_interface/training_with_a_disability_form_spec.rb
  spec/presenters/candidate_interface/application_form_presenter_spec.rb
  spec/support/test_helpers/candidate_helper.rb
  spec/system/candidate_interface/candidate_entering_disability_info.rb
  spec/system/candidate_interface/candidate_reviewing_application_spec.rb
Labels: Candidate

#494 Add dynamic validation for qualification grade
  app/components/gcse_qualification_review_component.rb
  app/models/candidate_interface/gcse_qualification_details_form.rb
  config/locales/application_form.yml
  config/locales/gcse_details.yml
  spec/models/candidate_interface/gcse_qualification_details_form_spec.rb
Labels: Candidate

#498 Provider rejects an application via provider_interface
  app/components/flash_message_component.html.erb
  app/components/flash_message_component.rb
  app/components/success_flash_component.html.erb
  app/components/success_flash_component.rb
  app/components/summary_card_component.html.erb
  app/components/summary_card_component.rb
  app/controllers/provider_interface/decisions_controller.rb
  app/frontend/styles/_app-banner.scss
  app/frontend/styles/_status-box.scss
  app/frontend/styles/_summary-card.scss
  app/frontend/styles/application.scss
  app/presenters/provider_interface/application_choice_presenter.rb
  app/services/reject_application.rb
  app/views/provider_interface/application_choices/show.html.erb
  app/views/provider_interface/decisions/confirm_reject.html.erb
  app/views/provider_interface/decisions/new_reject.html.erb
  app/views/provider_interface/decisions/respond.html.erb
  config/routes.rb
  spec/system/provider_interface/provider_rejects_application_spec.rb
  spec/system/provider_interface/provider_responds_to_application_spec.rb
Labels: ProVendor

#597 Set the `rejected_by_default` flag
  app/services/reject_application_by_default.rb
  features/reject_by_default.feature
  features/step_definitions/application_steps.rb
  spec/services/reject_application_by_default_spec.rb
Labels: Core, ProVendor

#604 Add ability to view application from application dashboard
  app/controllers/candidate_interface/application_form_controller.rb
  app/views/candidate_interface/application_form/_review.html.erb
  app/views/candidate_interface/application_form/complete.html.erb
  app/views/candidate_interface/application_form/review.html.erb
  app/views/candidate_interface/application_form/review_submitted.html.erb
  config/locales/en.yml
  config/routes.rb
  spec/system/candidate_interface/candidate_submitting_application_spec.rb
Labels: Candidate

#602 Remove whitespacing for award year of a degree
  app/controllers/candidate_interface/degrees/base_controller.rb
  spec/system/candidate_interface/candidate_entering_degrees_spec.rb
Labels: Candidate

#594 Add middleware for Sidekiq to set audited 'user'
  app/components/support_interface/audit_trail_item_component.rb
  config/initializers/sidekiq.rb
  lib/workers/audit_trail_attribution_middleware.rb
  spec/components/support_interface/audit_trail_item_component_spec.rb
Labels: Core

#626 Add some conditional course choices content on application dashboard
  app/components/application_complete_content_component.html.erb
  app/components/application_complete_content_component.rb
  app/components/course_choices_review_component.rb
  app/components/tag_component.html.erb
  app/components/tag_component.rb
  app/frontend/styles/_tag.scss
  app/frontend/styles/application.scss
  app/helpers/view_helper.rb
  app/views/candidate_interface/application_form/complete.html.erb
  config/locales/candidate_application_states.yml
  spec/components/application_complete_content_component_spec.rb
  spec/components/course_choices_review_component_spec.rb
  spec/system/candidate_interface/candidate_submitting_application_spec.rb
Labels: Candidate

#633 Fix English and other language details fields
  app/components/provider_interface/language_skills_component.rb
  app/models/candidate_interface/personal_details_form.rb
  app/presenters/candidate_interface/personal_details_review_presenter.rb
  app/views/candidate_interface/personal_details/edit.html.erb
  spec/components/provider_interface/language_skills_component_spec.rb
  spec/models/candidate_interface/personal_details_form_spec.rb
  spec/presenters/candidate_interface/personal_details_review_presenter_spec.rb
  spec/system/provider_interface/see_individual_application_spec.rb
  spec/system/vendor_api/vendor_receives_application_spec.rb
Labels: Core

#646 Add view and respond to offer link and conditionally show withdrawal link and content
  app/components/course_choices_review_component.html.erb
  app/components/course_choices_review_component.rb
  config/locales/application_form.yml
  spec/components/course_choices_review_component_spec.rb
  spec/system/candidate_interface/candidate_submitting_application_spec.rb
Labels: Candidate

#650 Show a summary of an application and references on support
  app/components/provider_interface/reference_component.rb
  app/components/reference_with_feedback_component.html.erb
  app/components/reference_with_feedback_component.rb
  app/components/support_interface/application_summary_component.html.erb
  app/components/support_interface/application_summary_component.rb
  app/components/support_interface/applications_table_component.html.erb
  app/components/support_interface/applications_table_component.rb
  app/components/support_interface/audit_trail_component.rb
  app/controllers/support_interface/application_forms_controller.rb
  app/presenters/support_interface/application_form_audit_presenter.rb
  app/presenters/support_interface/application_form_presenter.rb
  app/views/provider_interface/application_choices/show.html.erb
  app/views/support_interface/application_forms/audit.html.erb
  app/views/support_interface/application_forms/index.html.erb
  app/views/support_interface/application_forms/show.html.erb
  spec/factories.rb
  spec/system/support_interface/audit_trail_spec.rb
  spec/system/support_interface/see_applications_spec.rb
  spec/system/support_interface/see_individual_application_spec.rb
Labels: ProVendor

#624 Add references to api response
  app/presenters/vendor_api/single_application_presenter.rb
  config/vendor-api-0.8.0.yml
  spec/system/vendor_api/vendor_receives_application_spec.rb
Labels: ProVendor

#647 Ensure no personal identifiable information is written to logs or Sentry
  config/initializers/filter_parameter_logging.rb
  config/initializers/raven.rb
Labels: Core

#644 Do not show all applications to providers not in the permissions mapping
  app/controllers/provider_interface/provider_interface_controller.rb
  app/lib/missing_provider.rb
  app/services/get_application_choices_for_provider.rb
  app/views/provider_interface/account_creation_in_progress.html.erb
  features/step_definitions/application_steps.rb
  spec/factories.rb
  spec/requests/provider_interface/account_creation_in_progress_spec.rb
  spec/services/get_application_choices_for_provider_spec.rb
  spec/support/test_helpers/dfe_sign_in_helpers.rb
  spec/system/provider_interface/provider_makes_an_offer_spec.rb
  spec/system/provider_interface/provider_rejects_application_spec.rb
  spec/system/provider_interface/provider_responds_to_application_spec.rb
  spec/system/provider_interface/see_applications_for_accrediting_provider_spec.rb
  spec/system/provider_interface/see_applications_spec.rb
  spec/system/provider_interface/see_individual_application_spec.rb
Labels: ProVendor

#653 Show message to providers when no applications have been received yet
  app/views/provider_interface/application_choices/index.html.erb
  spec/system/provider_interface/see_applications_spec.rb
Labels: ProVendor

#654 Show guidance by default on work history length page
  app/views/candidate_interface/work_history/length/show.html.erb
  config/locales/application_form.yml
  spec/support/test_helpers/candidate_helper.rb
  spec/system/candidate_interface/candidate_entering_work_history_not_worked_spec.rb
  spec/system/candidate_interface/candidate_entering_work_history_spec.rb
Labels: Content

#649 Bugfix *Which training provider are you applying to* when radios are unselected
  app/controllers/candidate_interface/course_choices_controller.rb
  app/models/candidate_interface/choose_training_provider_form.rb
  app/views/candidate_interface/course_choices/options_for_provider.html.erb
  config/locales/application_form.yml
  spec/models/candidate_interface/choose_training_provider_form_spec.rb
  spec/models/candidate_interface/work_history_form_spec.rb
Labels: Candidate

#651 Add ability to view an offer for a course choice
  app/components/course_choices_review_component.html.erb
  app/components/offer_conditions_review_component.html.erb
  app/components/offer_conditions_review_component.rb
  app/components/offer_review_component.html.erb
  app/components/offer_review_component.rb
  app/controllers/candidate_interface/course_choices_controller.rb
  app/views/candidate_interface/course_choices/offer.html.erb
  config/locales/en.yml
  config/routes.rb
  spec/components/course_choices_review_component_spec.rb
  spec/components/offer_review_component_spec.rb
  spec/system/candidate_interface/candidate_viewing_an_offer_spec.rb
Labels: Candidate

#642 Show missing sections in candidate review and prevent submission with missing sections
  app/components/contact_details_review_component.html.erb
  app/components/contact_details_review_component.rb
  app/components/course_choices_review_component.html.erb
  app/components/course_choices_review_component.rb
  app/components/gcse_qualification_review_component.html.erb
  app/components/personal_details_review_component.html.erb
  app/components/section_missing_banner_component.html.erb
  app/components/section_missing_banner_component.rb
  app/frontend/styles/_banner.scss
  app/views/candidate_interface/application_form/_review.html.erb
  spec/components/personal_details_review_component_spec.rb
Labels: Candidate

#645 Content advisor and DBS
  app/views/candidate_interface/personal_statement/becoming_a_teacher/edit.html.erb
  app/views/candidate_interface/referees/_intro.html.erb
  app/views/content/terms_provider.md
  app/views/provider_interface/decisions/new_offer.html.erb
  config/locales/submit_application.yml
  spec/support/test_helpers/find_api_helper.rb
Labels: Content

#673 Content check of build 6
  app/views/authentication_mailer/sign_up_email.text.erb
  app/views/candidate_interface/course_choices/_guidance.html.erb
  app/views/candidate_interface/personal_statement/subject_knowledge/edit.html.erb
Labels: Content

#677 Add hardcoded conditional content when all providers have reached a decision
  app/components/application_complete_content_component.html.erb
  app/components/application_complete_content_component.rb
  spec/components/application_complete_content_component_spec.rb
Labels: Candidate

#627 Content check of build 4
  app/views/candidate_interface/application_form/submit_success.html.erb
  config/locales/en.yml
  config/locales/submit_application_success.yml
  spec/system/candidate_interface/candidate_submitting_application_spec.rb
Labels: Content

#681 Add conditional content when candidate has accepted an offer
  app/components/application_complete_content_component.html.erb
  app/components/application_complete_content_component.rb
  spec/components/application_complete_content_component_spec.rb
Labels: Candidate

#684 Update privacy policy
  app/views/content/privacy_policy.md
Labels: Content

#682 Update application_form.yml
  config/locales/application_form.yml
Labels: Content

#685 Update content on submit application page
  app/views/candidate_interface/application_form/submit_show.html.erb
Labels: Content

#691 Content submission page tweaks
  app/views/candidate_interface/application_form/submit_success.html.erb
Labels: Content

#632 Add qualifications to api response
  app/presenters/vendor_api/single_application_presenter.rb
  config/vendor-api-0.8.0.yml
  spec/system/vendor_api/vendor_receives_application_spec.rb
Labels: ProVendor

#728 Add validation to ensure referee email is not the same as the candidate
  app/models/reference.rb
  config/locales/en.yml
  spec/models/reference_spec.rb
Labels: Candidate

#725 Fix incorrect path on Your application page when added volunteering
  app/components/course_choices_review_component.html.erb
  app/components/gcse_qualification_review_component.html.erb
  app/components/summary_list_component.html.erb
  app/controllers/candidate_interface/volunteering/experience_controller.rb
  app/models/candidate_interface/volunteering_experience_form.rb
  app/models/candidate_interface/volunteering_role_form.rb
  app/presenters/candidate_interface/application_form_presenter.rb
  app/views/candidate_interface/application_form/show.html.erb
  app/views/candidate_interface/volunteering/experience/show.html.erb
  db/migrate/20191127105827_add_volunteering_experience_to_application_form.rb
  db/schema.rb
  docs/domain-model.png
  spec/factories.rb
  spec/models/candidate_interface/volunteering_experience_form_spec.rb
  spec/models/candidate_interface/volunteering_role_form_spec.rb
  spec/presenters/candidate_interface/application_form_presenter_spec.rb
  spec/system/candidate_interface/candidate_entering_volunteering_and_school_experience_spec.rb
Labels: Candidate
