Repository DFE-Digital/apply-for-teacher-training, pull requests merged in 2019-12, with the labels that each got.

#775 Add conditional showing of Science GCSE on Your application page
  app/controllers/candidate_interface/application_form_controller.rb
  app/models/application_form.rb
  app/services/feature_flag.rb
  app/views/candidate_interface/application_form/show.html.erb
  spec/models/application_form_spec.rb
  spec/system/candidate_interface/candidate_viewing_a_science_gcse_spec.rb
Labels: Candidate

#782 Remove Science GCSE validation when not required
  app/presenters/candidate_interface/application_form_presenter.rb
  app/views/candidate_interface/application_form/_review.html.erb
  spec/system/candidate_interface/candidate_viewing_a_science_gcse_spec.rb
Labels: Candidate

#795 Pull in full address details of training provider location
  app/components/course_choices_review_component.rb
  app/models/site.rb
  app/services/sync_provider_from_find.rb
  app/views/candidate_interface/course_choices/options_for_site.html.erb
  db/migrate/20191204101615_add_address_to_site.rb
  db/schema.rb
  docs/domain-model.png
  spec/components/course_choices_review_component_spec.rb
  spec/factories.rb
  spec/models/site_spec.rb
  spec/services/sync_provider_from_find_spec.rb
  spec/support/test_helpers/find_api_helper.rb
  spec/system/candidate_interface/candidate_selecting_a_course_spec.rb
Labels: Candidate

#809 Skip site choice page when there is only one option
  app/controllers/candidate_interface/course_choices_controller.rb
  app/models/candidate_interface/pick_course_form.rb
  spec/models/candidate_interface/pick_course_form_spec.rb
  spec/support/test_helpers/candidate_helper.rb
  spec/system/candidate_interface/candidate_selecting_a_course_spec.rb
Labels: Candidate

#821 Add new providers and alphabetically reorder for readability
  config/providers_to_sync.yml
Labels: Core

#829 Add back training with a disability section with a feature flag
  app/components/training_with_a_disability_review_component.html.erb
  app/components/training_with_a_disability_review_component.rb
  app/controllers/candidate_interface/training_with_a_disability_controller.rb
  app/models/candidate_interface/training_with_a_disability_form.rb
  app/presenters/candidate_interface/application_form_presenter.rb
  app/presenters/vendor_api/single_application_presenter.rb
  app/services/feature_flag.rb
  app/views/candidate_interface/application_form/_review.html.erb
  app/views/candidate_interface/application_form/show.html.erb
  app/views/candidate_interface/training_with_a_disability/edit.html.erb
  app/views/candidate_interface/training_with_a_disability/show.html.erb
  config/locales/application_form.yml
  config/locales/en.yml
  config/locales/review_application.yml
  config/routes.rb
  spec/components/training_with_a_disability_review_component_spec.rb
  spec/models/candidate_interface/training_with_a_disability_form_spec.rb
  spec/presenters/candidate_interface/application_form_presenter_spec.rb
  spec/support/test_helpers/candidate_helper.rb
  spec/system/candidate_interface/candidate_entering_disability_info.rb
  spec/system/candidate_interface/candidate_reviewing_an_incomplete_application_spec.rb
  spec/system/candidate_interface/candidate_submitting_application_spec.rb
  spec/system/vendor_api/vendor_receives_application_spec.rb
Labels: Candidate

#836 Prevent candidates from being able to visit the withdraw and offer page for a course choice when in the incorrect state
  app/controllers/candidate_interface/decisions_controller.rb
  spec/system/candidate_interface/candidate_accepts_offer_spec.rb
  spec/system/candidate_interface/candidate_withdraws_spec.rb
Labels: Candidate

#839 Prevent candidates from being able to visit the decline and accept page for a course choice when in the incorrect state
  app/controllers/candidate_interface/decisions_controller.rb
  spec/system/candidate_interface/candidate_accepts_offer_spec.rb
  spec/system/candidate_interface/candidate_withdraws_spec.rb
Labels: Candidate

#851 Add study_mode information to courses, course_options and API responses
  app/models/course.rb
  app/models/course_option.rb
  app/presenters/vendor_api/single_application_presenter.rb
  app/services/get_application_choices_for_provider.rb
  app/services/sync_provider_from_find.rb
  db/migrate/20191211151916_add_study_mode_to_courses.rb
  db/migrate/20191211152614_add_study_mode_to_course_options.rb
  db/migrate/20191211160937_add_study_mode_index_to_course_options.rb
  db/schema.rb
  docs/domain-model.png
  spec/services/sync_provider_from_find_spec.rb
  spec/support/test_helpers/find_api_helper.rb
Labels: Core

#885 Update interview preferences to a question
  app/controllers/candidate_interface/personal_statement/interview_preferences_controller.rb
  app/models/candidate_interface/interview_preferences_form.rb
  app/views/candidate_interface/personal_statement/interview_preferences/edit.html.erb
  config/locales/application_form.yml
  spec/models/candidate_interface/interview_preferences_form_spec.rb
  spec/support/test_helpers/candidate_helper.rb
  spec/system/candidate_interface/candidate_entering_interview_preferences_spec.rb
Labels: Candidate

#892 Add chase email for referee and candidate
  app/components/reference_with_feedback_component.html.erb
  app/components/reference_with_feedback_component.rb
  app/controllers/support_interface/chase_reference_controller.rb
  app/mailers/candidate_mailer.rb
  app/services/send_chase_email_to_referee_and_candidate.rb
  app/views/candidate_mailer/reference_chaser_email.text.erb
  app/views/support_interface/application_forms/show.html.erb
  app/views/support_interface/chase_reference/show.html.erb
  config/locales/application_form.yml
  config/locales/chaser_emails.yml
  config/routes.rb
  spec/mailers/candidate_mailer_spec.rb
  spec/system/support_interface/send_chase_email_to_referee_and_candidate_spec.rb
Labels: Candidate

#845 Allow vendors to provide a course option as part of an /offer
  app/controllers/vendor_api/decisions_controller.rb
  app/models/application_choice.rb
  app/presenters/vendor_api/single_application_presenter.rb
  app/services/get_application_choices_for_provider.rb
  app/services/make_an_offer.rb
  config/vendor-api-v1.yml
  db/migrate/20191213162905_add_offered_course_option_idto_application_choice.rb
  db/schema.rb
  docs/domain-model.png
  spec/lib/openapi_spec.rb
  spec/requests/vendor_api/post_make_an_offer_spec.rb
Labels: ProVendor

#897 Add feature flag for editing of submitted applications
  app/components/application_complete_content_component.html.erb
  app/controllers/candidate_interface/application_form_controller.rb
  app/services/feature_flag.rb
  app/views/candidate_interface/application_form/edit.html.erb
  app/views/candidate_interface/application_form/edit_by_support.html.erb
  config/locales/application_complete.yml
  spec/system/candidate_interface/candidate_edits_application_after_submission_spec.rb
  spec/system/candidate_interface/candidate_submitting_application_spec.rb
Labels: Candidate

#903 Hide HESA ITT data from API responses unless status is enrolled
  app/presenters/vendor_api/single_application_presenter.rb
  config/vendor-api-v1.yml
  spec/presenters/vendor_api/single_application_presenter_spec.rb
  spec/system/vendor_api/vendor_receives_application_spec.rb
Labels: ProVendor

#925 Allow candidate to view 'Edit your application' page
  app/components/application_complete_content_component.rb
  app/controllers/candidate_interface/application_form_controller.rb
  app/controllers/candidate_interface/candidate_interface_controller.rb
  app/controllers/candidate_interface/contact_details/address_controller.rb
  app/controllers/candidate_interface/contact_details/base_controller.rb
  app/controllers/candidate_interface/contact_details/review_controller.rb
  app/controllers/candidate_interface/course_choices_controller.rb
  app/controllers/candidate_interface/degrees/base_controller.rb
  app/controllers/candidate_interface/degrees/review_controller.rb
  app/controllers/candidate_interface/gcse/details_controller.rb
  app/controllers/candidate_interface/gcse/review_controller.rb
  app/controllers/candidate_interface/gcse/type_controller.rb
  app/controllers/candidate_interface/other_qualifications/base_controller.rb
  app/controllers/candidate_interface/other_qualifications/destroy_controller.rb
  app/controllers/candidate_interface/other_qualifications/review_controller.rb
  app/controllers/candidate_interface/personal_details_controller.rb
  app/controllers/candidate_interface/personal_statement/becoming_a_teacher_controller.rb
  app/controllers/candidate_interface/personal_statement/interview_preferences_controller.rb
  app/controllers/candidate_interface/personal_statement/subject_knowledge_controller.rb
  app/controllers/candidate_interface/referees_controller.rb
  app/controllers/candidate_interface/volunteering/base_controller.rb
  app/controllers/candidate_interface/volunteering/destroy_controller.rb
  app/controllers/candidate_interface/volunteering/experience_controller.rb
  app/controllers/candidate_interface/volunteering/review_controller.rb
  app/controllers/candidate_interface/work_history/breaks_controller.rb
  app/controllers/candidate_interface/work_history/destroy_controller.rb
  app/controllers/candidate_interface/work_history/edit_controller.rb
  app/controllers/candidate_interface/work_history/explanation_controller.rb
  app/controllers/candidate_interface/work_history/length_controller.rb
  app/controllers/candidate_interface/work_history/review_controller.rb
  app/helpers/view_helper.rb
  app/models/application_form.rb
  app/views/candidate_interface/application_form/edit.html.erb
  app/views/candidate_interface/application_form/show.html.erb
  app/views/candidate_interface/application_form/submit_success.html.erb
  config/locales/application_complete.yml
  config/locales/en.yml
  spec/helpers/view_helper_spec.rb
  spec/system/candidate_interface/candidate_edits_application_after_submission_spec.rb
  spec/system/candidate_interface/candidate_submitting_application_spec.rb
Labels: Candidate

#926 Redirect to application form#show page without a completed application
  app/controllers/candidate_interface/application_form_controller.rb
  app/controllers/candidate_interface/candidate_interface_controller.rb
  spec/system/candidate_interface/candidate_viewing_application_spec.rb
Labels: Candidate

#931 Update resubmit button on application edit page
  app/controllers/candidate_interface/application_form_controller.rb
  app/views/candidate_interface/application_form/show.html.erb
  config/locales/application_complete.yml
  spec/system/candidate_interface/candidate_edits_application_after_submission_spec.rb
Labels: Candidate

#938 Fix interview preferences pre-population of 'None' in text area
  app/components/interview_preferences_review_component.rb
  app/models/candidate_interface/interview_preferences_form.rb
  spec/components/interview_preferences_review_component_spec.rb
  spec/models/candidate_interface/interview_preferences_form_spec.rb
Labels: Candidate

#930 Disallow editing references after application submission
  app/components/task_list_item_component.html.erb
  app/components/task_list_item_component.rb
  app/controllers/candidate_interface/referees_controller.rb
  app/views/candidate_interface/application_form/show.html.erb
  app/views/candidate_interface/referees/review.html.erb
  config/locales/application_complete.yml
  spec/system/candidate_interface/candidate_edits_application_after_submission_spec.rb
Labels: Candidate

#946 Add arrow on nationality drop down
  app/frontend/packs/nationality-autocomplete.js
  app/frontend/styles/_autocomplete.scss
Labels: Candidate

#939 Remove withdraw action from awaiting_references state
  app/services/application_state_change.rb
  docs/states.png
  features/successful_application_statuses.feature
  public/api_docs/states.png
  spec/system/candidate_interface/candidate_edits_course_choice_after_submission_spec.rb
Labels: Candidate, Core

#949 Add conditional info above referees in RefereesReviewComponent
  app/components/referees_review_component.html.erb
  config/locales/application_form.yml
  spec/components/referees_review_component_spec.rb
Labels: Candidate, Content

#964 Fix duplicated referees content on Application dashboard
  app/views/candidate_interface/application_form/complete.html.erb
Labels: Candidate
