Repository DFE-Digital/apply-for-teacher-training, pull requests merged in 2020-01, with the labels that each got.

#998 Fix `Complete section` link for work history on review application page
  app/components/work_history_review_component.html.erb
Labels: Candidate

#1001 Add survey emails for a candidate
  app/mailers/candidate_mailer.rb
  app/views/candidate_mailer/survey_chaser_email.text.erb
  app/views/candidate_mailer/survey_email.text.erb
  config/locales/survey_emails.yml
  spec/mailers/candidate_mailer_spec.rb
Labels: Core

#1003 Allow candidates to view an incorrect date format
  app/models/candidate_interface/personal_details_form.rb
  spec/models/candidate_interface/personal_details_form_spec.rb
  spec/system/candidate_interface/candidate_entering_personal_details_spec.rb
Labels: Candidate

#1005 Add survey emails for referees
  app/mailers/candidate_mailer.rb
  app/mailers/referee_mailer.rb
  app/views/survey_emails/chaser.text.erb
  app/views/survey_emails/initial.text.erb
  config/locales/survey_emails.yml
  spec/mailers/candidate_mailer_spec.rb
  spec/mailers/referee_mailer_spec.rb
Labels: Core

#1010 Update recruited and enrolled content on Application dashboard
  app/components/candidate_interface/application_complete_content_component.html.erb
  app/components/candidate_interface/application_complete_content_component.rb
  app/models/application_form.rb
  config/locales/application_complete.yml
  config/locales/application_states.yml
  spec/components/candidate_interface/application_complete_content_component_spec.rb
Labels: Candidate

#1006 Add separate URL for sign up check email page
  app/controllers/candidate_interface/sign_in_controller.rb
  app/controllers/candidate_interface/sign_up_controller.rb
  app/controllers/candidate_interface/start_page_controller.rb
  app/views/candidate_interface/shared/_check_your_email.html.erb
  app/views/candidate_interface/sign_in/check_your_email.html.erb
  config/routes.rb
Labels: Candidate

#1013 Fix all date fields that does not retain incorrect input value
  app/helpers/date_validation_helper.rb
  app/models/candidate_interface/volunteering_role_form.rb
  app/models/candidate_interface/work_experience_form.rb
  spec/system/candidate_interface/candidate_entering_volunteering_and_school_experience_spec.rb
  spec/system/candidate_interface/candidate_entering_work_history_spec.rb
Labels: Candidate

#1019 Add ability to send survey email to candidate from Support
  app/controllers/support_interface/survey_emails_controller.rb
  app/views/support_interface/application_forms/show.html.erb
  app/views/support_interface/survey_emails/show.html.erb
  config/locales/survey_emails.yml
  config/routes.rb
  spec/system/support_interface/send_survey_email_to_candidate_spec.rb
Labels: Core

#1032 Add `aria-describedby` for 'Change' links in work history
  app/components/summary_list_component.html.erb
  app/components/work_history_review_component.rb
  spec/components/work_history_review_component_spec.rb
Labels: Candidate

#1039 Add `aria-describedby` for 'Change' links in volunteering
  app/components/volunteering_review_component.rb
  app/components/work_history_review_component.rb
  app/helpers/aria_describedby_helper.rb
  spec/components/volunteering_review_component_spec.rb
Labels: Candidate

#1043 Add `aria-describedby` for 'Change' links in degree, other qualifications and referees
  app/components/candidate_interface/degrees_review_component.rb
  app/components/candidate_interface/other_qualifications_review_component.rb
  app/components/candidate_interface/referees_review_component.rb
  spec/components/candidate_interface/degrees_review_component_spec.rb
  spec/components/candidate_interface/other_qualifications_review_component_spec.rb
  spec/components/candidate_interface/referees_review_component_spec.rb
Labels: Candidate

#1053 Revert adding `aria-describedby` for sections
  app/components/candidate_interface/degrees_review_component.rb
  app/components/candidate_interface/other_qualifications_review_component.rb
  app/components/candidate_interface/referees_review_component.rb
  app/components/summary_list_component.html.erb
  app/components/volunteering_review_component.rb
  app/components/work_history_review_component.rb
  app/helpers/aria_describedby_helper.rb
  spec/components/candidate_interface/degrees_review_component_spec.rb
  spec/components/candidate_interface/other_qualifications_review_component_spec.rb
  spec/components/candidate_interface/referees_review_component_spec.rb
  spec/components/volunteering_review_component_spec.rb
  spec/components/work_history_review_component_spec.rb
Labels: Candidate

#1056 Update 'Change' links in work history for more context
  app/components/work_history_review_component.html.erb
  app/components/work_history_review_component.rb
  spec/components/work_history_review_component_spec.rb
Labels: Candidate

#1061 Update 'Change' links in referees for more context
  app/components/candidate_interface/referees_review_component.rb
  spec/components/candidate_interface/referees_review_component_spec.rb
Labels: Candidate

#1063 Update 'Change' links in volunteering for more context
  app/components/volunteering_review_component.rb
  spec/components/volunteering_review_component_spec.rb
Labels: Candidate

#1065 Update 'Change' links in degrees for more context
  app/components/candidate_interface/degrees_review_component.rb
  spec/components/candidate_interface/degrees_review_component_spec.rb
Labels: Candidate

#1066 Update 'Change' links in GCSEs for more context
  app/components/candidate_interface/gcse_qualification_review_component.rb
Labels: Candidate

#1067 Update 'Change' links in other qualifications for more context
  app/components/candidate_interface/other_qualifications_review_component.rb
  spec/components/candidate_interface/other_qualifications_review_component_spec.rb
Labels: Candidate

#1069 Update misc non-descriptive links
  app/components/candidate_interface/degrees_review_component.html.erb
  app/components/candidate_interface/degrees_review_component.rb
  app/components/candidate_interface/gcse_qualification_review_component.rb
  app/components/candidate_interface/other_qualifications_review_component.html.erb
  app/components/candidate_interface/other_qualifications_review_component.rb
  app/components/volunteering_review_component.html.erb
  app/components/volunteering_review_component.rb
  app/components/work_history_review_component.html.erb
  app/components/work_history_review_component.rb
  spec/components/candidate_interface/degrees_review_component_spec.rb
  spec/components/candidate_interface/other_qualifications_review_component_spec.rb
  spec/components/volunteering_review_component_spec.rb
  spec/components/work_history_review_component_spec.rb
Labels: Candidate

#1088 Add new referee request email to CandidateMailer
  app/mailers/candidate_mailer.rb
  app/views/candidate_mailer/new_referee_request.text.erb
  config/locales/new_referee_request.yml
  spec/mailers/candidate_mailer_spec.rb
Labels: Candidate

#1090 Add Colchester Teacher Training to providers to sync
  config/providers_to_sync.yml
Labels: Candidate

#1108 Remove reference import from support and remove the feature flag
  app/controllers/support_interface/import_references_controller.rb
  app/mailers/referee_mailer.rb
  app/services/feature_flag.rb
  app/services/import_references_from_csv.rb
  app/views/referee_mailer/reference_request_by_google_form_email.text.erb
  app/views/referee_mailer/reference_request_chaser_email.text.erb
  app/views/referee_mailer/reference_request_email.text.erb
  app/views/support_interface/application_forms/index.html.erb
  app/views/support_interface/candidates/index.html.erb
  app/views/support_interface/import_references/import.html.erb
  app/views/support_interface/import_references/index.html.erb
  config/routes.rb
  spec/mailers/referee_mailer_spec.rb
  spec/services/import_references_from_csv_spec.rb
  spec/system/candidate_interface/candidate_submitting_application_spec.rb
  spec/system/referee_interface/referee_can_submit_a_reference_for_candidate_spec.rb
  spec/system/referee_interface/referee_refuses_to_give_a_reference_spec.rb
  spec/system/support_interface/import_references_spec.rb
Labels: Core

#1116 Add uppercasing when entering and saving postcode
  app/frontend/styles/_postcode.scss
  app/frontend/styles/application.scss
  app/models/candidate_interface/contact_details_form.rb
  spec/models/candidate_interface/contact_details_form_spec.rb
Labels: Candidate

#1125 Automatically notify candidates that one of their referees has declined to give a reference
  app/controllers/referee_interface/reference_controller.rb
  app/controllers/support_interface/new_referee_request_controller.rb
  app/services/send_new_referee_request_email.rb
  spec/system/referee_interface/referee_refuses_to_give_a_reference_spec.rb
Labels: Candidate

#1145 Add first/last names to provider and support user database tables
  db/migrate/20200120095338_add_names_to_provider_users.rb
  db/migrate/20200120095434_add_names_to_support_users.rb
  db/schema.rb
  docs/domain-model.png
Labels: Provider onboarding

#1150 Add endpoint for Notify callback
  .env.test
  app/controllers/notify_controller.rb
  app/models/application_reference.rb
  app/services/process_notify_callback.rb
  config/locales/reference.yml
  config/routes.rb
  spec/requests/post_notify_callback_spec.rb
  spec/services/process_notify_callback_spec.rb
Labels: Core

#1131 Automate DfE Sign-In invitation as part of creating a provider user
  .env.example
  .env.test
  Gemfile
  Gemfile.lock
  app/controllers/support_interface/provider_users_controller.rb
  app/models/support_interface/provider_user_form.rb
  app/services/feature_flag.rb
  app/services/invite_provider_user.rb
  app/views/support_interface/provider_users/edit.html.erb
  app/views/support_interface/provider_users/new.html.erb
  azure-pipelines-deploy-template.yml
  azure-pipelines-release.yml
  azure-pipelines.yml
  azure/template.json
  docker-compose.azure.yml
  spec/services/invite_provider_user_spec.rb
  spec/support/test_helpers/dsi_api_helper.rb
Labels: Provider onboarding

#1140 Skip the 'waiting to be sent' state in sandbox
  .env.example
  app/lib/hosting_environment.rb
  app/services/receive_reference.rb
  app/services/sandbox_time_limit_calculator.rb
  app/services/send_application_to_provider.rb
  app/services/set_decline_by_default.rb
  app/services/submit_application.rb
  app/services/time_limit_calculator.rb
  azure-pipelines-deploy-template.yml
  azure-pipelines-release.yml
  azure-pipelines.yml
  azure/template.json
  docker-compose.azure.yml
  spec/services/receive_reference_spec.rb
  spec/services/send_application_to_provider_spec.rb
  spec/services/set_decline_by_default_spec.rb
  spec/services/submit_application_spec.rb
  spec/services/time_limit_calculator_spec.rb
Labels: Sandbox

#1162 Update content when referee refuses to give a reference
  app/views/referee_interface/reference/confirmation.html.erb
  spec/system/referee_interface/referee_refuses_to_give_a_reference_spec.rb
Labels: Candidate

#1158 Add `sign_up_email_bounced` attribute to Candidate
  db/migrate/20200121165133_add_sign_up_email_bounced_to_candidate.rb
  db/schema.rb
  docs/domain-model.png
Labels: Candidate

#1153 Content tweaks around providers making decisions
  app/components/provider_interface/status_box_component.html.erb
  app/controllers/provider_interface/decisions_controller.rb
  app/views/provider_interface/decisions/new_reject.html.erb
  spec/components/provider_interface/status_box_component_spec.rb
  spec/system/provider_interface/provider_makes_an_offer_spec.rb
Labels: Provider UI

#1171 Update content of initial survey email to candidate and add mailer preview for it
  app/mailers/previews/candidate_mailer_preview.rb
  app/views/survey_emails/initial.text.erb
  config/locales/survey_emails.yml
Labels: Candidate

#1160 Refactor test application generation
  app/lib/test_applications.rb
  app/workers/generate_test_applications.rb
  spec/workers/generate_test_applications_spec.rb
Labels: Sandbox

#1159 Fix skip the 'waiting to be sent' state in sandbox
  app/models/referee_interface/reference_feedback_form.rb
  app/services/send_application_to_provider.rb
  spec/models/referee_interface/reference_feedback_form_spec.rb
  spec/services/send_application_to_provider_spec.rb
  spec/services/submit_application_spec.rb
  spec/support/sandbox.rb
Labels: Sandbox

#1184 Add ability to see if candidate sign up email bounced in Support
  app/components/support_interface/candidates_table_component.rb
  app/mailers/authentication_mailer.rb
  app/services/process_notify_callback.rb
  config/locales/application_states.yml
  spec/factories.rb
  spec/mailers/authentication_mailer_spec.rb
  spec/services/process_notify_callback_spec.rb
  spec/system/support_interface/see_candidates_spec.rb
Labels: Support

#1170 Auto complete references in Sandbox
  app/controllers/candidate_interface/referees_controller.rb
  app/services/submit_application.rb
  config/locales/new_referee_request.yml
  spec/services/submit_application_spec.rb
  spec/system/candidate_interface/candidate_adding_referees_in_sandbox_spec.rb
Labels: Sandbox

#1151 Add product page for signed out providers
  app/controllers/provider_interface/start_page_controller.rb
  app/frontend/styles/_button.scss
  app/frontend/styles/_count.scss
  app/frontend/styles/_masthead.scss
  app/frontend/styles/_product-section.scss
  app/frontend/styles/application.scss
  app/views/layouts/_cookie_banner.html.erb
  app/views/layouts/_footer.html.erb
  app/views/layouts/_footer_meta_candidate.html.erb
  app/views/layouts/_footer_meta_provider.html.erb
  app/views/layouts/_header.html.erb
  app/views/layouts/_phase_banner.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/base.html.erb
  app/views/provider_interface/sessions/new.html.erb
  app/views/provider_interface/start_page/show.html.erb
  config/routes.rb
  public/provider/hero.svg
  public/provider/providers.png
  public/provider/respond.png
  public/provider/review.png
  public/provider/team.jpg
  public/provider/view.png
  spec/requests/provider_interface/landing_page_redirect_spec.rb
  spec/support/test_helpers/dfe_sign_in_helpers.rb
  spec/system/provider_interface/authentication_spec.rb
Labels: Provider onboarding

#1165 A candidates selected course from find is displayed after authentication
  app/controllers/candidate_interface/sign_in_controller.rb
  app/controllers/candidate_interface/sign_up_controller.rb
  app/models/candidate.rb
  app/services/candidate_interface/existing_candidate_authentication.rb
  spec/models/candidate_interface/sign_up_form_spec.rb
  spec/models/candidate_spec.rb
  spec/services/candidate_interface/existing_candidate_authentication_spec.rb
  spec/system/candidate_interface/candidate_new_user_with_course_params.rb
  spec/system/candidate_interface/candidate_new_user_with_course_params_spec.rb
Labels: Candidate

#1203 Remove warm-up script from deployment stage of pipeline
  azure-pipelines-deploy-template.yml
Labels: DevOps

#1210 Migration to add last_signed_in_at to candidate
  db/migrate/20200127171445_add_last_signed_in_at_to_candidate.rb
  db/schema.rb
Labels: Candidate

#1213 Withdraw from choices awaiting decision when a candidate accepts an offer
  app/services/accept_offer.rb
  spec/system/candidate_interface/candidate_accepts_offer_spec.rb
Labels: Candidate

#1208 Refactor apply_from_find_contoller#show logic into a service
  app/controllers/candidate_interface/apply_from_find_controller.rb
  app/services/candidate_interface/apply_from_find_page.rb
  spec/services/candidate_interface/apply_from_find_page_spec.rb
Labels: Candidate

#1200 Refactor DSI flow for provider and support interfaces
  app/controllers/dfe_sign_in_controller.rb
  app/controllers/provider_interface/provider_interface_controller.rb
  app/controllers/provider_interface/start_page_controller.rb
  app/controllers/support_interface/support_interface_controller.rb
  app/models/dfe_sign_in_user.rb
  app/models/navigation_items.rb
  app/views/layouts/_header.html.erb
  app/views/support_interface/unauthorized.html.erb
  spec/requests/provider_interface/landing_page_redirect_spec.rb
  spec/requests/support_interface/not_authorized_spec.rb
  spec/support/test_helpers/dfe_sign_in_helpers.rb
  spec/system/provider_interface/provider_fails_to_select_response_spec.rb
  spec/system/provider_interface/provider_makes_an_offer_spec.rb
  spec/system/provider_interface/provider_rejects_application_spec.rb
  spec/system/provider_interface/provider_responds_to_application_spec.rb
  spec/system/provider_interface/see_applications_for_accrediting_provider_spec.rb
  spec/system/provider_interface/see_applications_spec.rb
  spec/system/provider_interface/see_individual_application_spec.rb
  spec/system/support_interface/unauthorized_spec.rb
Labels: ProVendor

#1214 Add encrypted candidate ID to links in submitted application email
  app/helpers/view_helper.rb
  app/mailers/candidate_mailer.rb
  app/services/encryptor.rb
  app/services/feature_flag.rb
  app/views/candidate_mailer/submit_application_email.text.erb
  spec/mailers/candidate_mailer_spec.rb
  spec/services/encryptor_spec.rb
Labels: Candidate

#1201 Document the states & transitions from candidate perspective
  app/components/support_interface/application_status_tag_component.html.erb
  app/components/support_interface/application_summary_component.rb
  app/components/support_interface/applications_table_component.html.erb
  app/components/support_interface/candidates_table_component.html.erb
  app/components/support_interface/state_event_explanation_component.html.erb
  app/components/support_interface/state_event_explanation_component.rb
  app/components/support_interface/state_explanation_component.html.erb
  app/components/support_interface/state_explanation_component.rb
  app/controllers/support_interface/docs_controller.rb
  app/lib/state_diagram.rb
  app/services/application_state_change.rb
  app/services/process_state.rb
  app/views/layouts/_footer_meta_support.html.erb
  app/views/support_interface/docs/candidate_flow.html.erb
  app/views/support_interface/docs/index.html.erb
  app/views/support_interface/docs/provider_flow.html.erb
  config/locales/application_states.yml
  config/routes.rb
  spec/system/support_interface/docs_spec.rb
Labels: Support

#1219 Do not open courses not visible in Find when opening all courses for a provider
  app/controllers/support_interface/providers_controller.rb
  app/models/course.rb
  app/services/open_provider_courses.rb
  lib/tasks/local_dev.rake
  spec/services/open_provider_courses_spec.rb
Labels: Candidate

#1167 Add work breaks betweek work sections (1st part)
  app/components/break_in_work_history_component.html.erb
  app/components/break_in_work_history_component.rb
  app/components/work_history_review_component.html.erb
  app/services/feature_flag.rb
  app/services/get_breaks_in_months.rb
  spec/components/break_in_work_history_component_spec.rb
  spec/services/get_breaks_in_months_spec.rb
  spec/system/candidate_interface/candidate_entering_work_history_spec.rb
Labels: Candidate

#1211 Add flash message telling them their account has been created
  app/controllers/candidate_interface/sign_in_controller.rb
  app/models/candidate.rb
  config/locales/apply_from_find.yml
  docs/domain-model.png
  spec/system/candidate_interface/candidate_new_user_with_course_params_spec.rb
Labels: Candidate

#1222 Add expired link page and automatically send sign in email if encrypted candidate ID
  app/controllers/candidate_interface/sign_in_controller.rb
  app/mailers/candidate_mailer.rb
  app/views/candidate_interface/sign_in/expired.html.erb
  app/views/candidate_mailer/application_under_consideration.text.erb
  config/locales/authentication.yml
  config/routes.rb
  spec/system/candidate_interface/candidate_clicking_on_expired_link_spec.rb
Labels: Candidate

#1224 Allow provider users to act as candidates in sandbox environments
  app/controllers/provider_interface/candidates_controller.rb
  app/views/provider_interface/application_choices/show.html.erb
  config/routes.rb
  spec/requests/provider_interface/provider_user_impersonates_candidate_spec.rb
  spec/system/provider_interface/provider_acts_as_candidate_on_sandbox_spec.rb
Labels: ProVendor

#1220 Add application form reporting to the service performance page
  app/models/performance_statistics.rb
  app/views/support_interface/performance/index.html.erb
  spec/models/performance_statistics_spec.rb
  spec/system/support_interface/service_performance_spec.rb
Labels: Support

#1182 Improvements to API test data generation
  app/controllers/api_docs/openapi_controller.rb
  app/controllers/vendor_api/test_data_controller.rb
  app/lib/test_applications.rb
  app/models/vendor_api/open_api_spec.rb
  app/presenters/api_docs/api_reference.rb
  app/services/feature_flag.rb
  config/routes.rb
  config/vendor-api-experimental.yml
  config/vendor-api-v1.yml
  spec/factories.rb
  spec/lib/openapi_spec.rb
  spec/lib/test_applications_spec.rb
  spec/models/vendor_api/open_api_spec_spec.rb
  spec/presenters/api_docs/api_schema_spec.rb
  spec/requests/vendor_api/post_test_data_clear_spec.rb
  spec/requests/vendor_api/post_test_data_generate_spec.rb
  spec/requests/vendor_api/post_test_data_regenerate_spec.rb
  spec/requests/vendor_api/post_test_data_spec.rb
  spec/services/application_state_change_spec.rb
  spec/support/vendor_api/vendor_api_spec_helpers.rb
  spec/workers/generate_test_applications_spec.rb
Labels: ProVendor

#1172 Add page to explain testing in the Sandbox
  app/controllers/content_controller.rb
  app/lib/hosting_environment.rb
  app/views/api_docs/pages/home.md
  app/views/content/sandbox.html.erb
  config/locales/en.yml
  config/routes.rb
Labels: Needs content review, Sandbox

#1225 Improve process documentation for vendors
  app/components/state_event_explanation_component.html.erb
  app/components/state_event_explanation_component.rb
  app/components/state_explanation_component.html.erb
  app/components/state_explanation_component.rb
  app/components/support_interface/state_event_explanation_component.rb
  app/components/support_interface/state_explanation_component.rb
  app/models/navigation_items.rb
  app/views/api_docs/pages/home.md
  app/views/api_docs/pages/lifecycle.html.erb
  app/views/support_interface/docs/candidate_flow.html.erb
  app/views/support_interface/docs/provider_flow.html.erb
  config/locales/application_states.yml
  config/locales/en.yml
  config/routes.rb
  config/vendor-api-v1.yml
  lib/tasks/generate_state_diagram.rake
  public/api_docs/states.png
Labels: ProVendor

#1233 Add redirect to send new sign in email page when expired token is used
  app/controllers/candidate_interface/sign_in_controller.rb
  app/services/find_candidate_by_token.rb
  app/warden/magic_link_strategy.rb
  spec/system/candidate_interface/candidate_clicking_on_expired_link_spec.rb
Labels: Candidate

#1247 Add chaser emails table
  db/migrate/20200131130342_create_chasers_sent.rb
  db/schema.rb
Labels: Candidate
