Repository DFE-Digital/apply-for-teacher-training, pull requests merged in 2020-02, with the labels that each got.

#1270 Refactor calculating of work gaps and add handling for current job covering following breaks
  app/components/break_in_work_history_component.html.erb
  app/components/break_in_work_history_component.rb
  app/components/work_history_review_component.html.erb
  app/components/work_history_review_component.rb
  app/services/get_work_history_with_breaks.rb
  spec/components/break_in_work_history_component_spec.rb
  spec/services/get_work_history_with_breaks_spec.rb
Labels: Candidate

#1238 Migration to add questionnaire column to reference
  db/migrate/20200130161527_add_questionnaire_to_references.rb
  db/schema.rb
  docs/domain-model.png
Labels: Candidate

#1228 Automate email chasing referees for a response
  app/models/application_reference.rb
  app/models/candidate.rb
  app/models/chaser_sent.rb
  app/services/get_referees_to_chase.rb
  app/services/send_chase_email_to_referee_and_candidate.rb
  app/workers/send_chase_email_to_referees_worker.rb
  config/clock.rb
  spec/factories.rb
  spec/services/get_referees_to_chase_spec.rb
  spec/services/send_chase_email_to_referee_and_candidate_spec.rb
  spec/support_specs/clockwork_spec.rb
  spec/system/referee_interface/referee_does_not_respond_spec.rb
Labels: Candidate

#1295 Refactor `GetWorkHistoryWithBreaks` to `WorkHistoryWithBreaks` and its implementation
  app/components/break_in_work_history_component.rb
  app/components/work_history_review_component.html.erb
  app/components/work_history_review_component.rb
  app/services/get_work_history_with_breaks.rb
  app/services/work_history_with_breaks.rb
  spec/components/break_in_work_history_component_spec.rb
  spec/services/work_history_with_breaks_spec.rb
Labels: Candidate

#1312 Add ability to add another job when there is a break
  app/components/break_in_work_history_component.html.erb
  app/components/break_in_work_history_component.rb
  app/controllers/candidate_interface/work_history/edit_controller.rb
  app/services/work_history_with_breaks.rb
  spec/components/break_in_work_history_component_spec.rb
  spec/services/work_history_with_breaks_spec.rb
  spec/system/candidate_interface/candidate_entering_work_history_spec.rb
Labels: Candidate

#1318 Refactor provider select page to have a drop down bar
  app/frontend/packs/application.js
  app/frontend/packs/providers-autocomplete.js
  app/helpers/view_helper.rb
  app/models/candidate_interface/pick_provider_form.rb
  app/views/candidate_interface/course_choices/options_for_provider.html.erb
  spec/models/candidate_interface/pick_provider_form_spec.rb
  spec/support/test_helpers/candidate_helper.rb
  spec/system/candidate_interface/candidate_edits_course_choice_after_submission_spec.rb
  spec/system/candidate_interface/candidate_selecting_a_course_not_on_apply_spec.rb
  spec/system/candidate_interface/candidate_selecting_a_course_spec.rb
Labels: Candidate

#1297 Add questionnaire for referees who choose to give a reference
  app/controllers/referee_interface/questionnaire_form.rb
  app/controllers/referee_interface/reference_controller.rb
  app/views/referee_interface/reference/confirmation.html.erb
  config/locales/referee.yml
  config/routes.rb
  spec/factories.rb
  spec/models/referee_interface/questionnaire_form_spec.rb
  spec/system/referee_interface/referee_can_submit_a_reference_for_candidate_spec.rb
Labels: Candidate

#1329 Add feature flag API
  app/controllers/integrations/feature_flags_controller.rb
  app/controllers/integrations/integrations_controller.rb
  app/controllers/integrations/notify_controller.rb
  config/routes.rb
  spec/requests/integrations/feature_flags_spec.rb
Labels: Candidate

#1321 Rename other qualifications section
  app/components/candidate_interface/other_qualifications_review_component.html.erb
  app/components/qualifications_component.html.erb
  app/views/candidate_interface/application_form/_review.html.erb
  app/views/candidate_interface/other_qualifications/base/_form.html.erb
  app/views/candidate_interface/other_qualifications/review/show.html.erb
  config/locales/en.yml
  spec/support/test_helpers/candidate_helper.rb
  spec/system/candidate_interface/candidate_entering_other_qualification_spec.rb
  spec/system/provider_interface/see_individual_application_spec.rb
Labels: Candidate

#1283 Provider withdraws offered applications
  app/components/candidate_interface/course_choices_review_component.rb
  app/components/provider_interface/application_status_tag_component.rb
  app/components/provider_interface/edit_response_options_component.html.erb
  app/components/provider_interface/edit_response_options_component.rb
  app/components/provider_interface/status_box_component.html.erb
  app/components/provider_interface/status_box_component.rb
  app/controllers/provider_interface/decisions_controller.rb
  app/controllers/vendor_api/decisions_controller.rb
  app/lib/state_change_notifier.rb
  app/models/application_choice.rb
  app/models/provider_interface/edit_response_form.rb
  app/presenters/vendor_api/single_application_presenter.rb
  app/services/feature_flag.rb
  app/services/set_decline_by_default.rb
  app/services/withdraw_offer.rb
  app/views/api_docs/pages/release_notes.md
  app/views/provider_interface/application_choices/show.html.erb
  app/views/provider_interface/decisions/confirm_withdraw_offer.html.erb
  app/views/provider_interface/decisions/new_edit_response.html.erb
  app/views/provider_interface/decisions/new_withdraw_offer.html.erb
  config/locales/application_states.yml
  config/routes.rb
  config/vendor-api-v1.yml
  docs/domain-model.png
  spec/components/candidate_interface/course_choices_review_component_spec.rb
  spec/components/provider_interface/status_box_component_spec.rb
  spec/lib/state_change_notifier_spec.rb
  spec/presenters/vendor_api/single_application_presenter_spec.rb
  spec/requests/vendor_api/post_reject_application_spec.rb
  spec/services/application_state_change_spec.rb
  spec/services/withdraw_offer_spec.rb
  spec/system/provider_interface/provider_withdraws_an_offer_spec.rb
Labels: ProVendor, Provider UI

#1327 Add sending of a confirmation email when reference submitted
  app/controllers/referee_interface/reference_controller.rb
  app/mailers/previews/referee_mailer_preview.rb
  app/mailers/referee_mailer.rb
  app/services/feature_flag.rb
  app/services/send_reference_confirmation_email.rb
  app/views/referee_mailer/reference_confirmation_email.text.erb
  config/locales/application_states.yml
  config/locales/referee.yml
  spec/mailers/referee_mailer_spec.rb
  spec/system/referee_interface/referee_can_submit_a_reference_for_candidate_spec.rb
Labels: Candidate

#1279 Allow candidates to provide new referees
  app/components/candidate_interface/new_references_needed_component.html.erb
  app/components/candidate_interface/new_references_needed_component.rb
  app/controllers/candidate_interface/additional_referees_controller.rb
  app/models/application_reference.rb
  app/services/feature_flag.rb
  app/services/reference_status.rb
  app/views/candidate_interface/additional_referees/confirm.html.erb
  app/views/candidate_interface/additional_referees/edit.html.erb
  app/views/candidate_interface/additional_referees/new.html.erb
  app/views/candidate_interface/application_form/complete.html.erb
  app/views/support_interface/application_forms/show.html.erb
  config/locales/additional_referees.yml
  config/locales/application_form.yml
  config/routes.rb
  db/migrate/20200211141124_add_replacement_to_references.rb
  db/schema.rb
  docs/domain-model.png
  spec/factories.rb
  spec/services/reference_status_spec.rb
  spec/system/candidate_interface/candidate_needs_to_provide_new_referee_spec.rb
  spec/system/candidate_interface/candidate_needs_to_provide_two_new_referees_spec.rb
Labels: Candidate

#1320 Added persistence settings for Redis to ARM template.
  azure/template.json
Labels: DevOps

#1311 Add authorisation service to enforce make_offer user/course association
  app/controllers/provider_interface/decisions_controller.rb
  app/controllers/vendor_api/decisions_controller.rb
  app/lib/test_applications.rb
  app/models/vendor_api_user.rb
  app/services/make_an_offer.rb
  app/services/provider_authorisation.rb
  spec/factories.rb
  spec/services/make_an_offer_spec.rb
  spec/services/provider_authorisation_spec.rb
Labels: ProVendor

#1323 Error and catch to stop zero applications creation
  app/controllers/vendor_api/test_data_controller.rb
  app/lib/test_applications.rb
  app/views/api_docs/pages/release_notes.md
  config/vendor-api-experimental.yml
  spec/lib/test_applications_spec.rb
  spec/requests/vendor_api/post_test_data_generate_spec.rb
Labels: ProVendor

#1305 Show reference status on the candidate dashboard
  app/components/candidate_interface/referees_review_component.rb
  config/locales/reference.yml
  spec/components/candidate_interface/referees_review_component_spec.rb
  spec/system/candidate_interface/candidate_adding_referees_in_sandbox_spec.rb
Labels: Candidate

#1337 Add section in "Add a job" page to ask the candidate if they want to add another job
  app/controllers/candidate_interface/work_history/edit_controller.rb
  app/models/candidate_interface/work_experience_form.rb
  app/views/candidate_interface/work_history/edit/_form.html.erb
  spec/system/candidate_interface/candidate_entering_work_history_spec.rb
Labels: Candidate

#1319 Release pipeline speed improvements.
  azure-pipelines-deploy-template.yml
  azure/template.json
  docs/deployment.md
Labels: DevOps

#1342 Refactor out a system spec specifically for new work history breaks
  spec/system/candidate_interface/candidate_enter_work_history_breaks_spec.rb
  spec/system/candidate_interface/candidate_entering_work_history_spec.rb
Labels: Candidate

#1348 Add WorkHistoryBreakForm with basic validation
  app/models/application_form.rb
  app/models/application_work_history_breaks.rb
  app/models/candidate_interface/work_history_break_form.rb
  config/locales/application_form.yml
  spec/models/candidate_interface/volunteering_role_form_spec.rb
  spec/models/candidate_interface/work_experience_form_spec.rb
  spec/models/candidate_interface/work_history_break_form_spec.rb
  spec/support/candidate_interface/shared_examples/start_and_end_date_validation.rb
Labels: Candidate

#1351 Update content of survey email to candidate
  app/views/survey_emails/initial.text.erb
  config/locales/survey_emails.yml
Labels: Candidate

#1344 Remove referee survey and chase survey emails
  app/mailers/previews/referee_mailer_preview.rb
  app/mailers/referee_mailer.rb
  spec/mailers/referee_mailer_spec.rb
  spec/system/support_interface/docs_spec.rb
Labels: Candidate

#1343 Update content on application is being considered email
  app/mailers/candidate_mailer.rb
  app/views/candidate_mailer/application_under_consideration.text.erb
  config/locales/send_application_to_provider.yml
  spec/mailers/candidate_mailer_spec.rb
Labels: Candidate

#1360 Add ability to enter a reason for a break
  app/components/break_in_work_history_component.html.erb
  app/components/break_in_work_history_component.rb
  app/components/break_placeholder_in_work_history_component.html.erb
  app/components/break_placeholder_in_work_history_component.rb
  app/components/work_history_review_component.html.erb
  app/components/work_history_review_component.rb
  app/controllers/candidate_interface/candidate_interface_controller.rb
  app/controllers/candidate_interface/volunteering/base_controller.rb
  app/controllers/candidate_interface/work_history/break_controller.rb
  app/controllers/candidate_interface/work_history/edit_controller.rb
  app/frontend/styles/_summary-card.scss
  app/models/application_work_history_break.rb
  app/models/candidate_interface/work_history_break_form.rb
  app/services/work_history_with_breaks.rb
  app/views/candidate_interface/work_history/break/new.html.erb
  config/locales/application_form.yml
  config/locales/en.yml
  config/routes.rb
  spec/components/break_in_work_history_component_spec.rb
  spec/components/break_placeholder_in_work_history_component_spec.rb
  spec/factories.rb
  spec/models/candidate_interface/work_history_break_form_spec.rb
  spec/services/work_history_with_breaks_spec.rb
  spec/system/candidate_interface/candidate_entering_work_history_breaks_spec.rb
Labels: Candidate

#1358 Add email for all choices being rejected
  app/mailers/candidate_mailer.rb
  app/services/feature_flag.rb
  app/views/candidate_mailer/all_application_choices_rejected.erb
  config/locales/application_choice_rejected_email.yml
  config/locales/application_states.yml
  spec/mailers/candidate_mailer_spec.rb
Labels: Candidate, Needs content review

#1367 Add ability to delete a work history break
  app/components/break_in_work_history_component.html.erb
  app/components/break_in_work_history_component.rb
  app/controllers/candidate_interface/work_history/break_controller.rb
  app/services/work_history_with_breaks.rb
  app/views/candidate_interface/work_history/break/confirm_destroy.html.erb
  config/locales/en.yml
  config/routes.rb
  spec/components/break_in_work_history_component_spec.rb
  spec/services/work_history_with_breaks_spec.rb
  spec/system/candidate_interface/candidate_entering_work_history_breaks_spec.rb
Labels: Candidate

#1376 Update work history break content and don't prefill end date if now
  app/components/break_placeholder_in_work_history_component.html.erb
  app/components/break_placeholder_in_work_history_component.rb
  app/controllers/candidate_interface/work_history/edit_controller.rb
  spec/components/break_placeholder_in_work_history_component_spec.rb
  spec/system/candidate_interface/candidate_entering_work_history_breaks_spec.rb
Labels: Candidate

#1371 Implementation of automated all choices rejected email
  app/services/reject_application.rb
  app/services/send_candidate_rejection_email.rb
  spec/services/send_candidate_rejection_email_spec.rb
  spec/system/candidate_interface/candidate_receives_rejection_email_spec.rb
Labels: Candidate

#1383 Refactor WorkHistoryWithBreaks service
  app/components/work_history_review_component.html.erb
  app/services/work_history_with_breaks.rb
  spec/services/work_history_with_breaks_spec.rb
Labels: Candidate

#1378 Add automation of rejection email (2 of 4)
  app/mailers/candidate_mailer.rb
  app/mailers/previews/candidate_mailer_preview.rb
  app/services/reject_application.rb
  app/services/send_candidate_rejection_email.rb
  app/views/candidate_mailer/application_rejected/all_rejected.erb
  app/views/candidate_mailer/application_rejected/awaiting_decisions.erb
  config/locales/application_choice_rejected_email.yml
  config/locales/application_states.yml
  spec/mailers/candidate_mailer_spec.rb
  spec/services/send_candidate_rejection_email_spec.rb
  spec/system/candidate_interface/candidate_receives_rejection_email_spec.rb
Labels: Candidate

#1391 Update to only show work history breaks within the last 5 years
  app/components/break_placeholder_in_work_history_component.html.erb
  app/services/work_history_with_breaks.rb
  spec/components/break_placeholder_in_work_history_component_spec.rb
  spec/services/work_history_with_breaks_spec.rb
  spec/system/candidate_interface/candidate_entering_work_history_breaks_spec.rb
Labels: Candidate

#1389 Add candidate rejected email for when offers have been made
  app/mailers/candidate_mailer.rb
  app/mailers/previews/candidate_mailer_preview.rb
  app/services/reject_application.rb
  app/services/send_candidate_rejection_email.rb
  app/views/candidate_mailer/application_rejected/all_rejected.erb
  app/views/candidate_mailer/application_rejected/awaiting_decisions.erb
  app/views/candidate_mailer/application_rejected/offers_made.erb
  app/views/candidate_mailer/new_offer/single_offer.text.erb
  config/locales/application_choice_rejected_email.yml
  config/locales/application_states.yml
  spec/mailers/candidate_mailer_spec.rb
  spec/services/send_candidate_rejection_email_spec.rb
  spec/system/candidate_interface/candidate_receives_rejection_email_spec.rb
Labels: Candidate

#1398 Fix work history break form blowing up when end date is blank
  app/helpers/date_validation_helper.rb
  app/models/candidate_interface/volunteering_role_form.rb
  app/models/candidate_interface/work_experience_form.rb
  app/models/candidate_interface/work_history_break_form.rb
  spec/models/candidate_interface/volunteering_role_form_spec.rb
  spec/models/candidate_interface/work_experience_form_spec.rb
  spec/models/candidate_interface/work_history_break_form_spec.rb
  spec/support/candidate_interface/shared_examples/end_date_validation.rb
  spec/support/candidate_interface/shared_examples/start_and_end_date_validation.rb
  spec/support/candidate_interface/shared_examples/start_date_validation.rb
Labels: Candidate

#1394 Update WorkHistoryWithBreaks to handle overlapping job and existing break
  app/services/work_history_with_breaks.rb
  spec/services/work_history_with_breaks_spec.rb
Labels: Candidate

#1400 Update to show work history breaks in years and months
  app/components/break_placeholder_in_work_history_component.html.erb
  app/components/break_placeholder_in_work_history_component.rb
  spec/components/break_placeholder_in_work_history_component_spec.rb
Labels: Candidate

#1407 Update API to handle individual work history breaks
  app/presenters/vendor_api/single_application_presenter.rb
  spec/presenters/vendor_api/single_application_presenter_spec.rb
Labels: ProVendor

#1410 Refactor bug caused by SendCandidateRejectionEmail
  app/services/send_candidate_rejection_email.rb
  spec/services/send_candidate_rejection_email_spec.rb
Labels: Candidate

#1428 Get ready to launcharoo work history breaks!
  app/components/break_in_work_history_component.html.erb
  app/components/break_placeholder_in_work_history_component.html.erb
  app/components/break_placeholder_in_work_history_component.rb
  app/components/work_history_review_component.html.erb
  app/components/work_history_review_component.rb
  app/controllers/candidate_interface/work_history/break_controller.rb
  app/helpers/view_helper.rb
  spec/components/break_in_work_history_component_spec.rb
  spec/components/work_history_review_component_spec.rb
  spec/system/candidate_interface/candidate_entering_work_history_breaks_spec.rb
Labels: Candidate

#1444 Fix PreviewCandidateMailer awaiting_decisions rejection email
  app/mailers/candidate_mailer.rb
  app/mailers/previews/candidate_mailer_preview.rb
Labels: Candidate

#1455 Remove terms of use line from sign up email
  app/views/authentication_mailer/sign_up_email.text.erb
Labels: Candidate, Content

#1388 Release pipeline speed-up changes incorporating bugfix
  azure-pipelines-deploy-template.yml
  azure/template.json
  docs/deployment.md
  docs/pipeline-variables.md
Labels: DevOps

#1458 Add ability to choose and update sex for equality and diversity
  app/components/candidate_interface/equality_and_diversity_review_component.html.erb
  app/components/candidate_interface/equality_and_diversity_review_component.rb
  app/controllers/candidate_interface/equality_and_diversity_controller.rb
  app/models/candidate_interface/equality_and_diversity/sex_form.rb
  app/views/candidate_interface/equality_and_diversity/edit_sex.html.erb
  app/views/candidate_interface/equality_and_diversity/review.html.erb
  app/views/candidate_interface/equality_and_diversity/start.html.erb
  config/locales/application_form.yml
  config/routes.rb
  spec/components/candidate_interface/equality_and_diversity_review_component_spec.rb
  spec/models/candidate_interface/equality_and_diversity/sex_form_spec.rb
  spec/system/candidate_interface/candidate_entering_equality_and_diversity_information_spec.rb
Labels: Candidate

#1463 Add ability to say that you don't have a disability for equality and diversity
  app/components/candidate_interface/equality_and_diversity_review_component.rb
  app/controllers/candidate_interface/equality_and_diversity_controller.rb
  app/models/candidate_interface/equality_and_diversity/disability_status_form.rb
  app/models/candidate_interface/equality_and_diversity/sex_form.rb
  app/views/candidate_interface/equality_and_diversity/edit_disability_status.html.erb
  config/locales/application_form.yml
  config/routes.rb
  spec/components/candidate_interface/equality_and_diversity_review_component_spec.rb
  spec/models/candidate_interface/equality_and_diversity/disability_status_form_spec.rb
  spec/models/candidate_interface/equality_and_diversity/sex_form_spec.rb
  spec/system/candidate_interface/candidate_entering_equality_and_diversity_information_spec.rb
Labels: Candidate

#1464 Set course choices section to incomplete when a course choice is added or deleted
  app/controllers/candidate_interface/course_choices_controller.rb
  spec/system/candidate_interface/candidate_deletes_course_after_completing_section_spec.rb
Labels: Candidate

#1469 1665 remove support users
  app/controllers/support_interface/support_users_controller.rb
  app/views/support_interface/support_users/confirm_destroy.html.erb
  app/views/support_interface/support_users/index.html.erb
  config/locales/support_interface.yml
  config/routes.rb
  spec/system/support_interface/remove_support_users_spec.rb
Labels: Support

#1473 Allow candidates to say what disabilities they have
  app/controllers/candidate_interface/equality_and_diversity_controller.rb
  app/helpers/checkbox_options_helper.rb
  app/models/candidate_interface/equality_and_diversity/disabilities_form.rb
  app/models/candidate_interface/equality_and_diversity/disability_status_form.rb
  app/views/candidate_interface/equality_and_diversity/edit_disabilities.html.erb
  config/locales/application_form.yml
  config/locales/equality_and_diversity.yml
  config/routes.rb
  spec/helpers/checkbox_options_helper_spec.rb
  spec/models/candidate_interface/equality_and_diversity/disabilities_form_spec.rb
  spec/models/candidate_interface/equality_and_diversity/disability_status_form_spec.rb
  spec/system/candidate_interface/candidate_entering_equality_and_diversity_information_spec.rb
Labels: Candidate

#1478 Add form object to update ethnic group for equality and diversity
  app/models/candidate_interface/equality_and_diversity/ethnic_group_form.rb
  spec/models/candidate_interface/equality_and_diversity/ethnic_group_form_spec.rb
Labels: Candidate

#1475 Added availability alerts into Slack.
  azure-pipelines-deploy-template.yml
  azure-pipelines-release.yml
  azure-pipelines.yml
  azure/template.json
  docs/pipeline-variables.md
Labels: DevOps

#1481 Allow candidates to choose and review their ethnic group
  app/components/candidate_interface/equality_and_diversity_review_component.rb
  app/controllers/candidate_interface/equality_and_diversity_controller.rb
  app/views/candidate_interface/equality_and_diversity/edit_ethnic_group.html.erb
  config/routes.rb
  spec/components/candidate_interface/equality_and_diversity_review_component_spec.rb
  spec/system/candidate_interface/candidate_entering_equality_and_diversity_information_spec.rb
Labels: Candidate

#1467 Set other qualifications section to incomplete when edited
  app/controllers/candidate_interface/other_qualifications/base_controller.rb
  app/controllers/candidate_interface/other_qualifications/destroy_controller.rb
  spec/system/candidate_interface/candidate_deletes_and_adds_other_qualificaitons_after_completing_the_section_spec.rb
Labels: Candidate

#1485 Add form object to update ethnic background for equality and diversity
  app/models/candidate_interface/equality_and_diversity/ethnic_background_form.rb
  config/locales/application_form.yml
  spec/models/candidate_interface/equality_and_diversity/ethnic_background_form_spec.rb
Labels: Candidate

#1466 Set degree section to incomplete when one is added, edited or deleted
  app/controllers/candidate_interface/degrees/base_controller.rb
  app/controllers/candidate_interface/degrees/destroy_controller.rb
  app/controllers/candidate_interface/degrees/grade_controller.rb
  app/controllers/candidate_interface/degrees/review_controller.rb
  app/controllers/candidate_interface/degrees/year_controller.rb
  spec/system/candidate_interface/candidate_deletes_and_adds_degree_after_completing_the_section_spec.rb
  spec/system/candidate_interface/candidate_entering_degrees_spec.rb
Labels: Candidate

#1486 Change volunteering section to incomplete when edited
  app/controllers/candidate_interface/volunteering/base_controller.rb
  app/controllers/candidate_interface/volunteering/destroy_controller.rb
  spec/system/candidate_interface/candidate_edits_or_deletes_volunteering_section_after_competing_the_section_spec.rb
Labels: Candidate
