Repository DFE-Digital/apply-for-teacher-training, pull requests merged in 2020-10, with the labels that each got.

#3032 Support: Application details and history page layout improvements
  app/components/support_interface/application_summary_component.rb
  app/views/layouts/support_layout.html.erb
  app/views/support_interface/application_forms/_application_navigation.html.erb
  app/views/support_interface/application_forms/audit.html.erb
  app/views/support_interface/application_forms/show.html.erb
  app/views/support_interface/candidates/show.html.erb
Labels: Support

#3023 Remove feature flag for cycle syncing
  app/services/feature_flag.rb
  app/services/find_sync/sync_all_providers_from_find.rb
Labels: Core

#3027 Remove course names from referee emails
  app/views/referee_mailer/reference_request_chase_again_email.text.erb
  app/views/referee_mailer/reference_request_chaser_email.text.erb
  app/views/referee_mailer/reference_request_email.text.erb
  spec/mailers/referee_mailer_spec.rb
Labels: Candidate

#3042 Support: State component design tweaks
  app/components/state_event_explanation_component.html.erb
  app/components/state_explanation_component.html.erb
  app/components/when_emails_are_sent_component.html.erb
  app/frontend/styles/_styled-content.scss
  app/views/support_interface/docs/candidate_flow.html.erb
  app/views/support_interface/docs/provider_flow.html.erb
Labels: Support

#3037 Support navigation (performance, settings, docs)
  app/views/support_interface/application_forms/unavailable_choices.html.erb
  app/views/support_interface/course_options/index.html.erb
  app/views/support_interface/cycles/index.html.erb
  app/views/support_interface/docs/_docs_navigation.html.erb
  app/views/support_interface/docs/candidate_flow.html.erb
  app/views/support_interface/docs/index.html.erb
  app/views/support_interface/docs/provider_flow.html.erb
  app/views/support_interface/docs/when_emails_are_sent.html.erb
  app/views/support_interface/email_log/index.html.erb
  app/views/support_interface/feature_flags/index.html.erb
  app/views/support_interface/guidance/index.html.erb
  app/views/support_interface/mailer_previews/index.html.erb
  app/views/support_interface/performance/_performance_navigation.html.erb
  app/views/support_interface/performance/course_stats.html.erb
  app/views/support_interface/performance/data.html.erb
  app/views/support_interface/performance/index.html.erb
  app/views/support_interface/settings/_settings_navigation.html.erb
  app/views/support_interface/support_users/index.html.erb
  app/views/support_interface/support_users/new.html.erb
  app/views/support_interface/support_users/show.html.erb
  app/views/support_interface/tasks/index.html.erb
  app/views/support_interface/validation_errors/index.html.erb
  app/views/support_interface/validation_errors/search.html.erb
  app/views/support_interface/validation_errors/summary.html.erb
  spec/system/support_interface/managing_support_users_spec.rb
Labels: Support

#3045 Add additional reference guidance
  app/views/candidate_interface/decoupled_references/start.html.erb
Labels: Candidate

#3043 Remove GenerateVendorProviders
  app/controllers/support_interface/tasks_controller.rb
  app/services/generate_vendor_providers.rb
  app/views/support_interface/tasks/index.html.erb
  spec/services/generate_vendor_providers_spec.rb
Labels: Support

#3004 HESA codes (sex, disabilities & ethnicity) - write to and read from the database
  app/forms/candidate_interface/equality_and_diversity/disabilities_form.rb
  app/forms/candidate_interface/equality_and_diversity/disability_status_form.rb
  app/forms/candidate_interface/equality_and_diversity/ethnic_background_form.rb
  app/forms/candidate_interface/equality_and_diversity/sex_form.rb
  app/lib/hesa/disability.rb
  app/lib/hesa/ethnicity.rb
  app/lib/hesa/sex.rb
  app/presenters/vendor_api/single_application_presenter.rb
  config/initializers/hesa_disabilities.rb
  config/initializers/hesa_ethnicities.rb
  config/initializers/hesa_sex.rb
  spec/factories.rb
  spec/forms/candidate_interface/equality_and_diversity/disabilities_form_spec.rb
  spec/forms/candidate_interface/equality_and_diversity/disability_status_form_spec.rb
  spec/forms/candidate_interface/equality_and_diversity/ethnic_background_form_spec.rb
  spec/forms/candidate_interface/equality_and_diversity/sex_form_spec.rb
  spec/lib/hesa/disability_spec.rb
  spec/lib/hesa/ethnicity_spec.rb
  spec/lib/hesa/sex_spec.rb
  spec/presenters/vendor_api/single_application_presenter_spec.rb
  spec/system/vendor_api/vendor_receives_application_spec.rb
Labels: Candidate, ProVendor

#3031 Send DSI API errors to Sentry
  app/services/save_and_invite_provider_user.rb
  spec/services/save_and_invite_provider_user_spec.rb
Labels: ProVendor

#3033 Support: Provider/Provider User page layout improvements
  app/controllers/support_interface/provider_users_controller.rb
  app/frontend/styles/support/_checkboxes-scroll.scss
  app/views/support_interface/provider_users/_provider_options.html.erb
  app/views/support_interface/provider_users/_provider_user_navigation.html.erb
  app/views/support_interface/provider_users/audits.html.erb
  app/views/support_interface/provider_users/edit.html.erb
  app/views/support_interface/providers/_provider_navigation.html.erb
  app/views/support_interface/providers/courses.html.erb
  app/views/support_interface/providers/index.html.erb
  app/views/support_interface/providers/other_providers.html.erb
  app/views/support_interface/providers/ratified_courses.html.erb
  app/views/support_interface/providers/sites.html.erb
  spec/system/support_interface/managing_provider_users_spec.rb
  spec/system/support_interface/provider_sync_courses_spec.rb
Labels: Support

#3030 Update to other qualification and work history back links
  app/views/candidate_interface/other_qualifications/details/new.html.erb
  app/views/candidate_interface/work_history/edit/new.html.erb
Labels: Candidate

#3048 Generate test UCAS matches
  app/lib/test_applications.rb
  app/services/generate_test_data.rb
  spec/factories.rb
  spec/system/ucas_matching/matching_data_example.csv
  spec/system/ucas_matching/process_matching_data_from_ucas_spec.rb
Labels: ProVendor

#3049 Support navigation (candidates and providers)
  app/views/support_interface/api_tokens/index.html.erb
  app/views/support_interface/application_forms/audit.html.erb
  app/views/support_interface/application_forms/index.html.erb
  app/views/support_interface/application_forms/show.html.erb
  app/views/support_interface/candidates/_candidates_navigation.html.erb
  app/views/support_interface/candidates/index.html.erb
  app/views/support_interface/candidates/show.html.erb
  app/views/support_interface/provider_users/audits.html.erb
  app/views/support_interface/provider_users/edit.html.erb
  app/views/support_interface/provider_users/index.html.erb
  app/views/support_interface/provider_users/new.html.erb
  app/views/support_interface/providers/_providers_navigation.html.erb
  app/views/support_interface/providers/index.html.erb
  app/views/support_interface/providers/other_providers.html.erb
  app/views/support_interface/ucas_matches/index.html.erb
  app/views/support_interface/ucas_matches/show.html.erb
  spec/system/support_interface/see_individual_application_spec.rb
Labels: Support

#3047 Update application submission confirmation page
  app/views/candidate_interface/submitted_application_form/submit_success.html.erb
  spec/system/candidate_interface/candidate_submitting_application_spec.rb
  spec/system/candidate_interface/candidate_with_unsuccessful_application_applies_again_spec.rb
Labels: Candidate

#3050 Fix incorrect role on navigation components
  app/components/sub_navigation_component.html.erb
  app/components/tab_navigation_component.html.erb
  app/frontend/styles/_tab-navigation.scss
  spec/components/tab_navigation_component_spec.rb
Labels: Support

#3039 Only send completed references over the API
  app/presenters/vendor_api/single_application_presenter.rb
  spec/presenters/vendor_api/single_application_presenter_spec.rb
Labels: ProVendor

#2961 Show summaries of UCAS matches
  app/components/support_interface/application_card_component.html.erb
  app/components/support_interface/application_choice_component.html.erb
  app/components/support_interface/application_status_tag_component.rb
  app/components/support_interface/ucas_match_table_component.html.erb
  app/components/support_interface/ucas_match_table_component.rb
  app/models/ucas_matched_application.rb
  app/views/support_interface/ucas_matches/show.html.erb
  spec/components/previews/support_interface/application_status_tag_component_preview.rb
  spec/components/support_interface/application_status_tag_component_spec.rb
  spec/components/support_interface/ucas_match_table_component_spec.rb
  spec/factories.rb
  spec/models/ucas_matched_application_spec.rb
  spec/system/support_interface/ucas_matches_spec.rb
Labels: ProVendor, Support

#3051 Make support header and navigation follow same pattern as that for provider
  app/components/primary_navigation_component.html.erb
  app/components/primary_navigation_component.rb
  app/components/product_header_component.html.erb
  app/components/product_header_component.rb
  app/components/provider_interface/primary_navigation.rb
  app/components/sub_navigation_component.html.erb
  app/components/sub_navigation_component.rb
  app/helpers/navigation_items.rb
  app/views/layouts/_header.html.erb
  spec/components/product_header_component_spec.rb
Labels: Support

#3009 Trace vendor api requests
  app/controllers/support_interface/vendor_api_requests_controller.rb
  app/middlewares/vendor_api_request_middleware.rb
  app/models/support_interface/vendor_api_requests_filter.rb
  app/models/vendor_api_request.rb
  app/services/feature_flag.rb
  app/views/support_interface/performance/_performance_navigation.html.erb
  app/views/support_interface/vendor_api_requests/index.html.erb
  app/workers/vendor_api_request_worker.rb
  config/application.rb
  config/routes.rb
  spec/middlewares/vendor_api_request_middleware_spec.rb
  spec/system/support_interface/view_vendor_api_requests_spec.rb
  spec/workers/vendor_api_request_worker_spec.rb
Labels: ProVendor

#3059 Don’t capitalise ‘The’ when expanding NARIC acronym
  app/views/candidate_interface/degrees/naric_statement/_form_fields.html.erb
  app/views/candidate_interface/gcse/naric_reference/edit.html.erb
  config/locales/application_form.yml
  spec/system/candidate_interface/international/candidate_entering_international_degrees_spec.rb
Labels: Candidate, Content

#3053 Remove permissions-related feature flags
  app/controllers/provider_interface/provider_relationship_permissions_setup_controller.rb
  app/controllers/provider_interface/provider_users_controller.rb
  app/controllers/provider_interface/provider_users_invitations_controller.rb
  app/helpers/navigation_items.rb
  app/services/feature_flag.rb
  app/services/make_decisions_authorisation.rb
  app/services/provider_authorisation.rb
  app/services/provider_setup.rb
  app/views/provider_interface/provider_users_invitations/edit_permissions.html.erb
  app/views/provider_interface/start_page/show.html.erb
  spec/components/provider_interface/safeguarding_declaration_component_spec.rb
  spec/models/navigation_items_spec.rb
  spec/requests/provider_interface/managing_provider_users_spec.rb
  spec/requests/provider_interface/setup_provider_relationship_permissions_request_spec.rb
  spec/services/provider_authorisation_spec.rb
  spec/services/provider_setup_spec.rb
  spec/system/provider_interface/manage_provider_relationship_permissions_spec.rb
  spec/system/provider_interface/manage_provider_user_permissions_spec.rb
  spec/system/provider_interface/manage_provider_user_providers_spec.rb
  spec/system/provider_interface/provider_accepts_data_sharing_agreement_spec.rb
  spec/system/provider_interface/provider_cannot_respond_to_application_spec.rb
  spec/system/provider_interface/provider_invites_user_with_new_wizard_spec.rb
  spec/system/provider_interface/providers_can_view_managed_users_spec.rb
  spec/system/provider_interface/removing_provider_user_spec.rb
  spec/system/provider_interface/see_individual_application_spec.rb
  spec/system/provider_interface/see_organisations_and_permissions_spec.rb
  spec/system/provider_interface/setup_provider_relationship_permissions_spec.rb
Labels: ProVendor

#3060 Support: Remove phase banner
  app/components/phase_banner.html.erb
  app/components/phase_banner.rb
  app/components/product_header_component.html.erb
  app/components/product_header_component.rb
  app/frontend/styles/_header.scss
  app/lib/hosting_environment.rb
  app/views/layouts/_header.html.erb
Labels: Support

#3046 Prevent submit without two references provided
  app/components/candidate_interface/referees_review_component.html.erb
  app/components/candidate_interface/referees_review_component.rb
  app/components/section_missing_banner_component.html.erb
  app/components/section_missing_banner_component.rb
  app/models/application_form.rb
  app/presenters/candidate_interface/application_form_presenter.rb
  config/locales/review_application.yml
  spec/components/candidate_interface/referees_review_component_spec.rb
  spec/components/section_missing_banner_component_spec.rb
  spec/presenters/candidate_interface/application_form_presenter_spec.rb
  spec/system/candidate_interface/candidate_adding_referees_in_sandbox_spec.rb
  spec/system/candidate_interface/candidate_cancels_a_reference_spec.rb
  spec/system/candidate_interface/candidate_completes_the_satisfaction_survey_spec.rb
  spec/system/candidate_interface/candidate_entering_equality_and_diversity_information_spec.rb
  spec/system/candidate_interface/candidate_is_awaiting_references_when_the_next_cycle_launches_spec.rb
  spec/system/candidate_interface/candidate_removes_a_full_or_withdrawn_course_choice_post_submission_spec.rb
  spec/system/candidate_interface/candidate_submitting_application_spec.rb
  spec/system/candidate_interface/course_selection/candidate_can_replace_full_or_withdrawn_course_choices_spec.rb
  spec/system/candidate_interface/international/international_candidate_submitting_application_spec.rb
  spec/system/referee_interface/referee_can_submit_a_reference_for_candidate_with_relationship_and_safeguarding_spec.rb
  spec/system/referee_interface/referee_does_not_respond_spec.rb
  spec/system/referee_interface/referee_refuses_to_give_a_reference_spec.rb
  spec/system/referee_interface/referee_tries_to_submit_incomplete_reference_spec.rb
  spec/system/vendor_api/vendor_receives_application_spec.rb
Labels: Candidate

#3061 API docs navigation
  app/frontend/styles/api_docs/_all.scss
  app/helpers/application_helper.rb
  app/views/api_docs/pages/lifecycle.html.erb
  app/views/api_docs/pages/when_emails_are_sent.html.erb
  app/views/layouts/_header.html.erb
  config/locales/en.yml
Labels: ProVendor

#3070 Manage: Use full-width header border
  app/views/layouts/_header.html.erb
Labels: ProVendor, Provider UI

#3072 Typecast @status to string in support ApplicationStatusTagComponent
  app/components/support_interface/application_status_tag_component.rb
Labels: Support

#3074 Add breadcrumb component
  app/components/breadcrumb_component.html.erb
  app/components/breadcrumb_component.rb
  app/frontend/styles/_breadcrumbs.scss
  app/frontend/styles/application.scss
  app/views/provider_interface/application_choices/emails.html.erb
  app/views/provider_interface/provider_users/show.html.erb
  spec/components/breadcrumb_component_spec.rb
Labels: Core, Provider UI

#3065 Display recruitment cycle year in support
  app/components/support_interface/application_card_component.html.erb
  app/components/support_interface/application_card_component.rb
  app/components/support_interface/application_summary_component.rb
  app/models/support_interface/applications_filter.rb
  spec/components/support_interface/applications_table_component_spec.rb
Labels: Support

#3062 Support: Use summary card component for feature flags
  app/components/support_interface/feature_audit_trail_component.html.erb
  app/frontend/styles/_summary-card.scss
  app/frontend/styles/support/_all.scss
  app/frontend/styles/support/_button.scss
  app/views/support_interface/cycles/index.html.erb
  app/views/support_interface/feature_flags/index.html.erb
  spec/components/support_interface/feature_audit_trail_component_spec.rb
  spec/system/support_interface/feature_flags_spec.rb
Labels: Support

#3055 Add caching for edit provider users page
  app/views/support_interface/provider_users/_provider_options.html.erb
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
Labels: ProVendor

#3085 Fix HESA disabilities migration
  app/services/candidate_interface/hesa_code_backfill.rb
  spec/services/candidate_interface/hesa_code_backfill_spec.rb
Labels: Core

#3082 Parse since param with Time#iso8601
  app/controllers/vendor_api/applications_controller.rb
  spec/requests/vendor_api/get_multiple_applications_spec.rb
Labels: ProVendor

#3073 Update "institution withheld" copy; don't withhold international institutions
  app/components/degree_qualification_cards_component.html.erb
  app/components/degree_qualification_cards_component.rb
  spec/components/degree_qualification_cards_component_spec.rb
Labels: ProVendor

#3071 Add submitted_with_safeguarding email for providers
  app/mailers/provider_mailer.rb
  app/services/send_new_application_email_to_provider.rb
  app/views/provider_mailer/application_submitted_with_safeguarding_issues.text.erb
  config/locales/provider_mailer.yml
  spec/mailers/previews/provider_mailer_preview.rb
  spec/services/send_new_application_email_to_provider_spec.rb
  spec/system/support_interface/docs_spec.rb
Labels: ProVendor

#3086 HESA code backfill - handle 'intersex'
  app/services/candidate_interface/hesa_code_backfill.rb
  spec/forms/candidate_interface/equality_and_diversity/sex_form_spec.rb
  spec/services/candidate_interface/hesa_code_backfill_spec.rb
Labels: Core

#3067 Clarify API’s HESA data available once offer accepted
  app/views/api_docs/pages/release_notes.md
  config/vendor-api-v1.yml
Labels: ProVendor

#3083 Decoupled references review page (2/2)
  app/components/candidate_interface/decoupled_references_review_component.html.erb
  app/components/candidate_interface/decoupled_references_review_component.rb
  app/components/candidate_interface/referees_review_component.html.erb
  app/components/candidate_interface/referees_review_component.rb
  app/views/candidate_interface/application_form/_review.html.erb
  app/views/candidate_interface/decoupled_references/review/show.html.erb
  spec/components/candidate_interface/decoupled_references_review_component_spec.rb
  spec/components/candidate_interface/referees_review_component_spec.rb
  spec/factories.rb
  spec/system/candidate_interface/candidate_reviewing_an_incomplete_application_spec.rb
  spec/system/candidate_interface/decoupled_references/review_references_spec.rb
Labels: Candidate

#3035 Decoupled reference flow (part2)
  app/controllers/candidate_interface/additional_referees_controller.rb
  app/controllers/candidate_interface/decoupled_references/base_controller.rb
  app/controllers/candidate_interface/decoupled_references/email_controller.rb
  app/controllers/candidate_interface/decoupled_references/name_controller.rb
  app/controllers/candidate_interface/decoupled_references/type_controller.rb
  app/controllers/candidate_interface/decoupled_references_controller.rb
  app/controllers/candidate_interface/referees_controller.rb
  app/forms/candidate_interface/reference/referee_name_form.rb
  app/forms/candidate_interface/reference/referee_type_form.rb
  app/models/application_reference.rb
  app/views/candidate_interface/decoupled_references/base/start.html.erb
  app/views/candidate_interface/decoupled_references/email/new.html.erb
  app/views/candidate_interface/decoupled_references/name/new.html.erb
  app/views/candidate_interface/decoupled_references/type/new.html.erb
  config/locales/application_form.yml
  config/locales/en.yml
  config/routes.rb
  spec/forms/candidate_interface/reference/referee_name_form_spec.rb
  spec/forms/candidate_interface/reference/referee_type_form_spec.rb
  spec/models/application_reference_spec.rb
  spec/system/candidate_interface/candidate_carries_over_unsubmitted_application_between_cycles_spec.rb
  spec/system/candidate_interface/candidate_submitting_application_spec.rb
  spec/system/candidate_interface/decoupled_references/candidate_adds_a_new_reference_spec.rb
Labels: Candidate

#3040 Decoupled reference flow (part3)
  app/controllers/candidate_interface/decoupled_references/description_controller.rb
  app/controllers/candidate_interface/decoupled_references/email_address_controller.rb
  app/controllers/candidate_interface/decoupled_references/name_controller.rb
  app/controllers/candidate_interface/decoupled_references/type_controller.rb
  app/controllers/candidate_interface/decoupled_references_controller.rb
  app/forms/candidate_interface/reference/referee_email_address_form.rb
  app/views/candidate_interface/decoupled_references/description/new.html.erb
  app/views/candidate_interface/decoupled_references/email_address/new.html.erb
  app/views/candidate_interface/decoupled_references/name/new.html.erb
  config/locales/application_form.yml
  config/locales/en.yml
  config/routes.rb
  spec/forms/candidate_interface/reference/referee_email_address_form_spec.rb
  spec/system/candidate_interface/decoupled_references/candidate_adds_a_new_reference_spec.rb
Labels: Candidate

#3084 Change SubmitReference behaviour for decoupled references
  app/services/submit_reference.rb
  spec/lib/test_applications_spec.rb
  spec/requests/vendor_api/post_test_data_generate_spec.rb
  spec/services/submit_application_spec.rb
  spec/services/submit_reference_spec.rb
  spec/workers/generate_test_applications_spec.rb
Labels: Candidate

#3064 Fix UCAS matches summary in support
  app/components/support_interface/ucas_match_table_component.rb
  app/models/ucas_matched_application.rb
  spec/models/ucas_matched_application_spec.rb
Labels: ProVendor, Support

#3087 Support: Design tweaks
  app/components/support_interface/audit_trail_change_component.html.erb
  app/components/support_interface/audit_trail_item_component.html.erb
  app/components/support_interface/email_log_row_component.html.erb
  app/frontend/styles/support/_all.scss
  app/frontend/styles/support/_details.scss
  app/views/support_interface/performance/course_stats.html.erb
  app/views/support_interface/providers/show.html.erb
Labels: Support

#3091 Change 'Your account is not ready yet' page to an email address focused one
  app/controllers/dfe_sign_in_controller.rb
  app/controllers/provider_interface/provider_interface_controller.rb
  app/views/provider_interface/account_creation_in_progress.html.erb
  app/views/provider_interface/email_address_not_recognised.html.erb
  spec/requests/provider_interface/account_creation_in_progress_spec.rb
  spec/system/provider_interface/see_applications_spec.rb
Labels: ProVendor

#3068 Add HESA codes to qualifications in Apply API responses
  app/presenters/vendor_api/hesa_qualification_fields_presenter.rb
  app/presenters/vendor_api/single_application_presenter.rb
  app/views/api_docs/pages/release_notes.md
  config/vendor-api-v1.yml
  spec/presenters/vendor_api/hesa_qualification_fields_presenter_spec.rb
  spec/presenters/vendor_api/single_application_presenter_spec.rb
  spec/system/vendor_api/vendor_receives_application_spec.rb
Labels: ProVendor

#3092 Update application choice state diagram
  docs/states.png
Labels: Core

#3093 Send reference request #1
  app/controllers/candidate_interface/decoupled_references/candidate_name_controller.rb
  app/controllers/candidate_interface/decoupled_references/request_controller.rb
  app/forms/candidate_interface/reference/candidate_name_form.rb
  app/forms/candidate_interface/reference/request_form.rb
  app/views/candidate_interface/decoupled_references/candidate_name/new.html.erb
  app/views/candidate_interface/decoupled_references/request/new.html.erb
  config/locales/application_form.yml
  config/locales/en.yml
  config/routes.rb
  spec/forms/candidate_interface/reference/candidate_name_form_spec.rb
  spec/forms/candidate_interface/reference/request_form_spec.rb
  spec/system/candidate_interface/decoupled_references/candidate_requests_a_reference_spec.rb
Labels: Candidate

#3099 Support: Application comment form
  app/controllers/support_interface/application_forms/comments_controller.rb
  app/views/support_interface/application_forms/comments/new.html.erb
  config/locales/application_form.yml
Labels: Support

#3095 Support: Use breadcrumbs to navigate deep hierarchies
  app/components/support_interface/provider_users_table_component.html.erb
  app/helpers/view_helper.rb
  app/views/support_interface/application_forms/_application_navigation.html.erb
  app/views/support_interface/application_forms/audit.html.erb
  app/views/support_interface/application_forms/show.html.erb
  app/views/support_interface/candidates/show.html.erb
  app/views/support_interface/course_options/index.html.erb
  app/views/support_interface/courses/show.html.erb
  app/views/support_interface/provider_users/_provider_user_navigation.html.erb
  app/views/support_interface/provider_users/audits.html.erb
  app/views/support_interface/provider_users/edit.html.erb
  app/views/support_interface/providers/_provider_navigation.html.erb
  app/views/support_interface/providers/courses.html.erb
  app/views/support_interface/providers/history.html.erb
  app/views/support_interface/providers/ratified_courses.html.erb
  app/views/support_interface/providers/show.html.erb
  app/views/support_interface/providers/sites.html.erb
  app/views/support_interface/providers/users.html.erb
  app/views/support_interface/providers/vacancies.html.erb
  app/views/support_interface/support_users/show.html.erb
  spec/system/support_interface/managing_support_users_spec.rb
  spec/system/support_interface/providers_and_courses_spec.rb
  spec/system/support_interface/see_individual_application_spec.rb
Labels: Support

#3098 Refactor - HESA Disability codes
  app/forms/candidate_interface/equality_and_diversity/disabilities_form.rb
  app/forms/candidate_interface/equality_and_diversity/disability_status_form.rb
  app/forms/candidate_interface/equality_and_diversity/ethnic_background_form.rb
  app/forms/candidate_interface/equality_and_diversity/sex_form.rb
  app/lib/hesa/disability.rb
  app/lib/hesa/ethnicity.rb
  app/lib/hesa/sex.rb
  app/services/candidate_interface/hesa_code_backfill.rb
  spec/lib/hesa/disability_spec.rb
  spec/lib/hesa/ethnicity_spec.rb
  spec/lib/hesa/sex_spec.rb
  spec/services/candidate_interface/hesa_code_backfill_spec.rb
Labels: Candidate

#3077 Don't tell providers they have 0 days to respond to an application
  app/components/provider_interface/application_card_component.rb
  app/helpers/view_helper.rb
  app/views/provider_interface/application_choices/_application_choice_header.html.erb
  config/initializers/date_formats.rb
  spec/helpers/view_helper_spec.rb
Labels: ProVendor

#3063 Prevent candidates from accidentally creating multiple carry-over applications
  app/components/candidate_interface/carry_over_banner_component.rb
  app/controllers/candidate_interface/carry_over_controller.rb
  app/controllers/candidate_interface/unsubmitted_application_form_controller.rb
  app/models/application_form.rb
  spec/system/candidate_interface/candidate_cannot_add_new_course_once_the_cycle_has_closed_spec.rb
  spec/system/candidate_interface/carry_over_unsuccessful_application_spec.rb
Labels: Candidate

#3038 Ensure presence of equivalency_details in API responses
  app/presenters/vendor_api/single_application_presenter.rb
  app/views/api_docs/pages/release_notes.md
  config/vendor-api-v1.yml
  spec/presenters/vendor_api/single_application_presenter_spec.rb
Labels: ProVendor

#3088 Manage org/org relationships in support
  app/controllers/support_interface/providers_controller.rb
  app/forms/support_interface/provider_relationships_form.rb
  app/views/support_interface/providers/_provider_navigation.html.erb
  app/views/support_interface/providers/no_relationships.html.erb
  app/views/support_interface/providers/relationships.html.erb
  config/routes.rb
  spec/system/support_interface/managing_provider_permissions_spec.rb
Labels: Support

#3104 Support: Design tweaks for change course flow
  app/helpers/navigation_items.rb
  app/views/layouts/support_layout.html.erb
  app/views/support_interface/change_course/confirm_cancel_application.html.erb
  app/views/support_interface/change_course/options.html.erb
  app/views/support_interface/change_course/select_choice_to_withdraw.html.erb
  app/views/support_interface/change_course/select_course_to_add.html.erb
  app/views/support_interface/tasks/confirm_cancel_applications_at_end_of_cycle.html.erb
  app/views/support_interface/tasks/confirm_delete_test_applications.html.erb
  app/views/support_interface/tasks/confirm_reject_applications_awaiting_references_at_end_of_cycle.html.erb
  config/locales/support_interface.yml
  spec/system/support_interface/cancel_unsubmitted_at_eoc_task_spec.rb
  spec/system/support_interface/change_courses/add_another_course_spec.rb
  spec/system/support_interface/change_courses/cancel_application_spec.rb
  spec/system/support_interface/purge_test_applications_spec.rb
  spec/system/support_interface/reject_awaiting_references_at_eoc_task_spec.rb
Labels: Support

#3110 Complete the request a referee flow
  app/controllers/candidate_interface/decoupled_references/review_controller.rb
  app/controllers/candidate_interface/decoupled_references_controller.rb
  app/forms/candidate_interface/reference/referee_email_address_form.rb
  app/forms/candidate_interface/reference/referee_submit_form.rb
  app/forms/candidate_interface/reference/submit_referee_form.rb
  config/locales/application_form.yml
  spec/forms/candidate_interface/reference/referee_email_address_form_spec.rb
  spec/forms/candidate_interface/reference/submit_referee_form_spec.rb
  spec/system/candidate_interface/decoupled_references/candidate_adds_a_new_reference_spec.rb
Labels: Candidate

#3115 Remove the delete link from referees on the unsubmitted application form review page
  app/views/candidate_interface/application_form/_review.html.erb
Labels: Bug bash 🐞🔨, Candidate

#3121 Fix to prevent candidates sending request to incomplete reference
  app/components/candidate_interface/decoupled_references_review_component.html.erb
  app/components/candidate_interface/decoupled_references_review_component.rb
  app/controllers/candidate_interface/decoupled_references/request_controller.rb
  spec/components/candidate_interface/decoupled_references_review_component_spec.rb
  spec/system/candidate_interface/decoupled_references/candidate_requests_a_reference_spec.rb
Labels: Candidate

#3118 Support: More design tweaks
  app/components/support_interface/email_log_row_component.html.erb
  app/components/support_interface/provider_courses_table_component.html.erb
  app/views/support_interface/email_log/index.html.erb
  app/views/support_interface/provider_users/_provider_options.html.erb
  app/views/support_interface/provider_users/index.html.erb
  app/views/support_interface/providers/_provider_navigation.html.erb
  app/views/support_interface/providers/index.html.erb
  app/views/support_interface/providers/relationships.html.erb
  spec/system/support_interface/providers_and_courses_spec.rb
Labels: Support

#3125 Fix referee email address validation
  app/forms/candidate_interface/reference/referee_email_address_form.rb
  spec/forms/candidate_interface/reference/referee_email_address_form_spec.rb
Labels: Candidate

#3120 Remove post submission replace referee journey
  app/components/candidate_interface/new_references_needed_component.html.erb
  app/components/candidate_interface/new_references_needed_component.rb
  app/views/candidate_interface/submitted_application_form/complete.html.erb
  spec/components/candidate_interface/new_references_needed_component_spec.rb
  spec/system/candidate_interface/candidate_needs_to_provide_new_referee_spec.rb
  spec/system/candidate_interface/candidate_needs_to_provide_two_new_referees_spec.rb
  spec/system/candidate_interface/candidate_needs_to_provide_two_new_referees_with_separate_additional_referees_flag_on_spec.rb
Labels: Candidate

#3129 Restrict access to 'Update status of conditions' for recruited applications
  app/components/provider_interface/status_box_components/recruited_component.html.erb
  app/controllers/provider_interface/conditions_controller.rb
  spec/system/provider_interface/provider_confirms_conditions_not_met_spec.rb
Labels: ProVendor

#3128 Don't show additional referee interstitial/flow when decoupled references is active
  app/controllers/candidate_interface/additional_referees_controller.rb
  app/controllers/candidate_interface/after_sign_in_controller.rb
  spec/system/provider_interface/provider_acts_as_candidate_on_sandbox_spec.rb
  spec/system/support_interface/sign_in_as_candidate_spec.rb
Labels: Candidate

#3108 Display UCAS match course details when course is not on Apply
  app/models/ucas_matched_application.rb
  spec/components/support_interface/ucas_match_table_component_spec.rb
  spec/models/ucas_matched_application_spec.rb
Labels: ProVendor, Support

#3103 Support: Refactor course pages
  app/components/support_interface/provider_courses_table_component.rb
  app/controllers/support_interface/course_controller.rb
  app/helpers/navigation_items.rb
  app/views/support_interface/course/_course_navigation.html.erb
  app/views/support_interface/course/applications.html.erb
  app/views/support_interface/course/show.html.erb
  app/views/support_interface/course/vacancies.html.erb
  app/views/support_interface/courses/show.html.erb
  config/routes.rb
  spec/system/support_interface/providers_and_courses_spec.rb
Labels: Support

#3144 Restrict access to old referee flow when the decoupled flag is active & update the candidate_helper
  app/controllers/candidate_interface/additional_referees_controller.rb
  app/controllers/candidate_interface/referees_controller.rb
  config/locales/application_form.yml
  spec/support/test_helpers/candidate_helper.rb
Labels: Candidate

#3142 Display UCAS accepted statuses
  app/models/ucas_matched_application.rb
  spec/factories.rb
Labels: Support

#3139 Support: Consolidate documentation
  app/controllers/support_interface/docs_controller.rb
  app/controllers/support_interface/guidance_controller.rb
  app/controllers/support_interface/mailer_previews_controller.rb
  app/helpers/navigation_items.rb
  app/views/support_interface/docs/_docs_navigation.html.erb
  app/views/support_interface/docs/index.html.erb
  app/views/support_interface/docs/mailer_previews.erb
  app/views/support_interface/guidance/index.html.erb
  config/routes.rb
  spec/system/support_interface/docs_spec.rb
  spec/system/support_interface/see_user_guidance_spec.rb
Labels: Support

#3147 Generate exports via Sidekiq
  app/controllers/support_interface/data_exports_controller.rb
  app/controllers/support_interface/performance_controller.rb
  app/helpers/navigation_items.rb
  app/models/data_export.rb
  app/services/support_interface/application_choices_export.rb
  app/services/support_interface/applications_export.rb
  app/services/support_interface/candidate_journey_tracking_export.rb
  app/services/support_interface/providers_export.rb
  app/views/support_interface/data_exports/show.html.erb
  app/views/support_interface/performance/data.html.erb
  app/workers/data_exporter.rb
  config/routes.rb
  db/migrate/20201014115230_create_data_exports.rb
  db/schema.rb
  docs/domain-model.png
  spec/system/support_interface/application_choices_performance_spec.rb
Labels: Support

#3143 Decoupled references - update application page #1
  app/components/task_list_item_component.html.erb
  app/components/task_list_item_component.rb
  app/presenters/candidate_interface/application_form_presenter.rb
  app/views/candidate_interface/unsubmitted_application_form/show.html.erb
  spec/components/task_list_item_component_spec.rb
  spec/support/test_helpers/candidate_helper.rb
  spec/system/candidate_interface/decoupled_references/review_references_spec.rb
  spec/system/candidate_interface/decoupled_references/submitting_an_application_spec.rb
Labels: Candidate

#3146 Decoupled references - update application page #2
  app/components/task_list_item_component.html.erb
  app/components/task_list_item_references_component.html.erb
  app/components/task_list_item_references_component.rb
  app/frontend/styles/candidate/_all.scss
  app/frontend/styles/candidate/_status-indicator.scss
  app/frontend/styles/candidate/_task-list.scss
  app/presenters/candidate_interface/application_form_presenter.rb
  app/views/candidate_interface/unsubmitted_application_form/show.html.erb
  config/locales/reference.yml
  spec/components/task_list_item_references_component_spec.rb
  spec/system/candidate_interface/decoupled_references/submitting_an_application_spec.rb
Labels: Candidate

#3132 Add pagination to audit history pages in support
  app/components/support_interface/audit_trail_component.html.erb
  app/components/support_interface/audit_trail_component.rb
Labels: Support

#3165 Cancel outstanding reference requests when two receive feedback
  app/services/cancel_referee.rb
  app/services/submit_reference.rb
  spec/services/cancel_referee_spec.rb
  spec/services/submit_reference_spec.rb
  spec/support/test_helpers/candidate_helper.rb
  spec/system/candidate_interface/decoupled_references/candidate_receives_feedback_from_their_reference_requests_spec.rb
Labels: Candidate

#3167 Review reference states
  app/components/candidate_interface/decoupled_references_review_component.rb
  app/components/candidate_interface/referees_review_component.rb
  config/locales/application_form.yml
  config/locales/reference.yml
  spec/components/candidate_interface/decoupled_references_review_component_spec.rb
  spec/components/candidate_interface/referees_review_component_spec.rb
  spec/system/candidate_interface/decoupled_references/candidate_receives_feedback_from_their_reference_requests_spec.rb
  spec/system/candidate_interface/decoupled_references/review_references_spec.rb
Labels: Candidate

#3150 Re-request a failed reference
  app/components/candidate_interface/decoupled_references_review_component.html.erb
  app/components/candidate_interface/decoupled_references_review_component.rb
  app/controllers/candidate_interface/decoupled_references/review_controller.rb
  app/services/candidate_interface/decoupled_references/request_reference.rb
  config/locales/application_form.yml
  spec/components/candidate_interface/decoupled_references_review_component_spec.rb
  spec/system/candidate_interface/decoupled_references/candidate_requests_a_reference_spec.rb
Labels: Candidate

#3152 Flag which UCAS matches need an action in Support
  app/models/ucas_match.rb
  app/models/ucas_matched_application.rb
  app/views/support_interface/ucas_matches/index.html.erb
  spec/models/ucas_match_spec.rb
  spec/models/ucas_matched_application_spec.rb
  spec/system/support_interface/ucas_matches_spec.rb
  spec/system/ucas_matching/matching_data_example.csv
Labels: ProVendor, Support

#3137 Support: Refactor provider user
  app/components/support_interface/provider_user_permissions_component.html.erb
  app/components/support_interface/provider_user_permissions_component.rb
  app/components/support_interface/provider_users_table_component.html.erb
  app/controllers/support_interface/provider_users_controller.rb
  app/frontend/styles/support/_checkboxes-scroll.scss
  app/views/support_interface/provider_users/_provider_options.html.erb
  app/views/support_interface/provider_users/_provider_user_navigation.html.erb
  app/views/support_interface/provider_users/audits.html.erb
  app/views/support_interface/provider_users/edit.html.erb
  app/views/support_interface/provider_users/new.html.erb
  app/views/support_interface/provider_users/show.html.erb
  spec/components/support_interface/provider_users_table_component_spec.rb
  spec/system/support_interface/managing_provider_users_spec.rb
Labels: Support

#3170 Decoupled references - update review application page
  app/views/candidate_interface/application_form/_review.html.erb
Labels: Candidate

#3186 Don't show references on application dashboard
  app/views/candidate_interface/submitted_application_form/complete.html.erb
  spec/system/candidate_interface/decoupled_references/submitting_an_application_spec.rb
Labels: Candidate

#3185 Support: Redirect to applications page
  config/routes.rb
  spec/system/support_interface/add_audit_comment_spec.rb
  spec/system/support_interface/audit_trail_spec.rb
  spec/system/support_interface/see_applications_spec.rb
  spec/system/support_interface/see_individual_application_spec.rb
  spec/system/support_interface/send_survey_email_to_candidate_spec.rb
  spec/system/support_interface/ucas_matches_spec.rb
Labels: Support

#3171 Allow candidates to delete feedback_provided references
  app/views/candidate_interface/decoupled_references/review/show.html.erb
  spec/system/candidate_interface/candidate_replaces_reference_after_applying_again_spec.rb
  spec/system/candidate_interface/decoupled_references/review_references_spec.rb
Labels: Candidate

#3179 Remove code to add replacement referees
  app/components/candidate_interface/additional_referees_start_component.html.erb
  app/components/candidate_interface/additional_referees_start_component.rb
  app/controllers/candidate_interface/additional_referees_controller.rb
  app/controllers/candidate_interface/after_sign_in_controller.rb
  app/controllers/candidate_interface/candidate_interface_controller.rb
  app/controllers/candidate_interface/referees_controller.rb
  app/services/feature_flag.rb
  app/services/reference_status.rb
  app/views/candidate_interface/additional_referees/_form.html.erb
  app/views/candidate_interface/additional_referees/add_another_referee.html.erb
  app/views/candidate_interface/additional_referees/confirm.html.erb
  app/views/candidate_interface/additional_referees/contact_support.html.erb
  app/views/candidate_interface/additional_referees/edit.html.erb
  app/views/candidate_interface/additional_referees/new.html.erb
  app/views/candidate_interface/additional_referees/show.html.erb
  app/views/candidate_interface/additional_referees/type.html.erb
  app/views/support_interface/application_forms/show.html.erb
  config/locales/additional_referees.yml
  config/routes.rb
  spec/components/candidate_interface/additional_referees_start_component_spec.rb
  spec/services/reference_status_spec.rb
  spec/system/candidate_interface/candidate_cancels_a_reference_spec.rb
Labels: Candidate

#3168 Add recruitment cycle year to UCAS matches
  app/components/support_interface/ucas_match_table_component.rb
  app/models/ucas_match.rb
  app/services/ucas_matching/process_matching_data.rb
  db/migrate/20201019134952_add_recruitment_cycle_year_to_ucas_matches.rb
  db/migrate/20201019135045_backfill_recruitment_cycle_year_in_ucas_matches.rb
  db/schema.rb
  docs/domain-model.png
  spec/factories.rb
Labels: ProVendor

#3191 Apply updated business tags for Azure resource groups
  azure/pipelines/templates/deploy.yml
Labels: DevOps

#3193 Add candidate_last_contacted_at to ucas_matches table
  db/migrate/20201020105805_add_candidate_last_contacted_at_to_ucas_matches.rb
  db/schema.rb
  docs/domain-model.png
Labels: ProVendor

#3162 Remove start page and redirect to '/candidate/account'
  app/controllers/candidate_interface/start_page_controller.rb
  app/helpers/application_helper.rb
  app/views/candidate_interface/content/providers.html.erb
  app/views/candidate_interface/sign_in/new.html.erb
  app/views/candidate_interface/sign_up/new.html.erb
  app/views/candidate_interface/start_page/eligibility.html.erb
  app/views/candidate_interface/start_page/show.html.erb
  config/initializers/govuk_apply_start_page.rb
  config/routes.rb
  spec/system/basic_auth_spec.rb
  spec/system/candidate_interface/candidate_account_spec.rb
  spec/system/candidate_interface/candidate_eligibility_spec.rb
  spec/system/candidate_interface/candidate_is_redirected_to_before_you_start_page_on_first_sign_in_spec.rb
  spec/system/candidate_interface/candidate_signs_up_using_magic_link_with_an_invalid_token_spec.rb
  spec/system/candidate_interface/candidate_without_account_arrives_between_cycles_spec.rb
  spec/system/candidate_interface/pilot_spec.rb
  spec/system/candidate_interface/two_candidates_sign_in_on_same_machine_spec.rb
Labels: Candidate

#3190 Generate representative applications for 2020 & 2021
  app/lib/test_applications.rb
  app/workers/generate_test_applications.rb
  lib/tasks/generate_test_data.rake
  spec/lib/test_applications_spec.rb
  spec/services/provider_interface/provider_options_service_spec.rb
  spec/workers/generate_test_applications_spec.rb
Labels: Core

#3195 Fix auto approving references on sandbox
  app/controllers/candidate_interface/decoupled_references/candidate_name_controller.rb
  app/controllers/candidate_interface/decoupled_references/request_controller.rb
  app/controllers/candidate_interface/decoupled_references/review_controller.rb
  app/services/candidate_interface/decoupled_references/request_reference.rb
  spec/system/candidate_interface/candidate_adding_referees_in_sandbox_spec.rb
Labels: Core

#3207 Move 404 catch-all route to application.rb
  config/application.rb
  config/routes.rb
Labels: Core

#3212 Improve load testing scripts
  .gitignore
  docs/load_testing.md
  lib/tasks/jmeter.rake
Labels: Core

#3210 Continue to fix specs that previously had the decoupled references flag deactivated
  spec/services/candidate_interface/cancel_reference_at_end_of_cycle_spec.rb
  spec/support/test_helpers/candidate_helper.rb
  spec/system/candidate_interface/candidate_completes_the_satisfaction_survey_spec.rb
  spec/system/candidate_interface/candidate_entering_equality_and_diversity_information_spec.rb
  spec/system/candidate_interface/candidate_reviewing_an_incomplete_application_spec.rb
  spec/system/candidate_interface/candidate_submitting_application_spec.rb
  spec/system/candidate_interface/international/international_candidate_submitting_application_spec.rb
  spec/system/referee_interface/referee_can_submit_a_reference_for_candidate_with_relationship_and_safeguarding_spec.rb
Labels: Candidate

#3197 Support: Consistent placement for ‘Needs attention’ message on provider pages
  app/views/support_interface/providers/_provider_navigation.html.erb
  app/views/support_interface/providers/applications.html.erb
  app/views/support_interface/providers/courses.html.erb
  app/views/support_interface/providers/history.html.erb
  app/views/support_interface/providers/no_relationships.html.erb
  app/views/support_interface/providers/ratified_courses.html.erb
  app/views/support_interface/providers/relationships.html.erb
  app/views/support_interface/providers/show.html.erb
  app/views/support_interface/providers/sites.html.erb
  app/views/support_interface/providers/users.html.erb
  app/views/support_interface/providers/vacancies.html.erb
Labels: Support

#3151 Support: Consolidate settings pages
  app/controllers/support_interface/feature_flags_controller.rb
  app/controllers/support_interface/settings_controller.rb
  app/helpers/navigation_items.rb
  app/views/support_interface/settings/cycles.html.erb
  app/views/support_interface/settings/feature_flags.html.erb
  config/routes.rb
Labels: Support

#3209 Fire slack notification when candidate sends reminder to referee
  app/controllers/candidate_interface/decoupled_references/review_controller.rb
  app/services/candidate_interface/decoupled_references/cancel_reference.rb
  app/services/candidate_interface/decoupled_references/send_reference_reminder.rb
  app/services/candidate_interface/decoupled_references/slack_notifications.rb
  spec/services/candidate_interface/decoupled_references/cancel_reference_spec.rb
  spec/services/candidate_interface/decoupled_references/send_reference_reminder_spec.rb
Labels: Candidate

#3220 Migration to add single page feedback form
  db/migrate/20201021172017_add_satisfaction_level.rb
  db/schema.rb
  docs/domain-model.png
Labels: Candidate

#3135 Export applications with HESA data
  app/controllers/provider_interface/applications_exports_controller.rb
  app/helpers/navigation_items.rb
  app/services/feature_flag.rb
  app/services/provider_interface/hesa_data_export.rb
  app/views/provider_interface/applications_exports/new.html.erb
  config/hesa/jacs-hecos-subject-mappings.yml
  config/routes.rb
  spec/factories.rb
  spec/services/provider_interface/hesa_data_export_spec.rb
  spec/system/provider_interface/export_applications_spec.rb
Labels: ProVendor

#3214 Change references factory traits to be in line with the feedback status enum
  spec/components/candidate_interface/decoupled_references_review_component_spec.rb
  spec/components/candidate_interface/referee_guidance_component_spec.rb
  spec/components/candidate_interface/referees_review_component_spec.rb
  spec/factories.rb
  spec/forms/referee_interface/reference_review_form_spec.rb
  spec/mailers/candidate_mailer_referee_mails_spec.rb
  spec/models/application_reference_spec.rb
  spec/presenters/vendor_api/single_application_presenter_spec.rb
  spec/services/submit_reference_spec.rb
  spec/services/support_interface/candidate_journey_tracker_spec.rb
  spec/system/candidate_interface/decoupled_references/candidate_requests_a_reference_spec.rb
  spec/system/candidate_interface/decoupled_references/candidate_sends_a_reminder_email_spec.rb
  spec/system/candidate_interface/decoupled_references/review_references_spec.rb
  spec/system/candidate_interface/decoupled_references/submitting_an_application_spec.rb
  spec/system/provider_interface/see_individual_application_spec.rb
  spec/system/referee_interface/referee_can_submit_a_reference_for_candidate_with_relationship_and_safeguarding_spec.rb
  spec/system/referee_interface/referee_can_use_initial_and_chaser_sign_in_links_spec.rb
  spec/system/referee_interface/referee_does_not_respond_spec.rb
  spec/system/referee_interface/referee_refuses_to_give_a_reference_spec.rb
  spec/system/referee_interface/referee_tries_to_submit_incomplete_reference_spec.rb
  spec/system/support_interface/cancel_reference_spec.rb
  spec/system/support_interface/change_courses/cancel_application_spec.rb
  spec/workers/detect_invariants_spec.rb
Labels: Core

#3200 Update FIND_BASE_URL
  .env.development
  .env.example
Labels: Core

#3215 Redirect to /candidate/account from sandbox homepage
  app/components/gov_uk_start_button_component.html.erb
  app/components/gov_uk_start_button_component.rb
  app/views/content/sandbox.html.erb
  spec/components/gov_uk_start_button_component_spec.rb
Labels: Candidate, Sandbox

#3204 Specify SANDBOX=false for tests
  .env.test
Labels: Core

#3196 Add new test application generator for unsubmitted with complete references
  app/lib/test_applications.rb
  app/workers/generate_test_applications.rb
  spec/lib/test_applications_spec.rb
Labels: Core

#3180 Update copy for changed offer email notifications
  app/mailers/candidate_mailer.rb
  app/views/candidate_mailer/_application_rejected_intro.text.erb
  app/views/candidate_mailer/_get_help.text.erb
  app/views/candidate_mailer/_interested_with_rejections.text.erb
  app/views/candidate_mailer/_interested_without_rejections.text.erb
  app/views/candidate_mailer/_offer_list.text.erb
  app/views/candidate_mailer/_wait_or_respond.text.erb
  app/views/candidate_mailer/application_rejected_all_rejected.text.erb
  app/views/candidate_mailer/application_rejected_awaiting_decisions.text.erb
  app/views/candidate_mailer/application_rejected_offers_made.text.erb
  app/views/candidate_mailer/changed_offer.text.erb
  app/views/candidate_mailer/chase_candidate_decision.text.erb
  app/views/candidate_mailer/find_another_course.text.erb
  app/views/candidate_mailer/new_offer/decisions_pending.text.erb
  app/views/candidate_mailer/new_offer/multiple_offers.text.erb
  app/views/candidate_mailer/new_offer/single_offer.text.erb
  app/views/candidate_mailer/referees_did_not_respond_before_end_of_cycle.text.erb
  config/locales/candidate_mailer.yml
  spec/mailers/candidate_mailer_offers_and_rejections_spec.rb
  spec/mailers/previews/candidate_mailer_preview.rb
Labels: Candidate

#3219 Use Redis to back the ProviderUserInvitationWizard
  app/controllers/provider_interface/provider_users_invitations_controller.rb
Labels: ProVendor

#3217 Add super_diff gem for better hash comparisons in RSpec
  Gemfile
  Gemfile.lock
  spec/support/super_diff.rb
Labels: Core

#3223 Remove old-style references flow
  app/components/candidate_interface/referees_review_component.html.erb
  app/components/candidate_interface/referees_review_component.rb
  app/controllers/candidate_interface/referees_controller.rb
  app/presenters/candidate_interface/application_form_presenter.rb
  app/views/candidate_interface/application_form/_review.html.erb
  app/views/candidate_interface/referees/_form.html.erb
  app/views/candidate_interface/referees/confirm_cancel.html.erb
  app/views/candidate_interface/referees/confirm_destroy.html.erb
  app/views/candidate_interface/referees/edit.html.erb
  app/views/candidate_interface/referees/new.html.erb
  app/views/candidate_interface/referees/review.html.erb
  app/views/candidate_interface/referees/type.html.erb
  app/views/candidate_interface/submitted_application_form/complete.html.erb
  app/views/candidate_interface/unsubmitted_application_form/show.html.erb
  config/routes.rb
  db/migrate/20200526122730_populate_completed_section_booleans.rb
  spec/components/candidate_interface/referees_review_component_spec.rb
  spec/presenters/candidate_interface/application_form_presenter_spec.rb
  spec/support/test_helpers/candidate_helper.rb
  spec/system/candidate_interface/candidate_removes_a_full_or_withdrawn_course_choice_post_submission_spec.rb
  spec/system/candidate_interface/candidate_submits_application_with_full_course_location_spec.rb
  spec/system/candidate_interface/candidate_submits_application_with_full_course_study_mode_spec.rb
  spec/system/candidate_interface/candidate_with_unsubmitted_application_between_cycles_spec.rb
  spec/system/candidate_interface/course_selection/candidate_can_replace_full_or_withdrawn_course_choices_spec.rb
Labels: Candidate

#3225 Remove unscoped find in candidate controllers
  app/controllers/candidate_interface/degrees/base_controller.rb
  app/controllers/candidate_interface/degrees/destroy_controller.rb
  app/controllers/candidate_interface/degrees/grade_controller.rb
  app/controllers/candidate_interface/degrees/institution_controller.rb
  app/controllers/candidate_interface/degrees/naric_statement_controller.rb
  app/controllers/candidate_interface/degrees/review_controller.rb
  app/controllers/candidate_interface/degrees/subject_controller.rb
  app/controllers/candidate_interface/degrees/type_controller.rb
  app/controllers/candidate_interface/degrees/year_controller.rb
  app/controllers/candidate_interface/other_qualifications/base_controller.rb
  app/controllers/candidate_interface/other_qualifications/destroy_controller.rb
  app/controllers/candidate_interface/other_qualifications/details_controller.rb
  app/controllers/candidate_interface/other_qualifications/review_controller.rb
  app/controllers/candidate_interface/other_qualifications/type_controller.rb
Labels: Candidate

#3226 Update reference creation in TestApplications
  app/lib/test_applications.rb
Labels: Core

#3216 Allow deletion of bounced, declined and cancelled referees
  app/components/candidate_interface/decoupled_references_review_component.html.erb
  app/controllers/candidate_interface/decoupled_references/review_controller.rb
  app/models/application_reference.rb
  app/views/candidate_interface/decoupled_references/review/confirm_delete_request.html.erb
  config/locales/application_form.yml
  config/locales/en.yml
  config/routes.rb
  spec/models/application_reference_spec.rb
  spec/system/candidate_interface/decoupled_references/review_references_spec.rb
Labels: Candidate

#3224 Expand Reference History
  app/components/reference_history_component.html.erb
  app/components/reference_history_component.rb
  app/models/reference_history.rb
  spec/components/reference_history_component_spec.rb
  spec/models/reference_history_spec.rb
  spec/system/candidate_interface/decoupled_references/candidate_sends_a_reminder_email_spec.rb
  spec/system/candidate_interface/decoupled_references/candidate_views_reference_history_spec.rb
Labels: Candidate

#3230 Remove the SubmitApplication service and update the SubmitReference service
  app/services/submit_application.rb
  app/services/submit_reference.rb
  spec/services/submit_application_spec.rb
  spec/services/submit_reference_spec.rb
  spec/system/support_interface/see_individual_application_spec.rb
Labels: Candidate

#3228 Remove defunct CandidateMailer actions and associated emails
  app/mailers/candidate_mailer.rb
  app/services/send_applications_to_provider.rb
  app/views/candidate_mailer/course_unavailable_course_full.text.erb
  app/views/candidate_mailer/course_unavailable_course_withdrawn.text.erb
  app/views/candidate_mailer/course_unavailable_location_full.text.erb
  app/views/candidate_mailer/course_unavailable_study_mode_full.text.erb
  app/workers/send_course_full_notifications_worker.rb
  config/locales/application_states.yml
  config/locales/candidate_mailer.yml
  spec/mailers/candidate_mailer_spec.rb
  spec/mailers/previews/candidate_mailer_preview.rb
  spec/system/candidate_interface/candidate_submits_application_to_unavailable_course_option_as_end_of_cycle_approaches_but_has_other_options_spec.rb
  spec/system/candidate_interface/candidate_submits_application_to_unavailable_course_option_as_end_of_cycle_approaches_spec.rb
  spec/system/support_interface/docs_spec.rb
  spec/workers/send_course_full_notifications_worker_spec.rb
Labels: Candidate

#3233 Show validation error to candidates for references with same email
  app/forms/candidate_interface/reference/referee_email_address_form.rb
  config/locales/en.yml
  spec/forms/candidate_interface/reference/referee_email_address_form_spec.rb
Labels: Candidate

#3236 Single page feedback form
  app/controllers/candidate_interface/feedback_form_controller.rb
  app/forms/candidate_interface/feedback_form.rb
  app/models/application_form.rb
  app/services/feature_flag.rb
  app/views/candidate_interface/feedback_form/new.html.erb
  app/views/candidate_interface/feedback_form/thank_you.html.erb
  app/views/candidate_interface/submitted_application_form/submit_success.html.erb
  config/locales/application_form.yml
  config/locales/en.yml
  config/locales/feedback_form.yml
  config/routes.rb
  spec/system/candidate_interface/candidate_completes_the_feedback_form_spec.rb
  spec/system/candidate_interface/candidate_completes_the_satisfaction_survey_spec.rb
Labels: Candidate

#3234 Remove the references completed boolean
  app/services/duplicate_application.rb
  app/services/support_interface/candidate_journey_tracker.rb
  spec/factories.rb
  spec/presenters/candidate_interface/application_form_presenter_spec.rb
  spec/services/carry_over_application_spec.rb
  spec/services/duplicate_application_shared_examples.rb
  spec/services/support_interface/candidate_journey_tracker_spec.rb
  spec/system/candidate_interface/decoupled_references/submitting_an_application_spec.rb
Labels: Candidate

#3240 Remove the decoupled references feature flag
  app/components/candidate_interface/application_complete_content_component.html.erb
  app/controllers/candidate_interface/decoupled_references/base_controller.rb
  app/controllers/candidate_interface/submitted_application_form_controller.rb
  app/controllers/candidate_interface/unsubmitted_application_form_controller.rb
  app/models/application_reference.rb
  app/services/feature_flag.rb
  app/views/candidate_interface/application_form/_review.html.erb
  app/views/candidate_interface/submitted_application_form/edit_by_support.html.erb
  app/views/candidate_interface/submitted_application_form/submit_success.html.erb
  app/views/candidate_interface/unsubmitted_application_form/show.html.erb
  app/views/candidate_interface/unsubmitted_application_form/submit_show_without_decoupled_references.html.erb
  config/locales/en.yml
  config/locales/submit_application.yml
  spec/components/candidate_interface/application_complete_content_component_spec.rb
  spec/components/candidate_interface/decoupled_references_review_component_spec.rb
  spec/forms/candidate_interface/reference/candidate_name_form_spec.rb
  spec/forms/candidate_interface/reference/referee_email_address_form_spec.rb
  spec/forms/candidate_interface/reference/referee_name_form_spec.rb
  spec/forms/candidate_interface/reference/referee_relationship_form_spec.rb
  spec/forms/candidate_interface/reference/referee_type_form_spec.rb
  spec/models/application_reference_spec.rb
  spec/presenters/candidate_interface/application_form_presenter_spec.rb
  spec/services/submit_reference_spec.rb
  spec/support/test_helpers/candidate_helper.rb
  spec/system/candidate_interface/candidate_adding_referees_in_sandbox_spec.rb
  spec/system/candidate_interface/candidate_carries_over_unsubmitted_application_between_cycles_spec.rb
  spec/system/candidate_interface/candidate_carries_over_unsubmitted_application_to_new_cycle_spec.rb
  spec/system/candidate_interface/candidate_carries_over_unsubmitted_application_without_course_to_new_cycle_spec.rb
  spec/system/candidate_interface/candidate_completes_the_feedback_form_spec.rb
  spec/system/candidate_interface/candidate_completes_the_satisfaction_survey_spec.rb
  spec/system/candidate_interface/candidate_entering_equality_and_diversity_information_spec.rb
  spec/system/candidate_interface/candidate_replaces_reference_after_applying_again_spec.rb
  spec/system/candidate_interface/candidate_reviewing_an_incomplete_application_spec.rb
  spec/system/candidate_interface/candidate_submitting_application_spec.rb
  spec/system/candidate_interface/candidate_with_unsuccessful_application_applies_again_spec.rb
  spec/system/candidate_interface/decoupled_references/candidate_adds_a_new_reference_spec.rb
  spec/system/candidate_interface/decoupled_references/candidate_receives_feedback_from_their_reference_requests_spec.rb
  spec/system/candidate_interface/decoupled_references/candidate_requests_a_reference_spec.rb
  spec/system/candidate_interface/decoupled_references/candidate_sends_a_reminder_email_spec.rb
  spec/system/candidate_interface/decoupled_references/candidate_views_reference_history_spec.rb
  spec/system/candidate_interface/decoupled_references/review_references_spec.rb
  spec/system/candidate_interface/decoupled_references/submitting_an_application_spec.rb
  spec/system/candidate_interface/international/international_candidate_submitting_application_spec.rb
  spec/system/referee_interface/referee_can_submit_a_reference_for_candidate_with_relationship_and_safeguarding_spec.rb
  spec/system/referee_interface/referee_does_not_respond_spec.rb
  spec/system/referee_interface/referee_refuses_to_give_a_reference_spec.rb
  spec/system/referee_interface/referee_tries_to_submit_incomplete_reference_spec.rb
  spec/system/vendor_api/vendor_receives_application_spec.rb
  spec/workers/generate_test_applications_spec.rb
Labels: Candidate

#3239 Add automated reminders to ReferenceHistory
  app/models/reference_history.rb
  spec/models/reference_history_spec.rb
  spec/system/candidate_interface/decoupled_references/candidate_views_reference_history_spec.rb
Labels: Candidate

#3238 Migration to remove the references completed column
  db/migrate/20201022125243_remove_references_completed_from_application_form.rb
  db/schema.rb
  docs/domain-model.png
Labels: Candidate

#3242 Use radio buttons on equality and diversity start page
  app/components/candidate_interface/equality_and_diversity_review_component.html.erb
  app/controllers/candidate_interface/equality_and_diversity_controller.rb
  app/forms/candidate_interface/equality_and_diversity/choice_form.rb
  app/forms/candidate_interface/equality_and_diversity/disabilities_form.rb
  app/helpers/ethnic_background_helper.rb
  app/views/candidate_interface/equality_and_diversity/edit_disabilities.html.erb
  app/views/candidate_interface/equality_and_diversity/edit_disability_status.html.erb
  app/views/candidate_interface/equality_and_diversity/edit_ethnic_background.html.erb
  app/views/candidate_interface/equality_and_diversity/edit_ethnic_group.html.erb
  app/views/candidate_interface/equality_and_diversity/edit_sex.html.erb
  app/views/candidate_interface/equality_and_diversity/review.html.erb
  app/views/candidate_interface/equality_and_diversity/start.html.erb
  config/locales/equality_and_diversity.yml
  config/routes.rb
  spec/forms/candidate_interface/equality_and_diversity/choice_form_spec.rb
  spec/support/test_helpers/candidate_helper.rb
  spec/system/candidate_interface/candidate_entering_equality_and_diversity_information_spec.rb
  spec/system/candidate_interface/candidate_submitting_application_spec.rb
  spec/system/candidate_interface/decoupled_references/submitting_an_application_spec.rb
  spec/system/candidate_interface/international/international_candidate_submitting_application_spec.rb
Labels: Candidate

#3252 EOC choice unavailable email cleanup
  app/views/candidate_mailer/_application_rejected_intro.text.erb
  app/views/candidate_mailer/application_rejected_all_rejected.text.erb
  config/locales/candidate_mailer.yml
Labels: Candidate

#3254 Add please to referee emails
  app/views/referee_mailer/reference_request_chaser_email.text.erb
  app/views/referee_mailer/reference_request_email.text.erb
  spec/system/candidate_interface/decoupled_references/candidate_requests_a_reference_spec.rb
Labels: Candidate, Content

#3237 Terms of service checkbox bug
  .gitignore
  app/views/candidate_interface/sign_up/new.html.erb
  spec/system/candidate_interface/candidate_account_spec.rb
Labels: Candidate

#3260 Support: Update design for UCAS matches
  app/components/support_interface/ucas_match_table_component.html.erb
  app/components/support_interface/ucas_match_table_component.rb
  app/controllers/support_interface/ucas_matches_controller.rb
  app/views/support_interface/ucas_matches/_ucas_match_navigation.html.erb
  app/views/support_interface/ucas_matches/audit.html.erb
  app/views/support_interface/ucas_matches/index.html.erb
  app/views/support_interface/ucas_matches/show.html.erb
  config/routes.rb
  spec/components/support_interface/ucas_match_table_component_spec.rb
  spec/system/support_interface/ucas_matches_spec.rb
Labels: Support

#3184 Use provider application patterns on support application page
  app/components/candidate_interface/volunteering_review_component.html.erb
  app/components/candidate_interface/volunteering_review_component.rb
  app/components/candidate_interface/work_history_review_component.html.erb
  app/components/candidate_interface/work_history_review_component.rb
  app/components/degree_qualification_cards_component.rb
  app/components/efl_qualification_card_component.rb
  app/components/gcse_qualification_cards_component.rb
  app/components/interview_preferences_component.html.erb
  app/components/interview_preferences_component.rb
  app/components/language_skills_component.html.erb
  app/components/language_skills_component.rb
  app/components/personal_details_component.html.erb
  app/components/personal_details_component.rb
  app/components/personal_statement_component.html.erb
  app/components/personal_statement_component.rb
  app/components/provider_interface/application_summary_component.html.erb
  app/components/provider_interface/application_summary_component.rb
  app/components/provider_interface/course_details_component.html.erb
  app/components/provider_interface/diversity_information_component.html.erb
  app/components/provider_interface/reference_with_feedback_component.html.erb
  app/components/provider_interface/reference_with_feedback_component.rb
  app/components/provider_interface/safeguarding_declaration_component.html.erb
  app/components/provider_interface/training_with_disability_component.html.erb
  app/components/provider_interface/volunteering_history_component.rb
  app/components/provider_interface/work_history_component.html.erb
  app/components/provider_interface/work_history_component.rb
  app/components/provider_interface/work_history_item_component.rb
  app/components/qualification_grade_component.rb
  app/components/qualification_row_component.rb
  app/components/qualification_subject_component.rb
  app/components/qualification_title_component.rb
  app/components/qualifications_component.html.erb
  app/components/qualifications_component.rb
  app/components/qualifications_table_component.rb
  app/components/support_interface/application_summary_component.rb
  app/components/support_interface/safeguarding_issues_component.html.erb
  app/components/volunteering_history_component.html.erb
  app/components/volunteering_history_component.rb
  app/components/volunteering_review_component.rb
  app/components/work_history_component.html.erb
  app/components/work_history_component.rb
  app/components/work_history_item_component.html.erb
  app/components/work_history_item_component.rb
  app/components/work_history_review_component.rb
  app/views/candidate_interface/application_form/_review.html.erb
  app/views/candidate_interface/volunteering/review/show.html.erb
  app/views/candidate_interface/work_history/review/show.html.erb
  app/views/provider_interface/application_choices/_references_context.html.erb
  app/views/provider_interface/application_choices/show.html.erb
  app/views/support_interface/application_forms/_request_feedback.html.erb
  app/views/support_interface/application_forms/show.html.erb
  spec/components/candidate_interface/volunteering_review_component_spec.rb
  spec/components/candidate_interface/work_history_review_component_spec.rb
  spec/components/personal_details_component_spec.rb
  spec/components/previews/provider_interface/volunteering_history_component_preview.rb
  spec/components/previews/provider_interface/work_history_component_preview.rb
  spec/components/provider_interface/reference_with_feedback_component_spec.rb
  spec/components/support_interface/application_summary_component_spec.rb
  spec/components/volunteering_history_component_spec.rb
  spec/components/work_history_component_spec.rb
Labels: Provider UI, Support

#3231 Create equality and diversity data extract
  app/controllers/support_interface/data_exports_controller.rb
  app/models/data_export.rb
  app/services/support_interface/application_references_export.rb
  app/services/support_interface/equality_and_diversity_export.rb
  app/views/support_interface/data_exports/new.html.erb
  spec/services/support_interface/application_references_export_spec.rb
  spec/services/support_interface/equality_and_diversity_export_spec.rb
Labels: Candidate

#3222 Permissions setup flow tweaks
  app/components/provider_interface/provider_relationship_permissions_list_component.html.erb
  app/components/provider_interface/provider_relationship_permissions_list_component.rb
  app/controllers/provider_interface/provider_relationship_permissions_setup_controller.rb
  app/forms/provider_interface/provider_relationship_permissions_setup_wizard.rb
  app/views/provider_interface/organisations/index.html.erb
  app/views/provider_interface/organisations/show.html.erb
  app/views/provider_interface/provider_relationship_permissions_setup/check.html.erb
  app/views/provider_interface/provider_relationship_permissions_setup/info.html.erb
  app/views/provider_interface/provider_relationship_permissions_setup/organisations.html.erb
  app/views/provider_interface/provider_relationship_permissions_setup/setup_permissions.html.erb
  config/locales/provider_relationship_permissions.yml
  config/routes.rb
  spec/forms/provider_interface/provider_relationship_permissions_setup_wizard_spec.rb
  spec/requests/provider_interface/setup_provider_relationship_permissions_request_spec.rb
  spec/system/provider_interface/manage_provider_relationship_permissions_spec.rb
  spec/system/provider_interface/provider_accepts_data_sharing_agreement_spec.rb
  spec/system/provider_interface/see_organisations_and_permissions_spec.rb
  spec/system/provider_interface/setup_provider_relationship_permissions_spec.rb
Labels: ProVendor

#3258 Fail Rspec test task if rspec process has errored.
  azure/pipelines/templates/run-rspec-test.yml
Labels: DevOps

#3267 Increase OkComputer sidekiq retries threshold to 50
  config/initializers/okcomputer.rb
Labels: Core

#3270 Create a new UCAS match for a new recruitment cycle year
  app/services/ucas_matching/process_matching_data.rb
Labels: ProVendor

#3218 Add API fields to support Tribal
  app/presenters/vendor_api/single_application_presenter.rb
  app/views/api_docs/pages/release_notes.md
  config/vendor-api-v1.yml
  spec/factories.rb
  spec/presenters/vendor_api/single_application_presenter_spec.rb
  spec/requests/vendor_api/post_make_an_offer_spec.rb
  spec/support/test_helpers/candidate_helper.rb
  spec/system/vendor_api/vendor_receives_application_spec.rb
Labels: ProVendor

#3244 Refactor the AfterSignInController
  app/controllers/candidate_interface/after_sign_in_controller.rb
  app/models/application_form.rb
  app/services/candidate_interface/interstitial_route_selector.rb
Labels: Core

#3274 Track validation errors for decoupled references
  app/controllers/candidate_interface/decoupled_references/candidate_name_controller.rb
  app/controllers/candidate_interface/decoupled_references/email_address_controller.rb
  app/controllers/candidate_interface/decoupled_references/name_controller.rb
  app/controllers/candidate_interface/decoupled_references/relationship_controller.rb
  app/controllers/candidate_interface/decoupled_references/review_controller.rb
  app/controllers/candidate_interface/decoupled_references/type_controller.rb
  spec/system/candidate_interface/decoupled_references/candidate_adds_a_new_reference_spec.rb
Labels: Candidate

#3241 Add option to prefill candidate application form on sandbox
  app/controllers/candidate_interface/after_sign_in_controller.rb
  app/controllers/candidate_interface/prefill_application_form_controller.rb
  app/forms/candidate_interface/prefill_application_or_not_form.rb
  app/lib/test_applications.rb
  app/views/candidate_interface/prefill_application_form/new.html.erb
  config/routes.rb
  spec/forms/candidate_interface/prefill_application_or_not_form_spec.rb
  spec/lib/test_applications_spec.rb
  spec/system/candidate_interface/candidate_signs_in_and_prefills_application_in_sandbox_spec.rb
Labels: Candidate, Support

#3276 Remove last code related to the 5 day edit window
  app/components/candidate_interface/application_complete_content_component.rb
  app/components/candidate_interface/referee_guidance_component.html.erb
  app/components/candidate_interface/referee_guidance_component.rb
  app/components/support_interface/application_summary_component.rb
  app/controllers/candidate_interface/submitted_application_form_controller.rb
  app/helpers/view_helper.rb
  app/lib/test_applications.rb
  app/lib/time_limit_config.rb
  app/models/application_dates.rb
  app/services/submit_application.rb
  app/views/candidate_interface/submitted_application_form/submit_success.html.erb
  spec/components/candidate_interface/application_complete_content_component_spec.rb
  spec/components/candidate_interface/referee_guidance_component_spec.rb
  spec/factories.rb
  spec/helpers/view_helper_spec.rb
  spec/lib/time_limit_config_spec.rb
  spec/models/application_dates_spec.rb
  spec/services/submit_application_spec.rb
  spec/system/candidate_interface/candidate_with_unsuccessful_application_applies_again_spec.rb
Labels: Candidate

#3277 Add invariant check for weird reference state
  app/workers/detect_invariants.rb
  spec/workers/detect_invariants_spec.rb
Labels: Candidate

#3291 Set Commit SHA as ENV variable
  Dockerfile
  app/controllers/healthcheck_controller.rb
  app/views/healthcheck/show.html.erb
  config/initializers/okcomputer.rb
  config/initializers/raven.rb
  config/routes.rb
  docker-compose.azure.yml
  docker-compose.override.yml
Labels: Core, DevOps

#3293 Don't show the Apply or UCAS page to candidates who have selected a course only available on Apply
  app/controllers/candidate_interface/apply_from_find_controller.rb
  app/models/provider.rb
  app/services/candidate_interface/apply_from_find_page.rb
  spec/system/candidate_interface/candidate_arrives_from_find_with_a_course_only_open_on_apply_spec.rb
Labels: Candidate

#3266 Add destroy reference flow and reorder localised strings for referees/references
  app/components/candidate_interface/decoupled_references_review_component.html.erb
  app/components/candidate_interface/decoupled_references_review_component.rb
  app/controllers/candidate_interface/decoupled_references/review_controller.rb
  app/views/candidate_interface/decoupled_references/request/new.html.erb
  app/views/candidate_interface/decoupled_references/review/confirm_cancel.html.erb
  app/views/candidate_interface/decoupled_references/review/confirm_destroy_referee.html.erb
  app/views/candidate_interface/decoupled_references/review/confirm_destroy_reference.html.erb
  app/views/candidate_interface/decoupled_references/review/confirm_destroy_reference_request.html.erb
  config/locales/application_form.yml
  config/locales/en.yml
  config/routes.rb
  spec/components/candidate_interface/decoupled_references_review_component_spec.rb
  spec/system/candidate_interface/candidate_replaces_reference_after_applying_again_spec.rb
  spec/system/candidate_interface/decoupled_references/review_references_spec.rb
Labels: Candidate

#3297 Ensure sent/received references cannot be edited
  app/controllers/candidate_interface/decoupled_references/base_controller.rb
  app/controllers/candidate_interface/decoupled_references/candidate_name_controller.rb
  app/controllers/candidate_interface/decoupled_references/email_address_controller.rb
  app/controllers/candidate_interface/decoupled_references/name_controller.rb
  app/controllers/candidate_interface/decoupled_references/relationship_controller.rb
  app/controllers/candidate_interface/decoupled_references/type_controller.rb
  spec/system/candidate_interface/decoupled_references/candidate_requests_a_reference_spec.rb
Labels: Bug bash 🐞🔨, Candidate

#3272 Add email for reinstated deffered offer
  app/mailers/candidate_mailer.rb
  app/services/reinstate_conditions_met.rb
  app/services/reinstate_pending_conditions.rb
  app/views/candidate_mailer/_offer_conditions.text.erb
  app/views/candidate_mailer/new_offer/decisions_pending.text.erb
  app/views/candidate_mailer/new_offer/multiple_offers.text.erb
  app/views/candidate_mailer/new_offer/single_offer.text.erb
  app/views/candidate_mailer/reinstated_offer.text.erb
  config/locales/application_states.yml
  config/locales/candidate_mailer.yml
  spec/mailers/candidate_mailer_offers_and_rejections_spec.rb
  spec/mailers/previews/candidate_mailer_preview.rb
Labels: Candidate

#3279 Component namespacing
  app/components/associated_providers_permissions_list_component.html.erb
  app/components/break_in_work_history_component.rb
  app/components/break_placeholder_in_work_history_component.rb
  app/components/candidate_interface/becoming_a_teacher_review_component.html.erb
  app/components/candidate_interface/break_in_work_history_component.html.erb
  app/components/candidate_interface/break_in_work_history_component.rb
  app/components/candidate_interface/break_placeholder_in_work_history_component.html.erb
  app/components/candidate_interface/break_placeholder_in_work_history_component.rb
  app/components/candidate_interface/contact_details_review_component.html.erb
  app/components/candidate_interface/course_choices_review_component.html.erb
  app/components/candidate_interface/decoupled_references_review_component.rb
  app/components/candidate_interface/degrees_review_component.html.erb
  app/components/candidate_interface/gcse_qualification_review_component.html.erb
  app/components/candidate_interface/grouped_provider_courses_component.html.erb
  app/components/candidate_interface/grouped_provider_courses_component.rb
  app/components/candidate_interface/interview_preferences_review_component.html.erb
  app/components/candidate_interface/other_qualifications_review_component.html.erb
  app/components/candidate_interface/personal_details_review_component.html.erb
  app/components/candidate_interface/reference_history_component.html.erb
  app/components/candidate_interface/reference_history_component.rb
  app/components/candidate_interface/safeguarding_review_component.html.erb
  app/components/candidate_interface/safeguarding_review_component.rb
  app/components/candidate_interface/section_missing_banner_component.html.erb
  app/components/candidate_interface/section_missing_banner_component.rb
  app/components/candidate_interface/subject_knowledge_review_component.html.erb
  app/components/candidate_interface/training_with_a_disability_review_component.html.erb
  app/components/candidate_interface/volunteering_review_component.html.erb
  app/components/candidate_interface/work_history_review_component.html.erb
  app/components/check_icon.rb
  app/components/check_icon_component.html.erb
  app/components/check_icon_component.rb
  app/components/grouped_provider_courses_component.rb
  app/components/permissions_list_component.html.erb
  app/components/phase_banner_component.html.erb
  app/components/phase_banner_component.rb
  app/components/provider_interface/provider_relationship_permissions_list_component.html.erb
  app/components/provider_interface/provider_user_invitation_permissions_component.html.erb
  app/components/reference_history_component.rb
  app/components/safeguarding_review_component.html.erb
  app/components/safeguarding_review_component.rb
  app/components/section_missing_banner_component.rb
  app/views/candidate_interface/application_form/_review.html.erb
  app/views/candidate_interface/content/providers.html.erb
  app/views/candidate_interface/safeguarding/show.html.erb
  app/views/layouts/_header.html.erb
  app/views/provider_interface/provider_relationship_permissions_setup/setup_permissions.html.erb
  spec/components/candidate_interface/break_in_work_history_component_spec.rb
  spec/components/candidate_interface/break_placeholder_in_work_history_component_spec.rb
  spec/components/candidate_interface/grouped_provider_courses_component_spec.rb
  spec/components/candidate_interface/reference_history_component_spec.rb
  spec/components/candidate_interface/safeguarding_review_component_spec.rb
  spec/components/candidate_interface/section_missing_banner_component_spec.rb
  spec/components/phase_banner_component_spec.rb
Labels: Candidate, Core

#3269 Refactor course availability logic in the course model
  app/components/candidate_interface/course_choices_review_component.rb
  app/controllers/candidate_interface/course_choices/course_selection_controller.rb
  app/controllers/candidate_interface/find_course_selections_controller.rb
  app/forms/candidate_interface/pick_course_form.rb
  app/models/course.rb
  app/services/find_sync/course_study_modes.rb
  spec/factories.rb
  spec/forms/candidate_interface/pick_course_form_spec.rb
  spec/models/course_spec.rb
Labels: Candidate
