Repository DFE-Digital/apply-for-teacher-training, pull requests merged in 2020-04, with the labels that each got.

#1804 Allow candidates to edit the course of their course choices
  app/components/candidate_interface/course_choices_review_component.rb
  app/controllers/candidate_interface/course_choices_controller.rb
  app/views/candidate_interface/course_choices/options_for_course.html.erb
  spec/components/candidate_interface/course_choices_review_component_spec.rb
  spec/system/candidate_interface/candidate_edits_course_choices_spec.rb
Labels: Candidate

#1806 Add first page of the candidate satisfaction survey
  app/controllers/candidate_interface/satisfaction_survey_controller.rb
  app/models/candidate_interface/satisfaction_survey_form.rb
  app/services/feature_flag.rb
  app/views/candidate_interface/application_form/submit_success.html.erb
  app/views/candidate_interface/satisfaction_survey/complexity.html.erb
  app/views/candidate_interface/satisfaction_survey/recommendation.html.erb
  config/locales/en.yml
  config/routes.rb
  spec/models/candidate_interface/satisfaction_survey_form_spec.rb
  spec/system/candidate_interface/candidate_completes_the_satisfaction_survey_spec.rb
Labels: Candidate

#1779 Prompt user to add additional qualifications
  app/controllers/candidate_interface/other_qualifications/details_controller.rb
  app/controllers/candidate_interface/other_qualifications/review_controller.rb
  app/controllers/candidate_interface/other_qualifications/type_controller.rb
  app/models/candidate_interface/other_qualification_form.rb
  app/models/candidate_interface/other_qualification_type_form.rb
  app/presenters/candidate_interface/application_form_presenter.rb
  app/services/feature_flag.rb
  app/views/candidate_interface/other_qualifications/base/_form.html.erb
  app/views/candidate_interface/other_qualifications/base/edit.html.erb
  app/views/candidate_interface/other_qualifications/base/new.html.erb
  app/views/candidate_interface/other_qualifications/details/new.html.erb
  app/views/candidate_interface/other_qualifications/review/show.html.erb
  app/views/candidate_interface/other_qualifications/shared/_instructions.html.erb
  app/views/candidate_interface/other_qualifications/type/new.html.erb
  config/locales/en.yml
  config/routes.rb
  spec/models/candidate_interface/other_qualification_type_form_spec.rb
  spec/system/candidate_interface/candidate_entering_other_qualification_with_prompting_flag_on_spec.rb
Labels: Candidate

#1811 Build the complexity page of the satisfaction survey
  app/controllers/candidate_interface/satisfaction_survey_controller.rb
  app/models/candidate_interface/satisfaction_survey_form.rb
  app/views/candidate_interface/satisfaction_survey/_form.html.erb
  app/views/candidate_interface/satisfaction_survey/complexity.html.erb
  app/views/candidate_interface/satisfaction_survey/ease_of_use.html.erb
  app/views/candidate_interface/satisfaction_survey/recommendation.html.erb
  config/locales/en.yml
  config/routes.rb
  spec/models/candidate_interface/satisfaction_survey_form_spec.rb
  spec/system/candidate_interface/candidate_completes_the_satisfaction_survey_spec.rb
Labels: Candidate

#1820 Add additional pages to the candidate satisfaction survey
  app/controllers/candidate_interface/satisfaction_survey_controller.rb
  app/models/candidate_interface/satisfaction_survey_form.rb
  app/views/candidate_interface/satisfaction_survey/_survey_page.html.erb
  app/views/candidate_interface/satisfaction_survey/adaptability.html.erb
  app/views/candidate_interface/satisfaction_survey/awkward.html.erb
  app/views/candidate_interface/satisfaction_survey/complexity.html.erb
  app/views/candidate_interface/satisfaction_survey/confidence.html.erb
  app/views/candidate_interface/satisfaction_survey/consistency.html.erb
  app/views/candidate_interface/satisfaction_survey/ease_of_use.html.erb
  app/views/candidate_interface/satisfaction_survey/help_needed.html.erb
  app/views/candidate_interface/satisfaction_survey/improvements.html.erb
  app/views/candidate_interface/satisfaction_survey/needed_additional_learning.html.erb
  app/views/candidate_interface/satisfaction_survey/organisation.html.erb
  app/views/candidate_interface/satisfaction_survey/recommendation.html.erb
  config/locales/en.yml
  config/routes.rb
  spec/system/candidate_interface/candidate_completes_the_satisfaction_survey_spec.rb
Labels: Candidate

#1827 Add final pages of the candidate satisfaction survey flow
  app/controllers/candidate_interface/satisfaction_survey_controller.rb
  app/views/candidate_interface/satisfaction_survey/_survey_page.html.erb
  app/views/candidate_interface/satisfaction_survey/adaptability.html.erb
  app/views/candidate_interface/satisfaction_survey/awkward.html.erb
  app/views/candidate_interface/satisfaction_survey/complexity.html.erb
  app/views/candidate_interface/satisfaction_survey/confidence.html.erb
  app/views/candidate_interface/satisfaction_survey/consistency.html.erb
  app/views/candidate_interface/satisfaction_survey/contact.html.erb
  app/views/candidate_interface/satisfaction_survey/ease_of_use.html.erb
  app/views/candidate_interface/satisfaction_survey/help_needed.html.erb
  app/views/candidate_interface/satisfaction_survey/improvements.html.erb
  app/views/candidate_interface/satisfaction_survey/needed_additional_learning.html.erb
  app/views/candidate_interface/satisfaction_survey/organisation.html.erb
  app/views/candidate_interface/satisfaction_survey/other_information.html.erb
  app/views/candidate_interface/satisfaction_survey/recommendation.html.erb
  app/views/candidate_interface/satisfaction_survey/thank_you.html.erb
  config/routes.rb
  spec/system/candidate_interface/candidate_completes_the_satisfaction_survey_spec.rb
Labels: Candidate

#1835 Support users can download the satisfaction survey results in a CSV
  app/controllers/support_interface/performance_controller.rb
  app/services/support_interface/candidate_survey_export.rb
  app/views/support_interface/performance/index.html.erb
  config/routes.rb
  spec/factories.rb
  spec/services/support_interface/candidate_survey_export_spec.rb
  spec/system/support_interface/candidate_survey_csv_spec.rb
Labels: Candidate

#1861 check if a RG exists in Azure before determining if full deployment is required
  azure-pipelines-deploy-template.yml
  azure/template.json
Labels: DevOps

#1867 Fix for group deployment deprecation error
  azure-pipelines-deploy-template.yml
Labels: DevOps

#1865 documenting steps for creating new azure environment
  docs/new-environment.md
Labels: DevOps

#1864 Candidate can cancel reference request
  app/components/candidate_interface/referees_review_component.html.erb
  app/controllers/candidate_interface/referees_controller.rb
  app/mailers/previews/referee_mailer_preview.rb
  app/mailers/referee_mailer.rb
  app/services/candidate_interface/cancel_referee.rb
  app/services/feature_flag.rb
  app/views/candidate_interface/referees/confirm_cancel.html.erb
  app/views/referee_mailer/reference_cancelled_email.text.erb
  config/locales/application_form.yml
  config/locales/en.yml
  config/locales/referee.yml
  config/routes.rb
  spec/mailers/referee_mailer_spec.rb
  spec/services/candidate_interface/cancel_referee_spec.rb
  spec/system/candidate_interface/candidate_cancels_a_reference_spec.rb
  spec/system/support_interface/docs_spec.rb
Labels: Candidate

#1892 Fix sentry error when there are no candidate survey responses
  app/controllers/support_interface/performance_controller.rb
  spec/services/support_interface/candidate_survey_export_spec.rb
  spec/system/support_interface/candidate_survey_csv_spec.rb
Labels: Candidate

#1886 Add Docker documentation for DevOps engineers
  README.md
  docs/developer-onboarding.md
  docs/docker-for-devops.md
Labels: DevOps

#1885 Inform candidates referees will see their answer for how they know them
  config/locales/application_form.yml
Labels: Candidate

#1897 Upversion Ruby from 2.6.5 to 2.6.6
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
  docs/docker-for-devops.md
Labels: Core, DevOps

#1921 Redirect signed in users to their application form when they click the header
  app/controllers/candidate_interface/start_page_controller.rb
  spec/system/candidate_interface/candidate_signs_up_using_magic_link_with_an_invalid_token_spec.rb
Labels: Candidate

#1923 Fix course option drop down
  app/models/candidate_interface/pick_course_form.rb
  app/models/course.rb
  spec/models/candidate_interface/pick_course_form_spec.rb
Labels: Candidate

#1926 Update dates in the UCAS downtime component
  app/components/candidate_interface/ucas_downtime_component.html.erb
  spec/components/candidate_interface/ucas_downtime_component_spec.rb
Labels: Candidate

#1929 Add age_range to course table
  db/migrate/20200423092335_add_age_range_to_course.rb
  db/schema.rb
  docs/domain-model.png
Labels: Candidate

#1900 Limit amount of referees to 10
  app/components/candidate_interface/additional_referees_start_component.html.erb
  app/components/candidate_interface/referees_review_component.html.erb
  app/controllers/candidate_interface/additional_referees_controller.rb
  app/controllers/candidate_interface/candidate_interface_controller.rb
  app/controllers/candidate_interface/referees_controller.rb
  app/models/application_form.rb
  app/services/reference_status.rb
  app/views/candidate_interface/additional_referees/contact_support.html.erb
  app/views/candidate_interface/referees/edit.html.erb
  app/views/candidate_interface/referees/new.html.erb
  app/views/candidate_interface/referees/type.html.erb
  config/locales/application_form.yml
  config/locales/en.yml
  config/routes.rb
  spec/components/candidate_interface/additional_referees_start_component_spec.rb
  spec/services/reference_status_spec.rb
  spec/system/candidate_interface/candidate_cancels_a_reference_spec.rb
Labels: Candidate

#1942 Remove the add_additional_courses feature flag
  app/controllers/candidate_interface/course_choices_controller.rb
  app/services/feature_flag.rb
  app/views/candidate_interface/course_choices/review.html.erb
  spec/support/test_helpers/candidate_helper.rb
  spec/system/candidate_interface/candidate_edits_course_choices_spec.rb
  spec/system/candidate_interface/course_selection/candidate_sees_add_additional_courses_after_adding_course_spec.rb
Labels: Candidate

#1943 Remove before_you_start feature flag
  app/controllers/candidate_interface/after_sign_in_controller.rb
  app/services/feature_flag.rb
  spec/system/candidate_interface/candidate_is_redirected_to_before_you_start_page_on_first_sign_in_spec.rb
  spec/system/candidate_interface/candidate_signs_up_using_magic_link_with_an_invalid_token_spec.rb
Labels: Candidate

#1945 Remove satisfaction_survey feature flag
  app/services/feature_flag.rb
  app/views/candidate_interface/application_form/submit_success.html.erb
  spec/system/candidate_interface/candidate_completes_the_satisfaction_survey_spec.rb
Labels: Candidate

#1944 Remove prompt_for_additional_qualifications feature flag
  app/controllers/candidate_interface/other_qualifications/base_controller.rb
  app/controllers/candidate_interface/other_qualifications/details_controller.rb
  app/models/candidate_interface/other_qualification_form.rb
  app/presenters/candidate_interface/application_form_presenter.rb
  app/services/feature_flag.rb
  app/views/candidate_interface/other_qualifications/review/show.html.erb
  spec/models/candidate_interface/other_qualification_form_spec.rb
  spec/support/test_helpers/candidate_helper.rb
  spec/system/candidate_interface/candidate_entering_other_qualification_spec.rb
  spec/system/candidate_interface/candidate_entering_other_qualification_with_prompting_flag_on_spec.rb
  spec/system/candidate_interface/course_selection/candidate_submitting_application_spec.rb
  spec/system/vendor_api/vendor_receives_application_spec.rb
Labels: Candidate

#1936 Added parallelism to test tasks
  Makefile
  azure-pipelines.yml
Labels: DevOps

#1952 Change submit application link to a button
  app/views/candidate_interface/application_form/show.html.erb
  spec/support/test_helpers/candidate_helper.rb
  spec/system/candidate_interface/candidate_adding_referees_in_sandbox_spec.rb
  spec/system/candidate_interface/candidate_entering_disability_info.rb
  spec/system/candidate_interface/candidate_reviewing_an_incomplete_application_spec.rb
  spec/system/candidate_interface/candidate_reviewing_application_with_unavailable_course_options_spec.rb
  spec/system/candidate_interface/candidate_viewing_a_science_gcse_spec.rb
  spec/system/candidate_interface/course_selection/candidate_submitting_application_spec.rb
Labels: Candidate

#1919 Add accredited body, study mode to the offer section of single application pages
  app/components/provider_interface/offer_summary_list_component.rb
  app/components/provider_interface/status_box_components/conditions_not_met_component.rb
  app/components/provider_interface/status_box_components/course_rows.rb
  app/components/provider_interface/status_box_components/declined_component.rb
  app/components/provider_interface/status_box_components/enrolled_component.rb
  app/components/provider_interface/status_box_components/offer_component.rb
  app/components/provider_interface/status_box_components/pending_conditions_component.rb
  app/components/provider_interface/status_box_components/recruited_component.rb
  app/components/provider_interface/status_box_components/rejected_component.rb
  app/views/provider_interface/application_choices/show.html.erb
  spec/components/provider_interface/status_box_components/course_rows_spec.rb
Labels: ProVendor

#1955 Remove check_full_courses feature flag
  app/controllers/candidate_interface/course_choices_controller.rb
  app/services/feature_flag.rb
  spec/system/candidate_interface/course_selection/candidate_selecting_a_course_that_is_full_spec.rb
Labels: Candidate

#1954 Remove group_providers_by_region feature flag
  app/controllers/candidate_interface/content_controller.rb
  app/services/feature_flag.rb
  app/views/candidate_interface/content/providers.html.erb
  spec/system/candidate_interface/course_selection/candidate_view_available_courses_spec.rb
Labels: Candidate

#1940 Send an email when you log into support with a new device
  app/controllers/dfe_sign_in_controller.rb
  app/mailers/previews/support_mailer_preview.rb
  app/mailers/support_mailer.rb
  app/services/feature_flag.rb
  app/views/support_mailer/confirm_sign_in.text.erb
  spec/system/support_interface/authentication_spec.rb
Labels: Support

#1957 Remove create_account_or_sign_in_page feature flag
  app/controllers/candidate_interface/apply_from_find_controller.rb
  app/services/feature_flag.rb
  app/views/candidate_interface/start_page/show.html.erb
  spec/system/candidate_interface/candidate_eligibility_spec.rb
  spec/system/candidate_interface/candidate_is_redirected_to_before_you_start_page_on_first_sign_in_spec.rb
  spec/system/candidate_interface/candidate_signs_up_using_magic_link_with_an_invalid_token_spec.rb
  spec/system/candidate_interface/course_selection/candidate_apply_from_find_spec.rb
  spec/system/candidate_interface/course_selection/candidate_existing_user_with_course_params_spec.rb
  spec/system/candidate_interface/course_selection/candidate_new_user_with_course_params_and_cancel_spec.rb
  spec/system/candidate_interface/course_selection/candidate_new_user_with_course_params_spec.rb
  spec/system/candidate_interface/course_selection/candidate_view_available_courses_spec.rb
Labels: Candidate

#1951 Support interface for validation error tracking
  app/controllers/support_interface/validation_errors_controller.rb
  app/views/support_interface/performance/index.html.erb
  app/views/support_interface/validation_errors/index.html.erb
  app/views/support_interface/validation_errors/show.html.erb
  config/routes.rb
  spec/system/support_interface/validation_errors_spec.rb
Labels: Support

#1946 Add RBD and DBD dates to submitted applications CSV
  app/controllers/support_interface/performance_controller.rb
  app/services/support_interface/application_choices_export.rb
  spec/services/application_choices_export_spec.rb
  spec/services/support_interface/application_choices_export_spec.rb
Labels: Core

#1962 Docker build performance improvments
  Dockerfile
  Makefile
  azure-pipelines.yml
Labels: DevOps

#1950 Provider user adds note flow
  app/components/provider_interface/application_timeline_component.rb
  app/controllers/provider_interface/application_choices_controller.rb
  app/frontend/styles/_notes.scss
  app/frontend/styles/application.scss
  app/lib/test_applications.rb
  app/models/provider_interface/new_note_form.rb
  app/views/provider_interface/application_choices/new_note.html.erb
  app/views/provider_interface/application_choices/notes.html.erb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20200428163027_rename_title_to_subject_in_notes.rb
  db/schema.rb
  docs/domain-model.png
  spec/components/provider_interface/application_timeline_component_spec.rb
  spec/factories.rb
  spec/models/provider_interface/new_note_form_spec.rb
  spec/system/provider_interface/provider_adds_note_to_application_spec.rb
Labels: ProVendor
