Repository DFE-Digital/apply-for-teacher-training, pull requests merged in 2020-03, with the labels that each got.

#1492 Allow candidates to choose and review their ethnic background
  app/controllers/candidate_interface/equality_and_diversity_controller.rb
  app/helpers/ethnic_background_helper.rb
  app/models/candidate_interface/equality_and_diversity/ethnic_background_form.rb
  app/models/candidate_interface/equality_and_diversity/ethnic_group_form.rb
  app/views/candidate_interface/equality_and_diversity/edit_disabilities.html.erb
  app/views/candidate_interface/equality_and_diversity/edit_disability_status.html.erb
  app/views/candidate_interface/equality_and_diversity/edit_ethnic_background.html.erb
  app/views/candidate_interface/equality_and_diversity/edit_ethnic_group.html.erb
  app/views/candidate_interface/equality_and_diversity/edit_sex.html.erb
  app/views/candidate_interface/equality_and_diversity/review.html.erb
  config/locales/application_form.yml
  config/routes.rb
  spec/helpers/ethnic_background_helper_spec.rb
  spec/models/candidate_interface/equality_and_diversity/ethnic_background_form_spec.rb
  spec/system/candidate_interface/candidate_entering_equality_and_diversity_information_spec.rb
Labels: Candidate

#1496 Change other disabilities field to optional
  app/models/candidate_interface/equality_and_diversity/disabilities_form.rb
  spec/models/candidate_interface/equality_and_diversity/disabilities_form_spec.rb
Labels: Candidate

#1482 Stop candidate clicking back and submitting section with no course
  app/controllers/candidate_interface/course_choices_controller.rb
  spec/system/candidate_interface/candidate_selecting_a_course_spec.rb
Labels: Candidate

#1513 Fix redirect after changing answer to say no to having disabilities
  app/controllers/candidate_interface/equality_and_diversity_controller.rb
Labels: Candidate

#1519 Complete test for redirect to course index if all choices deleted
  spec/system/candidate_interface/candidate_selecting_a_course_spec.rb
Labels: Candidate

#1526 Disable unused and insecure non-SSL port for Redis cache
  azure/template.json
Labels: DevOps

#1538 Fix work break length showing 1 year and 0 months
  app/helpers/view_helper.rb
  spec/components/break_in_work_history_component_spec.rb
  spec/components/break_placeholder_in_work_history_component_spec.rb
  spec/helpers/view_helper_spec.rb
Labels: Candidate

#1539 Add 'Prefer not to say' option for equality and diversity sex question
  app/views/candidate_interface/equality_and_diversity/edit_sex.html.erb
Labels: Candidate

#1545 No files changed in commit
  azure-pipelines-deploy-template.yml
Labels: DevOps

#1536 Refactor candidate mailer specs
  app/mailers/previews/candidate_mailer_preview.rb
  app/views/candidate_mailer/application_rejected_offers_made.erb
  app/views/candidate_mailer/application_submitted.text.erb
  spec/mailers/candidate_mailer_offers_and_rejections_spec.rb
  spec/mailers/candidate_mailer_referee_mails_spec.rb
  spec/mailers/candidate_mailer_spec.rb
  spec/services/send_new_offer_email_to_candidate_spec.rb
  spec/support/test_helpers/mailer_setup_helper.rb
Labels: Candidate

#1564 Add feature flag for suitability to work with children
  app/services/feature_flag.rb
  app/views/candidate_interface/application_form/show.html.erb
  config/locales/en.yml
  spec/system/candidate_interface/candidate_entering_suitability_to_work_with_children_spec.rb
Labels: Candidate

#1563 Prevent a candidate from entering a future date for a start date
  app/helpers/date_validation_helper.rb
  app/models/candidate_interface/volunteering_role_form.rb
  app/models/candidate_interface/work_experience_form.rb
  app/models/candidate_interface/work_history_break_form.rb
  config/locales/application_form.yml
  spec/support/candidate_interface/shared_examples/start_date_validation.rb
Labels: Candidate

#1568 Add migration to add safeguarding issues to application form
  db/migrate/20200309120113_add_safeguarding_issues_to_application_form.rb
  db/schema.rb
  docs/domain-model.png
Labels: Candidate

#1573 Add form object for declaring safeguarding issues
  app/models/candidate_interface/safeguarding_issues_declaration_form.rb
  config/locales/application_form.yml
  spec/factories.rb
  spec/models/candidate_interface/safeguarding_issues_declaration_form_spec.rb
Labels: Candidate

#1530 Add before_you_start page to encourage candidate to select a course on first sign in
  app/controllers/candidate_interface/application_form_controller.rb
  app/controllers/candidate_interface/sign_in_controller.rb
  app/models/application_form.rb
  app/services/feature_flag.rb
  app/views/candidate_interface/application_form/before_you_start.html.erb
  config/routes.rb
  spec/factories.rb
  spec/models/application_form_spec.rb
  spec/system/candidate_interface/candidate_is_redirected_to_before_you_start_page_on_first_sign_in_spec.rb
Labels: Candidate

#1571 Add logic app diagnostic settings config
  azure-pipelines-deploy-template.yml
  azure-pipelines-release.yml
  azure/template.json
  docs/pipeline-variables.md
Labels: DevOps

#1570 Set GCSE sections to incomplete if no year or grade is present
  app/presenters/candidate_interface/application_form_presenter.rb
  spec/system/candidate_interface/candidate_entering_gcse_spec.rb
Labels: Candidate

#1582 Add ability to declare any safeguarding issues
  app/components/safeguarding_review_component.html.erb
  app/components/safeguarding_review_component.rb
  app/controllers/candidate_interface/safeguarding_controller.rb
  app/views/candidate_interface/application_form/show.html.erb
  app/views/candidate_interface/safeguarding/edit.html.erb
  app/views/candidate_interface/safeguarding/show.html.erb
  config/routes.rb
  spec/components/safeguarding_review_component_spec.rb
  spec/system/candidate_interface/candidate_entering_suitability_to_work_with_children_spec.rb
Labels: Candidate

#1562 Show work breaks in provider interface
  app/components/previews/provider_interface/volunteering_history_component_preview.rb
  app/components/previews/provider_interface/work_history_component_preview.rb
  app/components/provider_interface/volunteering_history_component.html.erb
  app/components/provider_interface/volunteering_history_component.rb
  app/components/provider_interface/work_history_component.html.erb
  app/components/provider_interface/work_history_component.rb
  app/components/provider_interface/work_history_item_component.html.erb
  app/components/provider_interface/work_history_item_component.rb
  app/frontend/styles/_work-history.scss
  app/frontend/styles/application.scss
  app/services/feature_flag.rb
  app/views/provider_interface/application_choices/show.html.erb
  spec/components/provider_interface/volunteering_history_component_spec.rb
  spec/components/provider_interface/work_history_component_spec.rb
  spec/system/provider_interface/see_individual_application_with_work_gaps_spec.rb
Labels: Provider UI

#1558 Build add another course flow
  app/controllers/candidate_interface/course_choices_controller.rb
  app/controllers/candidate_interface/sign_in_controller.rb
  app/models/candidate_interface/add_another_course_form.rb
  app/models/candidate_interface/pick_course_form.rb
  app/services/candidate_interface/add_course_from_find.rb
  app/services/candidate_interface/interstitial_route_selector.rb
  app/services/feature_flag.rb
  app/views/candidate_interface/course_choices/add_another_course.html.erb
  config/routes.rb
  spec/models/candidate_interface/add_another_course_form_spec.rb
  spec/support/test_helpers/candidate_helper.rb
  spec/system/candidate_interface/candidate_edits_course_choice_after_submission_spec.rb
  spec/system/candidate_interface/candidate_sees_add_additional_courses_after_adding_course_spec.rb
  spec/system/candidate_interface/course_selection/candidate_selecting_a_course_spec.rb
  spec/system/candidate_interface/course_selection/candidate_selecting_a_course_study_mode_spec.rb
  spec/system/candidate_interface/course_selection/candidate_signed_in_user_with_course_params_picks_study_mode_spec.rb
Labels: Candidate

#1592 Update content from 'Interview preferences' to 'Interview needs'
  app/views/candidate_interface/personal_statement/interview_preferences/edit.html.erb
  config/locales/application_form.yml
  config/locales/en.yml
  spec/support/test_helpers/candidate_helper.rb
  spec/system/candidate_interface/candidate_entering_interview_preferences_spec.rb
Labels: Candidate, Content

#1551 Allow provider users to modify existing offers (offered course) via the UI
  app/components/candidate_interface/course_choices_review_component.html.erb
  app/components/candidate_interface/course_choices_review_component.rb
  app/components/candidate_interface/offer_review_component.rb
  app/components/previews/provider_interface/offer_summary_list_component_preview.rb
  app/components/provider_interface/offer_summary_list_component.html.erb
  app/components/provider_interface/offer_summary_list_component.rb
  app/components/provider_interface/status_box_components/offer_component.html.erb
  app/components/provider_interface/status_box_components/offer_component.rb
  app/components/summary_list_component.html.erb
  app/components/summary_list_component.rb
  app/controllers/provider_interface/decisions_controller.rb
  app/controllers/provider_interface/offer_changes_controller.rb
  app/models/application_choice.rb
  app/models/provider_interface/change_offer_form.rb
  app/models/provider_interface/edit_response_form.rb
  app/services/change_offer.rb
  app/services/get_application_choices_for_providers.rb
  app/services/provider_authorisation.rb
  app/views/candidate_interface/decisions/offer.html.erb
  app/views/provider_interface/application_choices/index.html.erb
  app/views/provider_interface/offer_changes/confirm_update.html.erb
  app/views/provider_interface/offer_changes/edit_course.html.erb
  app/views/provider_interface/offer_changes/edit_course_option.html.erb
  app/views/provider_interface/offer_changes/edit_provider.html.erb
  app/views/support_interface/application_forms/show.html.erb
  config/locales/en.yml
  config/routes.rb
  spec/factories.rb
  spec/models/provider_interface/change_offer_form_spec.rb
  spec/services/change_offer_spec.rb
  spec/services/provider_authorisation_spec.rb
  spec/support/test_helpers/course_option_helpers.rb
  spec/support/test_helpers/dfe_sign_in_helpers.rb
  spec/system/provider_interface/provider_changes_an_offer_spec.rb
  spec/system/provider_interface/provider_withdraws_an_offer_spec.rb
Labels: Provider UI

#1595 Add error prefix to page titles of equality and diversity forms
  app/views/candidate_interface/equality_and_diversity/edit_disabilities.html.erb
  app/views/candidate_interface/equality_and_diversity/edit_disability_status.html.erb
  app/views/candidate_interface/equality_and_diversity/edit_ethnic_background.html.erb
  app/views/candidate_interface/equality_and_diversity/edit_ethnic_group.html.erb
  app/views/candidate_interface/equality_and_diversity/edit_sex.html.erb
Labels: Candidate, Content

#1591 Add ability to view completion and review safeguarding section upon submission
  app/components/safeguarding_review_component.html.erb
  app/components/safeguarding_review_component.rb
  app/presenters/candidate_interface/application_form_presenter.rb
  app/views/candidate_interface/application_form/_review.html.erb
  app/views/candidate_interface/application_form/show.html.erb
  config/locales/review_application.yml
  spec/presenters/candidate_interface/application_form_presenter_spec.rb
  spec/support/test_helpers/candidate_helper.rb
  spec/system/candidate_interface/candidate_entering_suitability_to_work_with_children_spec.rb
  spec/system/candidate_interface/candidate_reviewing_an_incomplete_application_spec.rb
  spec/system/candidate_interface/course_selection/candidate_submitting_application_spec.rb
Labels: Candidate

#1611 Redis minimum TLS version change
  azure/template.json
Labels: DevOps

#1622 Update interview needs to conditionally show disability bullet point
  app/views/candidate_interface/personal_statement/interview_preferences/edit.html.erb
Labels: Candidate, Content

#1627 Display additional information on course review page
  app/components/candidate_interface/course_choices_review_component.rb
  app/services/display_course_length.rb
  app/services/feature_flag.rb
  app/services/sync_provider_from_find.rb
  app/views/support_interface/courses/show.html.erb
  db/migrate/20200312110616_add_description_to_course_and_remove_qualificaiton.rb
  db/schema.rb
  spec/components/candidate_interface/course_choices_review_component_spec.rb
  spec/factories.rb
  spec/services/display_course_length_spec.rb
  spec/services/sync_provider_from_find_spec.rb
  spec/support/test_helpers/find_api_helper.rb
Labels: Candidate

#1634 Backfill reference tokens and create a new one when refreshing sign in token
  app/models/application_reference.rb
  db/migrate/20200312151910_backfill_reference_tokens_from_references.rb
  db/schema.rb
  docs/domain-model.png
  spec/models/application_reference_spec.rb
Labels: Candidate

#1637 Update chaser reference request email to use correct link
  app/views/referee_mailer/reference_request_chaser_email.text.erb
  spec/mailers/referee_mailer_spec.rb
Labels: Candidate

#1638 Add ability to use link in initial and chaser reference request emails
  app/models/application_reference.rb
  spec/factories.rb
  spec/models/application_reference_spec.rb
  spec/system/referee_interface/referee_can_use_initial_and_chaser_sign_in_links_spec.rb
Labels: Candidate

#1644 Add test to ensure that initial reference request email works after chaser is sent
  spec/system/referee_interface/referee_can_use_initial_and_chaser_sign_in_links_spec.rb
Labels: Candidate

#1664 Redirect to review courses page when no to adding another course
  app/controllers/candidate_interface/course_choices_controller.rb
  spec/system/candidate_interface/candidate_sees_add_additional_courses_after_adding_course_spec.rb
Labels: Candidate

#1656 Clean up usage of single hashed token for a reference
  app/models/application_reference.rb
  spec/models/application_reference_spec.rb
Labels: Candidate

#1677 Add UCAS downtime banner wherever we link off to the site
  app/components/candidate_interface/ucas_downtime_component.html.erb
  app/components/candidate_interface/ucas_downtime_component.rb
  app/services/feature_flag.rb
  app/views/candidate_interface/apply_from_find/apply_on_ucas_only.html.erb
  app/views/candidate_interface/apply_from_find/apply_on_ucas_or_apply.html.erb
  app/views/candidate_interface/apply_from_find/not_found.html.erb
  app/views/candidate_interface/course_choices/ucas.html.erb
  app/views/candidate_interface/decisions/decline.html.erb
  app/views/candidate_interface/decisions/offer.html.erb
  app/views/candidate_interface/shared/pilot_holding_page.html.erb
  app/views/candidate_interface/start_page/not_eligible.html.erb
  spec/components/candidate_interface/ucas_downtime_component_spec.rb
Labels: Candidate

#1682 Update guidance and hint text on declaring safeguarding issues page
  app/views/candidate_interface/safeguarding/edit.html.erb
Labels: Candidate, Content

#1645 1752 search applications by candidate name in provider interface
  app/components/previews/provider_interface/filter_component_preview.rb
  app/components/provider_interface/current_filters_component.html.erb
  app/components/provider_interface/current_filters_component.rb
  app/components/provider_interface/filter_checkbox_component.html.erb
  app/components/provider_interface/filter_component.html.erb
  app/components/provider_interface/filter_component.rb
  app/components/provider_interface/filter_search_component.html.erb
  app/components/provider_interface/filter_search_component.rb
  app/components/provider_interface/safeguarding_declaration_component.rb
  app/models/provider_interface/provider_applications_page_state.rb
  app/services/filter_application_choices_for_providers.rb
  app/views/provider_interface/application_choices/_application_choices_table.html.erb
  app/views/provider_interface/application_choices/index.html.erb
  spec/components/provider_interface/current_filters_component_spec.rb
  spec/components/provider_interface/filter_component_spec.rb
  spec/components/provider_interface/safeguarding_declaraion_component_spec.rb
  spec/models/provider_interface/provider_applications_page_state_spec.rb
  spec/system/provider_interface/provider_applications_search_spec.rb
Labels: Provider UI

#1702 Add feature flag for COVID-19 related changes
  app/services/feature_flag.rb
Labels: Candidate

#1688 Automatically send an email to a candidate to notify them of a changed offer
  app/mailers/candidate_mailer.rb
  app/mailers/previews/candidate_mailer_preview.rb
  app/services/change_offer.rb
  app/views/candidate_mailer/changed_offer.text.erb
  config/locales/application_states.yml
  config/locales/candidate_mailer.yml
  spec/mailers/candidate_mailer_offers_and_rejections_spec.rb
  spec/services/change_offer_spec.rb
  spec/system/provider_interface/provider_changes_an_offer_spec.rb
Labels: Candidate

#1657 Improve handling of offering a different course for new and existing offers
  app/controllers/provider_interface/offer_changes_controller.rb
  app/controllers/vendor_api/decisions_controller.rb
  app/services/change_offer.rb
  app/services/get_course_option_from_codes.rb
  app/services/make_an_offer.rb
  app/services/provider_authorisation.rb
  config/locales/en.yml
  spec/requests/vendor_api/post_make_an_offer_spec.rb
  spec/services/change_offer_spec.rb
  spec/services/get_course_option_from_codes_spec.rb
  spec/services/make_an_offer_spec.rb
Labels: Core

#1695 Fix for bugs in qa exposed by RecalculateDates
  app/lib/test_applications.rb
  app/services/decline_offer_by_default.rb
  spec/lib/test_applications_spec.rb
Labels: Core

#1713 Add COVID-19 candidate banner to ‘Your application’ page
  app/views/candidate_interface/application_form/show.html.erb
  spec/system/candidate_interface/candidate_signs_up_using_magic_link_with_an_invalid_token_spec.rb
  spec/system/candidate_interface/candidate_viewing_application_spec.rb
Labels: COVID-19, Candidate

#1712 Refactor hard coded edit within 5 working days to use TimeLimitCalculator
  app/controllers/candidate_interface/application_form_controller.rb
  app/views/candidate_interface/application_form/edit.html.erb
  app/views/candidate_interface/application_form/edit_by_support.html.erb
  app/views/candidate_interface/application_form/submit_success.html.erb
Labels: Candidate

#1708 Update provider emails content (COVID-19)
  app/views/provider_mailer/application_rejected_by_default.text.erb
  app/views/provider_mailer/application_submitted.text.erb
  app/views/provider_mailer/chase_provider_decision.text.erb
  spec/mailers/provider_mailer_spec.rb
Labels: COVID-19

#1725 Covid 19 changes to service email notifications(candidate interface) 2
  app/views/candidate_mailer/chase_candidate_decision.text.erb
  app/views/candidate_mailer/declined_by_default.text.erb
  app/views/candidate_mailer/new_offer/multiple_offers.text.erb
  app/views/candidate_mailer/new_offer/single_offer.text.erb
  spec/mailers/candidate_mailer_offers_and_rejections_spec.rb
  spec/mailers/candidate_mailer_spec.rb
Labels: COVID-19, Candidate

#1676 Add invalidated_by_find field to CourseOptions
  db/migrate/20200318153836_add_invalidated_by_find_to_course_options.rb
  db/schema.rb
  docs/domain-model.png
Labels: Core

#1710 Add a banner on application dashboard for COVID-19 guidance
  app/components/candidate_interface/covid19_dashboard_banner_component.html.erb
  app/components/candidate_interface/covid19_dashboard_banner_component.rb
  app/views/candidate_interface/application_form/complete.html.erb
  spec/components/candidate_interface/covid19_dashboard_banner_component_spec.rb
  spec/system/candidate_interface/candidate_needs_to_provide_new_referee_spec.rb
  spec/system/candidate_interface/candidate_withdraws_spec.rb
  spec/system/candidate_interface/course_selection/candidate_submitting_application_spec.rb
Labels: COVID-19, Candidate

#1689 Fix test applications audit trail attribution (for provider actions)
  app/lib/test_applications.rb
  spec/lib/test_applications_spec.rb
Labels: Provider UI

#1655 New application timeline in provider interface
  app/components/previews/provider_interface/application_timeline_component_preview.rb
  app/components/provider_interface/application_timeline_component.html.erb
  app/components/provider_interface/application_timeline_component.rb
  app/frontend/styles/_timeline.scss
  app/frontend/styles/application.scss
  app/services/feature_flag.rb
  app/services/find_status_change_audits.rb
  app/views/provider_interface/application_choices/show.html.erb
  spec/components/provider_interface/application_timeline_component_spec.rb
  spec/services/find_status_change_audits_spec.rb
  spec/system/provider_interface/see_individual_application_spec.rb
  spec/system/provider_interface/see_individual_application_with_work_gaps_spec.rb
Labels: Provider UI

#1714 Add COVID-19 provider guidance page
  app/controllers/provider_interface/content_controller.rb
  app/views/content/covid_19_guidance.md
  config/locales/en.yml
  config/routes.rb
Labels: COVID-19

#1665 Fix bug when users double submit the find course selection form
  app/controllers/candidate_interface/find_course_selections_controller.rb
  app/controllers/candidate_interface/sign_in_controller.rb
  app/models/candidate_interface/pick_site_form.rb
  config/locales/en.yml
  spec/system/candidate_interface/candidate_existing_user_with_course_params_without_selection_page.spec.rb
  spec/system/candidate_interface/course_selection/candidate_existing_user_with_course_params_spec.rb
  spec/system/candidate_interface/course_selection/candidate_signed_in_user_with_course_params_spec.rb
  spec/system/candidate_interface/course_selection/candidate_signed_in_user_with_course_params_without_selection_page_spec.rb
Labels: Candidate

#1706 Adds covid banner to provider microsite
  app/views/provider_interface/start_page/show.html.erb
  spec/system/provider_interface/first_login_spec.rb
Labels: COVID-19

#1709 Add COVID-19 banner to provider index page
  app/views/provider_interface/application_choices/index.html.erb
  spec/system/provider_interface/see_applications_spec.rb
Labels: COVID-19

#1729 Show process emails in the Vendor API docs
  app/components/when_emails_are_sent_component.html.erb
  app/components/when_emails_are_sent_component.rb
  app/controllers/api_docs/pages_controller.rb
  app/views/api_docs/pages/lifecycle.html.erb
  app/views/api_docs/pages/when_emails_are_sent.html.erb
  app/views/support_interface/docs/when_emails_are_sent.html.erb
  config/routes.rb
  spec/system/api_docs/api_docs_spec.rb
Labels: ProVendor

#1727 Update apply through UCAS page
  app/controllers/candidate_interface/course_choices_controller.rb
  app/views/candidate_interface/course_choices/ucas.html.erb
  app/views/candidate_interface/course_choices/ucas_no_courses.html.erb
  app/views/candidate_interface/course_choices/ucas_with_course.html.erb
  config/locales/en.yml
  config/routes.rb
  spec/system/candidate_interface/course_selection/candidate_selecting_a_course_not_on_apply_spec.rb
Labels: Candidate

#1732 Make the choice between Apply and UCAS clearer
  app/controllers/candidate_interface/apply_from_find_controller.rb
  app/models/candidate_interface/apply_on_ucas_or_apply_form.rb
  app/services/candidate_interface/apply_from_find_page.rb
  app/views/candidate_interface/apply_from_find/apply_on_ucas_or_apply.html.erb
  config/locales/application_form.yml
  config/locales/apply_from_find.yml
  config/routes.rb
  spec/models/candidate_interface/apply_on_ucas_or_apply_form_spec.rb
  spec/services/candidate_interface/apply_from_find_page_spec.rb
  spec/system/candidate_interface/candidate_new_user_with_course_params_and_cancel_spec.rb
  spec/system/candidate_interface/course_selection/candidate_apply_from_find_spec.rb
  spec/system/candidate_interface/course_selection/candidate_new_user_with_course_params_spec.rb
  spec/system/candidate_interface/course_selection/candidate_signed_in_user_with_course_params_picks_study_mode_spec.rb
  spec/system/candidate_interface/course_selection/candidate_signed_in_user_with_course_params_spec.rb
  spec/system/candidate_interface/course_selection/candidate_signed_in_user_with_course_params_without_selection_page_spec.rb
Labels: Candidate

#1572 Add button to render an application as PDF
  Dockerfile
  Gemfile
  Gemfile.lock
  app/components/provider_interface/status_box_components/awaiting_provider_decision_component.html.erb
  app/components/provider_interface/status_box_components/offer_component.html.erb
  app/components/provider_interface/status_box_components/pending_conditions_component.html.erb
  app/components/summary_list_component.html.erb
  app/frontend/styles/_print-helpers.scss
  app/views/provider_interface/application_choices/show.html.erb
  config/application.rb
  spec/system/provider_interface/see_individual_application_as_pdf_spec.rb
Labels: Provider UI

#1743 Correct service type variable for Logit
  azure/containers.json
  azure/template.json
Labels: DevOps

#1751 Update terms of use for candidates
  app/views/content/terms_candidate.md
  config/locales/en.yml
Labels: Candidate, Content

#1747 Improve guidance around GCSE qualifications
  app/components/candidate_interface/gcse_grade_guidance_component.html.erb
  app/components/candidate_interface/gcse_grade_guidance_component.rb
  app/helpers/gcse_qualification_helper.rb
  app/views/candidate_interface/gcse/grade/edit.html.erb
  config/locales/gcse_details.yml
  spec/components/candidate_interface/gcse_grade_guidance_component_spec.rb
Labels: Candidate, Content

#1752 Update COVID-19 guidance on application confirmation page
  app/views/candidate_interface/application_form/submit_success.html.erb
  spec/system/candidate_interface/course_selection/candidate_submitting_application_spec.rb
Labels: Candidate, Content

#1761 Fix GCSE qualifications design
  app/components/candidate_interface/gcse_qualification_review_component.html.erb
  app/views/candidate_interface/gcse/type/edit.html.erb
Labels: Candidate

#1667 Allow providers to select a different course, location or provider as they make an offer
  app/components/provider_interface/offer_summary_list_component.rb
  app/controllers/provider_interface/decisions_controller.rb
  app/controllers/provider_interface/offer_changes_controller.rb
  app/models/provider_interface/change_offer_form.rb
  app/models/provider_interface/pick_response_form.rb
  app/services/make_an_offer.rb
  app/views/provider_interface/application_choices/show.html.erb
  app/views/provider_interface/decisions/confirm_offer.html.erb
  app/views/provider_interface/decisions/new_offer.html.erb
  app/views/provider_interface/decisions/respond.html.erb
  app/views/provider_interface/offer_changes/confirm_update.html.erb
  app/views/provider_interface/offer_changes/edit_course.html.erb
  app/views/provider_interface/offer_changes/edit_course_option.html.erb
  app/views/provider_interface/offer_changes/edit_provider.html.erb
  config/locales/en.yml
  spec/models/provider_interface/pick_response_form_spec.rb
  spec/system/provider_interface/provider_makes_an_offer_spec.rb
  spec/system/provider_interface/provider_makes_changes_before_offer_spec.rb
  spec/system/provider_interface/see_applications_spec.rb
Labels: Provider UI

#1767 Allow candidates to change the location of their course choice
  app/components/candidate_interface/course_choices_review_component.rb
  app/controllers/candidate_interface/course_choices_controller.rb
  app/models/candidate_interface/pick_site_form.rb
  app/services/feature_flag.rb
  app/views/candidate_interface/course_choices/options_for_site.html.erb
  spec/components/candidate_interface/course_choices_review_component_spec.rb
  spec/models/candidate_interface/pick_site_form_spec.rb
  spec/system/candidate_interface/candidate_edits_course_choices_spec.rb
Labels: Candidate

#1773 Filtering applications by accredited body in Provider Interface
  app/components/previews/provider_interface/filter_component_preview.rb
  app/components/provider_interface/current_filters_component.html.erb
  app/components/provider_interface/filter_component.html.erb
  app/controllers/provider_interface/application_choices_controller.rb
  app/models/provider.rb
  app/models/provider_interface/provider_applications_page_state.rb
  app/services/filter_application_choices_for_providers.rb
  app/services/provider_interface/provider_options_service.rb
  spec/models/provider_interface/provider_applications_page_state_spec.rb
  spec/services/provider_interface/provider_options_service_spec.rb
  spec/system/provider_interface/provider_applications_filter_spec.rb
Labels: Provider UI

#1785 Remove display_additional_course_details feature flag
  app/components/candidate_interface/course_choices_review_component.rb
  app/services/feature_flag.rb
  spec/components/candidate_interface/course_choices_review_component_spec.rb
Labels: Candidate

#1762 Implement the new design for applications in the provider applications index page
  app/components/provider_interface/application_card_component.html.erb
  app/components/provider_interface/application_card_component.rb
  app/components/provider_interface/filter_component.html.erb
  app/frontend/styles/_application-card.scss
  app/frontend/styles/_filter.scss
  app/frontend/styles/_provider.scss
  app/frontend/styles/application.scss
  app/services/get_application_choices_for_providers.rb
  app/views/provider_interface/application_choices/index.html.erb
  spec/components/provider_interface/application_card_component_spec.rb
  spec/system/provider_interface/provider_applications_filter_spec.rb
  spec/system/provider_interface/provider_applications_search_spec.rb
Labels: Provider UI

#1784 Remove you selected a course feature flag
  app/controllers/candidate_interface/after_sign_in_controller.rb
  app/controllers/candidate_interface/find_course_selections_controller.rb
  app/services/candidate_interface/add_course_from_find.rb
  app/services/feature_flag.rb
  spec/services/candidate_interface/add_course_from_find_spec.rb
  spec/system/candidate_interface/course_selection/candidate_existing_user_with_course_params_spec.rb
  spec/system/candidate_interface/course_selection/candidate_existing_user_with_course_params_without_selection_page.spec.rb
  spec/system/candidate_interface/course_selection/candidate_new_user_with_course_params_and_cancel_spec.rb
  spec/system/candidate_interface/course_selection/candidate_new_user_with_course_params_spec.rb
  spec/system/candidate_interface/course_selection/candidate_new_user_with_course_params_spec_with_selection_page.rb
  spec/system/candidate_interface/course_selection/candidate_signed_in_user_with_course_params_picks_study_mode_spec.rb
  spec/system/candidate_interface/course_selection/candidate_signed_in_user_with_course_params_spec.rb
  spec/system/candidate_interface/course_selection/candidate_signed_in_user_with_course_params_without_selection_page_spec.rb
Labels: Candidate

#1766 Layout changes to the provider ui single application view
  app/components/personal_details_component.rb
  app/components/provider_interface/conditions_component.html.erb
  app/components/provider_interface/status_box_component.html.erb
  app/components/provider_interface/status_box_components/awaiting_provider_decision_component.rb
  app/components/provider_interface/status_box_components/conditions_not_met_component.html.erb
  app/components/provider_interface/status_box_components/conditions_not_met_component.rb
  app/components/provider_interface/status_box_components/declined_component.html.erb
  app/components/provider_interface/status_box_components/declined_component.rb
  app/components/provider_interface/status_box_components/enrolled_component.html.erb
  app/components/provider_interface/status_box_components/enrolled_component.rb
  app/components/provider_interface/status_box_components/offer_component.html.erb
  app/components/provider_interface/status_box_components/offer_component.rb
  app/components/provider_interface/status_box_components/pending_conditions_component.html.erb
  app/components/provider_interface/status_box_components/pending_conditions_component.rb
  app/components/provider_interface/status_box_components/recruited_component.html.erb
  app/components/provider_interface/status_box_components/recruited_component.rb
  app/components/provider_interface/status_box_components/rejected_component.html.erb
  app/components/provider_interface/status_box_components/rejected_component.rb
  app/components/provider_interface/status_box_components/withdrawn_component.rb
  app/frontend/styles/_card.scss
  app/frontend/styles/_tag.scss
  app/helpers/view_helper.rb
  app/views/provider_interface/application_choices/show.html.erb
  spec/components/provider_interface/status_box_component_spec.rb
  spec/helpers/view_helper_spec.rb
  spec/system/provider_interface/see_individual_application_spec.rb
Labels: Provider UI

#1802 App service container start timeout pipeline variable
  azure-pipelines-release.yml
  azure-pipelines.yml
Labels: DevOps

#1765 Refactor and use COVID-19 feature flag when calculating edit by date
  app/controllers/candidate_interface/application_form_controller.rb
  app/lib/time_limit_config.rb
  app/services/submit_application_choice.rb
  app/views/candidate_interface/application_form/edit.html.erb
  app/views/candidate_interface/application_form/edit_by_support.html.erb
  app/views/candidate_interface/application_form/submit_success.html.erb
  app/views/candidate_mailer/application_submitted.text.erb
  spec/lib/time_limit_config_spec.rb
  spec/mailers/candidate_mailer_spec.rb
  spec/services/submit_application_choice_spec.rb
Labels: Candidate

#1790 Signed in users don't see apply on Apply or UCAS page
  app/controllers/candidate_interface/apply_from_find_controller.rb
  app/controllers/candidate_interface/start_page_controller.rb
  spec/system/candidate_interface/course_selection/candidate_signed_in_user_with_course_params_picks_study_mode_spec.rb
  spec/system/candidate_interface/course_selection/candidate_signed_in_user_with_course_params_spec.rb
Labels: Candidate

#1788 Allow candidates to edit the study mode of their course choices
  app/components/candidate_interface/course_choices_review_component.rb
  app/controllers/candidate_interface/course_choices_controller.rb
  app/views/candidate_interface/course_choices/options_for_study_mode.html.erb
  spec/components/candidate_interface/course_choices_review_component_spec.rb
  spec/support/test_helpers/course_option_helpers.rb
  spec/system/candidate_interface/candidate_edits_course_choices_spec.rb
Labels: Candidate
