Repository DFE-Digital/apply-for-teacher-training, pull requests merged in 2021-04, with the labels that each got.

#4436 Show caption conditionally on the notifications settings page
  app/views/provider_interface/notifications/show.html.erb
Labels: Notifications, ProVendor

#4431 Use helper method for the GovukComponent::Details component
  app/components/api_docs/operation_component.html.erb
  app/components/candidate_interface/application_status_tag_component.html.erb
  app/components/candidate_interface/grouped_provider_courses_component.html.erb
  app/components/candidate_interface/rejection_reasons_component.html.erb
  app/components/provider_interface/email_log_row_component.html.erb
  app/components/provider_interface/provider_relationship_permissions_list_component.html.erb
  app/components/provider_interface/safeguarding_declaration_component.html.erb
  app/components/state_diagram_component.html.erb
  app/components/support_interface/application_api_representation_component.html.erb
  app/components/support_interface/email_log_row_component.html.erb
  app/components/support_interface/ucas_match_table_component.html.erb
  app/helpers/view_helper.rb
  app/views/provider_interface/decisions/confirm_withdraw_offer.html.erb
  app/views/provider_interface/provider_relationship_permissions/edit.html.erb
  app/views/provider_interface/reconfirm_deferred_offers/start.html.erb
  app/views/support_interface/docs/qualifications.html.erb
  app/views/support_interface/providers/courses.html.erb
  app/views/support_interface/support_users/new.html.erb
  app/views/support_interface/vendor_api_requests/index.html.erb
Labels: Components, Core

#4432 Create service-key for database and redis connection
  terraform/modules/paas/main.tf
  terraform/modules/paas/variables.tf
Labels: DevOps, PaaS

#4427 Minor improvements to FixLatLongFlipFlops
  app/services/data_migrations/fix_lat_long_flip_flops.rb
  spec/services/data_migrations/fix_lat_long_flip_flops_spec.rb
Labels: Core

#4374 Use GovukComponent::Breadcrumbs
  app/components/breadcrumb_component.html.erb
  app/components/breadcrumb_component.rb
  app/components/support_interface/reasons_for_rejection_search_breadcrumb_component.html.erb
  app/components/support_interface/reasons_for_rejection_search_breadcrumb_component.rb
  app/helpers/view_helper.rb
  app/views/provider_interface/application_choices/emails.html.erb
  app/views/provider_interface/hesa_export/new.html.erb
  app/views/provider_interface/notifications/show.html.erb
  app/views/provider_interface/organisations/index.html.erb
  app/views/provider_interface/organisations/show.html.erb
  app/views/provider_interface/profile/show.html.erb
  app/views/provider_interface/provider_users/index.html.erb
  app/views/provider_interface/provider_users/show.html.erb
  app/views/support_interface/application_forms/_application_navigation.html.erb
  app/views/support_interface/candidates/show.html.erb
  app/views/support_interface/course/_course_navigation.html.erb
  app/views/support_interface/data_exports/_data_export_navigation.html.erb
  app/views/support_interface/data_exports/new.html.erb
  app/views/support_interface/data_exports/show.html.erb
  app/views/support_interface/performance/course_options.html.erb
  app/views/support_interface/performance/courses_dashboard.html.erb
  app/views/support_interface/performance/feature_metrics_dashboard.html.erb
  app/views/support_interface/performance/reasons_for_rejection_dashboard.html.erb
  app/views/support_interface/performance/ucas_matches_dashboard.html.erb
  app/views/support_interface/performance/unavailable_choices.html.erb
  app/views/support_interface/provider_users/_provider_user_navigation.html.erb
  app/views/support_interface/providers/_provider_navigation.html.erb
  app/views/support_interface/support_users/show.html.erb
  app/views/support_interface/ucas_matches/_ucas_match_navigation.html.erb
  app/views/support_interface/validation_errors/search.html.erb
  app/views/support_interface/validation_errors/summary.html.erb
  spec/components/breadcrumb_component_spec.rb
Labels: Components, Core

#4428 Use GovukComponent::Tag
  app/components/candidate_interface/application_status_tag_component.html.erb
  app/components/candidate_interface/application_status_tag_component.rb
  app/components/candidate_interface/references_review_component.rb
  app/components/phase_banner_component.html.erb
  app/components/product_header_component.html.erb
  app/components/provider_interface/application_status_tag_component.html.erb
  app/components/provider_interface/application_status_tag_component.rb
  app/components/provider_interface/conditions_component.html.erb
  app/components/provider_interface/offer_summary_component.html.erb
  app/components/sandbox_feature_component.html.erb
  app/components/support_interface/application_status_tag_component.html.erb
  app/components/support_interface/application_status_tag_component.rb
  app/components/support_interface/course_choices_table_component.html.erb
  app/components/support_interface/course_details_component.rb
  app/components/support_interface/course_name_and_status_component.html.erb
  app/components/support_interface/email_log_row_component.rb
  app/components/support_interface/provider_courses_table_component.rb
  app/components/support_interface/reference_with_feedback_component.rb
  app/components/support_interface/ucas_match_action_component.html.erb
  app/components/support_interface/ucas_match_action_component.rb
  app/components/support_interface/ucas_match_table_component.html.erb
  app/components/support_interface/ucas_matches_table_component.rb
  app/components/tag_component.html.erb
  app/components/tag_component.rb
  app/components/task_list_item_component.html.erb
  app/frontend/styles/_tag.scss
  app/views/support_interface/data_exports/view_history.html.erb
  app/views/support_interface/settings/feature_flags.html.erb
  app/views/support_interface/ucas_matches/show.html.erb
  app/views/support_interface/validation_errors/search.html.erb
  docs/components.md
  spec/components/candidate_interface/references_review_component_spec.rb
  spec/components/provider_interface/conditions_component_spec.rb
  spec/system/support_interface/data_directory_spec.rb
Labels: Components, Core

#4439 Skip post-submission confirmation page
  app/components/flash_message_component.html.erb
  app/components/flash_message_component.rb
  app/controllers/candidate_interface/feedback_form_controller.rb
  app/controllers/candidate_interface/submitted_application_form_controller.rb
  app/controllers/candidate_interface/unsubmitted_application_form_controller.rb
  app/forms/candidate_interface/feedback_form.rb
  app/views/candidate_interface/feedback_form/new.html.erb
  app/views/candidate_interface/submitted_application_form/submit_success.html.erb
  config/routes.rb
  spec/components/flash_message_component_spec.rb
  spec/system/candidate_interface/apply_again/candidate_with_unsuccessful_application_applies_again_spec.rb
  spec/system/candidate_interface/feedback/candidate_completes_the_feedback_form_spec.rb
  spec/system/candidate_interface/signup_and_signin/candidate_signs_in_and_prefills_application_in_sandbox_spec.rb
  spec/system/candidate_interface/submitting/candidate_submitting_application_spec.rb
  spec/system/candidate_interface/submitting/international_candidate_submitting_application_spec.rb
Labels: Candidate

#4456 Use govuk_skip_link helper
  app/views/layouts/base.html.erb
Labels: Components, Core

#4445 Update banner and page to follow GDS cookie guidance
  app/controllers/concerns/cookie_preference_concerns.rb
  app/forms/cookie_preferences_form.rb
  app/frontend/styles/_button.scss
  app/frontend/styles/_cookie_banner.scss
  app/frontend/styles/application.scss
  app/views/content/cookies.html.erb
  app/views/layouts/base.html.erb
  app/views/shared/_cookies_banner.html.erb
  app/views/shared/_cookies_confirmation_banner.html.erb
  config/routes.rb
  spec/system/candidate_interface/candidate_content_spec.rb
  spec/system/candidate_interface/cookies/accept_cookies_spec.rb
  spec/system/candidate_interface/cookies/reject_cookies_spec.rb
  spec/system/provider_interface/cookies/accept_cookies_spec.rb
  spec/system/provider_interface/cookies/reject_cookies_spec.rb
  spec/system/provider_interface/provider_content_spec.rb
Labels: Core

#4437 Add Register API docs
  app/controllers/api_docs/register_api_docs/open_api_controller.rb
  app/controllers/api_docs/register_api_docs/pages_controller.rb
  app/controllers/api_docs/register_api_docs/reference_controller.rb
  app/helpers/application_helper.rb
  app/helpers/navigation_items.rb
  app/lib/register_api_specification.rb
  app/presenters/register_api/single_application_presenter.rb
  app/views/api_docs/register_api_docs/pages/release_notes.md
  app/views/api_docs/register_api_docs/pages/rendered_markdown_template.html.erb
  app/views/api_docs/register_api_docs/reference/reference.html.erb
  app/views/layouts/_header.html.erb
  app/views/layouts/base.html.erb
  config/locales/en.yml
  config/register-api.yml
  config/routes.rb
  spec/requests/register_api/get_multiple_applications_spec.rb
  spec/support/register_api/register_api_spec_helper.rb
  spec/system/api_docs/register_api/register_api_docs_spec.rb
Labels: API docs

#4368 Add "Previous applications" table to bottom of dashboard view
  app/components/candidate_interface/course_choices_review_component.html.erb
  app/components/candidate_interface/course_choices_review_component.rb
  app/components/candidate_interface/previous_applications_component.html.erb
  app/components/candidate_interface/previous_applications_component.rb
  app/controllers/candidate_interface/submitted_application_form_controller.rb
  app/views/candidate_interface/submitted_application_form/complete.html.erb
  spec/components/candidate_interface/course_choices_review_component_spec.rb
  spec/components/candidate_interface/previous_applications_component_spec.rb
  spec/system/candidate_interface/submitting/candidate_submitting_application_spec.rb
Labels: Candidate

#4463 Terraform config for Staging on PaaS
  .github/workflows/database-restore.yml
  terraform/workspace_variables/staging.tfvars
  terraform/workspace_variables/staging_backend.tfvars
Labels: DevOps, PaaS

#4455 Use GovukLinkHelper helpers from govuk-components
  app/components/candidate_interface/add_reference_component.html.erb
  app/components/provider_interface/activity_log_event_component.html.erb
  app/components/provider_interface/application_choice_header_component.html.erb
  app/components/provider_interface/application_choice_interviews_list_component.html.erb
  app/components/provider_interface/personal_details_component.rb
  app/components/provider_interface/reference_with_feedback_component.rb
  app/components/provider_interface/safeguarding_declaration_component.html.erb
  app/components/provider_interface/status_box_components/awaiting_provider_decision_component.html.erb
  app/components/provider_interface/status_box_components/interviewing_component.html.erb
  app/components/support_interface/application_add_course_component.html.erb
  app/components/support_interface/feature_toggle_component.html.erb
  app/components/support_interface/feature_toggle_component.rb
  app/components/support_interface/personal_details_component.rb
  app/helpers/view_helper.rb
  app/views/candidate_interface/application_choices/index.html.erb
  app/views/candidate_interface/application_choices/review.html.erb
  app/views/candidate_interface/course_choices/ucas/no_courses.html.erb
  app/views/candidate_interface/course_choices/ucas/with_course.html.erb
  app/views/candidate_interface/degrees/review/show.html.erb
  app/views/candidate_interface/equality_and_diversity/review.html.erb
  app/views/candidate_interface/other_qualifications/review/show.html.erb
  app/views/candidate_interface/personal_details/right_to_work_or_study/_shared_form.html.erb
  app/views/candidate_interface/restructured_work_history/review/show.html.erb
  app/views/candidate_interface/shared/pilot_holding_page.html.erb
  app/views/candidate_interface/submitted_application_form/complete.html.erb
  app/views/candidate_interface/unsubmitted_application_form/before_you_start.html.erb
  app/views/candidate_interface/unsubmitted_application_form/review.html.erb
  app/views/candidate_interface/unsubmitted_application_form/show.html.erb
  app/views/candidate_interface/volunteering/review/show.html.erb
  app/views/candidate_interface/work_history/review/show.html.erb
  app/views/provider_interface/notes/index.html.erb
  app/views/provider_interface/provider_agreements/data_sharing_agreement.html.erb
  app/views/provider_interface/provider_agreements/success.html.erb
  app/views/provider_interface/provider_users/index.html.erb
  app/views/provider_interface/provider_users/show.html.erb
  app/views/provider_interface/reconfirm_deferred_offers/start.html.erb
  app/views/provider_interface/start_page/show.html.erb
  app/views/support_interface/application_forms/audit.html.erb
  app/views/support_interface/data_exports/show.html.erb
  app/views/support_interface/provider_users/_provider_user_impersonation.html.erb
  app/views/support_interface/provider_users/index.html.erb
  app/views/support_interface/providers/users.html.erb
  app/views/support_interface/settings/feature_flags.html.erb
  app/views/support_interface/support_users/index.html.erb
  app/views/support_interface/tasks/index.html.erb
  lib/rubocop/cop/govuk/govuk_link_to.rb
  spec/helpers/view_helper_spec.rb
Labels: Components, Core

#4464 Deploy workflow for PaaS
  .github/workflows/deploy.yml
  terraform/modules/paas/main.tf
  terraform/terraform.tf
  terraform/variables.tf
Labels: DevOps, PaaS

#4471 Deploy app to sandbox and production on PaaS
  .github/workflows/database-restore.yml
  .github/workflows/deploy.yml
  terraform/workspace_variables/production.tfvars
  terraform/workspace_variables/production_backend.tfvars
  terraform/workspace_variables/sandbox.tfvars
  terraform/workspace_variables/sandbox_backend.tfvars
Labels: DevOps, PaaS

#4362 Post submission dashboard updates
  app/components/candidate_interface/application_complete_content_component.html.erb
  app/components/candidate_interface/application_complete_content_component.rb
  app/components/candidate_interface/application_dashboard_component.html.erb
  app/components/candidate_interface/application_dashboard_component.rb
  app/components/candidate_interface/application_dashboard_course_choices_component.html.erb
  app/components/candidate_interface/application_dashboard_course_choices_component.rb
  app/components/candidate_interface/application_dashboard_guidance_component.html.erb
  app/components/candidate_interface/application_dashboard_guidance_component.rb
  app/components/candidate_interface/apply_again_call_to_action_component.html.erb
  app/components/candidate_interface/apply_again_call_to_action_component.rb
  app/components/candidate_interface/course_choices_summary_card_action_component.html.erb
  app/components/candidate_interface/course_choices_summary_card_action_component.rb
  app/components/candidate_interface/offers_call_to_action_component.html.erb
  app/components/candidate_interface/offers_call_to_action_component.rb
  app/components/interview_bookings_component.html.erb
  app/components/interview_bookings_component.rb
  app/components/interview_bookings_item_component.html.erb
  app/components/interview_bookings_item_component.rb
  app/frontend/styles/_summary-card.scss
  app/frontend/styles/candidate/_all.scss
  app/frontend/styles/candidate/_course-choice.scss
  app/models/application_form.rb
  app/views/candidate_interface/submitted_application_form/complete.html.erb
  config/locales/en.yml
  spec/components/candidate_interface/application_complete_content_component_spec.rb
  spec/components/candidate_interface/application_dashboard_component_spec.rb
  spec/components/candidate_interface/application_dashboard_course_choices_component_spec.rb
  spec/components/candidate_interface/application_dashboard_guidance_component_spec.rb
  spec/components/candidate_interface/apply_again_call_to_action_component_spec.rb
  spec/components/candidate_interface/offers_call_to_action_component_spec.rb
  spec/components/interview_bookings_component_spec.rb
  spec/system/candidate_interface/apply_again/candidate_with_unsuccessful_application_applies_again_spec.rb
  spec/system/candidate_interface/course_selection/candidate_existing_user_with_course_params_spec.rb
  spec/system/candidate_interface/course_selection/candidate_new_user_with_course_params_spec.rb
  spec/system/candidate_interface/course_selection/candidate_selecting_a_course_spec.rb
  spec/system/candidate_interface/course_selection/candidate_signed_in_user_with_course_params_picks_study_mode_spec.rb
  spec/system/candidate_interface/course_selection/candidate_signed_in_user_with_course_params_spec.rb
  spec/system/candidate_interface/offers_and_withdrawals/candidate_accepts_offer_spec.rb
  spec/system/candidate_interface/offers_and_withdrawals/candidate_can_see_their_rejection_reasons_on_apply_again_spec.rb
  spec/system/candidate_interface/references/candidate_replaces_reference_after_applying_again_spec.rb
  spec/system/candidate_interface/rejection/candidate_reviews_reasons_for_rejection_spec.rb
  spec/system/candidate_interface/submitting/candidate_submitting_application_spec.rb
Labels: Candidate, DO NOT MERGE

#4485 Trigger deployment to qa and staging after build
  .github/workflows/build.yml
Labels: DevOps, PaaS

#4475 Offer links to individual application choices in Support
  app/components/summary_card_header_component.html.erb
  app/components/summary_card_header_component.rb
  app/components/support_interface/application_choice_component.html.erb
  app/components/support_interface/application_choice_component.rb
Labels: Support

#4477 Present Register API responses in Support
  app/components/support_interface/application_api_representation_component.html.erb
  app/components/support_interface/application_api_representation_component.rb
  app/components/support_interface/application_choice_component.rb
  app/lib/allowed_cross_namespace_usage.rb
  spec/components/support_interface/application_choice_component_spec.rb
Labels: Support

#4474 Add Candidate ID in manage
  app/components/provider_interface/personal_details_component.rb
  app/models/candidate.rb
  app/presenters/register_api/single_application_presenter.rb
  app/presenters/vendor_api/single_application_presenter.rb
  spec/components/provider_interface/personal_details_component_spec.rb
Labels: Provider UI

#4483 Use GovukComponent::PhaseBanner
  Gemfile.lock
  app/components/phase_banner_component.html.erb
  app/components/phase_banner_component.rb
  app/lib/hosting_environment.rb
Labels: Components, Core

#4493 Show section title in ‘Providers‘ breadcrumb
  app/views/support_interface/application_forms/_application_navigation.html.erb
  app/views/support_interface/course/_course_navigation.html.erb
  app/views/support_interface/data_exports/_data_export_navigation.html.erb
  app/views/support_interface/provider_users/_provider_user_navigation.html.erb
  app/views/support_interface/providers/_provider_navigation.html.erb
  app/views/support_interface/ucas_matches/_ucas_match_navigation.html.erb
Labels: Bug bash 🐞🔨, Support

#4434 Refactor offer wizard conditions into separate model
  app/controllers/provider_interface/decisions_controller.rb
  app/controllers/provider_interface/offer/conditions_controller.rb
  app/controllers/provider_interface/offers_controller.rb
  app/forms/provider_interface/offer_condition_field.rb
  app/forms/provider_interface/offer_wizard.rb
  app/views/provider_interface/offer/conditions/edit.html.erb
  app/views/provider_interface/offer/conditions/new.html.erb
  spec/forms/provider_interface/offer_condition_field_spec.rb
  spec/forms/provider_interface/offer_wizard_spec.rb
  spec/system/provider_interface/change_existing_offer_spec.rb
  spec/system/provider_interface/change_make_offer_spec.rb
  spec/system/provider_interface/make_offer_spec.rb
Labels: Offers, ProVendor

#4418 Change the way a candidate's 'current application' is determined
  app/controllers/candidate_interface/prefill_application_form_controller.rb
  app/models/candidate.rb
  spec/mailers/candidate_mailer_ucas_match_initial_email_spec.rb
  spec/mailers/candidate_mailer_ucas_match_reminder_email_spec.rb
  spec/mailers/previews/candidate_mailer_preview.rb
  spec/models/candidate_spec.rb
Labels: Bug bash 🐞🔨, Candidate

#4501 Resolve ActiveModel::Errors deprecation warnings
  app/controllers/errors_controller.rb
  app/forms/candidate_interface/pick_site_form.rb
  app/forms/provider_interface/application_data_export_form.rb
  app/forms/provider_interface/fields_for_provider_user_permissions_form.rb
  app/forms/provider_interface/offer_wizard.rb
  app/forms/provider_interface/provider_relationship_permissions_setup_wizard.rb
  app/forms/provider_interface/provider_user_invitation_wizard.rb
  app/forms/provider_interface/provider_user_providers_form.rb
  app/forms/support_interface/provider_relationships_form.rb
  app/validators/postcode_validator.rb
  app/validators/valid_for_notify_validator.rb
Labels: Core

#4504 Remove deprecated `html_options` from `govuk_collection_select`
  app/views/support_interface/validation_errors/summary.html.erb
Labels: Core

#4500 Fix incorrect error message in the add course Apply Again journey
  app/controllers/candidate_interface/after_sign_in_controller.rb
  spec/system/candidate_interface/course_selection/candidate_signed_in_user_with_course_params_spec.rb
Labels: Bug bash 🐞🔨, Candidate

#4489 Sync course subject names from ttapi [1/3]
  app/models/course.rb
  app/models/course_subject.rb
  app/models/subject.rb
  app/models/teacher_training_public_api/subject.rb
  app/services/teacher_training_public_api/sync_courses.rb
  app/services/teacher_training_public_api/sync_subjects.rb
  app/workers/teacher_training_public_api/sync_all_providers_and_courses_worker.rb
  db/migrate/20210331145515_create_subjects.rb
  db/migrate/20210409114058_create_course_subjects.rb
  db/schema.rb
  spec/examples/teacher_training_api/course_list_response.json
  spec/examples/teacher_training_api/subject_list_response.json
  spec/factories/course_subject.rb
  spec/factories/subjects.rb
  spec/models/course_subject_spec.rb
  spec/models/subject_spec.rb
  spec/services/teacher_training_public_api/sync_courses_spec.rb
  spec/services/teacher_training_public_api/sync_subjects_spec.rb
  spec/support/test_helpers/teacher_training_public_api_helper.rb
  spec/system/find_sync/syncing_providers_spec.rb
  spec/system/support_interface/provider_sync_courses_spec.rb
  spec/system/support_interface/providers_and_courses_spec.rb
  spec/system/teacher_training_public_api/sync_course_spec.rb
  spec/system/teacher_training_public_api/sync_provider_spec.rb
  spec/system/teacher_training_public_api/sync_site_spec.rb
  spec/workers/teacher_training_public_api/sync_all_providers_and_courses_worker_spec.rb
Labels: ProVendor

#4491 [rubocop] Enable SafeNavigation cop and fix issues
  .rubocop.yml
  app/components/provider_interface/conditions_component.rb
  app/controllers/candidate_interface/sign_in_controller.rb
  app/controllers/dfe_sign_in_controller.rb
  app/forms/candidate_interface/english_gcse_grade_form.rb
  app/forms/candidate_interface/maths_gcse_grade_form.rb
  app/forms/candidate_interface/science_gcse_grade_form.rb
  app/forms/candidate_interface/sign_up_form.rb
  app/forms/provider_interface/change_offer_form.rb
  app/forms/provider_interface/provider_user_providers_form.rb
  app/forms/provider_interface/reconfirm_deferred_offer_wizard.rb
  app/forms/support_interface/provider_user_form.rb
  app/lib/logstash_logging.rb
  app/models/concerns/authenticated_using_magic_links.rb
  app/presenters/api_docs/api_schema.rb
  app/presenters/api_docs/schema_example.rb
  app/services/candidate_interface/apply_from_find_page.rb
  app/services/candidate_interface/measure_distances.rb
  app/services/withdraw_application.rb
  app/views/candidate_interface/application_form/_review.html.erb
  spec/system/referee_interface/referee_refuses_to_give_a_reference_spec.rb
Labels: Core

#4513 Configure education.gov.uk as custom hostname for PaaS
  terraform/modules/paas/data.tf
  terraform/modules/paas/main.tf
  terraform/modules/paas/variables.tf
Labels: DevOps, PaaS

#4516 Force study_mode selection after course changes in the wizard
  app/controllers/provider_interface/offer/courses_controller.rb
  spec/system/provider_interface/change_existing_offer_spec.rb
  spec/system/provider_interface/change_make_offer_spec.rb
Labels: Offers, ProVendor

#4518 Fix Rejection by default applications in the API
  app/presenters/vendor_api/single_application_presenter.rb
  app/views/api_docs/vendor_api_docs/pages/release_notes.md
  config/vendor-api-v1.yml
  spec/presenters/vendor_api/single_application_presenter_spec.rb
Labels: API, ProVendor

#4512 Amend provider content on offer summary card
  app/components/provider_interface/completed_offer_summary_component.rb
  app/components/provider_interface/course_summary_component.rb
  app/components/provider_interface/offer_summary_component.rb
  app/components/provider_interface/read_only_completed_offer_summary_component.rb
  app/views/provider_interface/offer/checks/new.html.erb
  config/locales/provider_interface/make_offer.yml
  spec/components/provider_interface/course_summary_component_spec.rb
  spec/components/provider_interface/offer_summary_component_spec.rb
  spec/components/provider_interface/read_only_completed_offer_summary_component_spec.rb
  spec/system/provider_interface/change_make_offer_spec.rb
  spec/system/provider_interface/make_offer_spec.rb
Labels: Offers, ProVendor

#4459 Add subject_code to qualifications in API
  app/presenters/vendor_api/single_application_presenter.rb
  app/views/api_docs/vendor_api_docs/pages/release_notes.md
  config/initializers/qualifications/a_and_as_level_subjects.rb
  config/initializers/qualifications/gcse_subjects.rb
  config/vendor-api-v1.yml
  spec/presenters/vendor_api/single_application_presenter_spec.rb
  spec/system/candidate_interface/entering_details/candidate_entering_other_qualification_spec.rb
  spec/system/vendor_api/vendor_receives_application_spec.rb
Labels: API, ProVendor

#4525 Don’t render organisation change link for interview with one provider
  app/components/provider_interface/interview_details_component.rb
  app/forms/provider_interface/interview_wizard.rb
  spec/components/provider_interface/interview_details_component_spec.rb
Labels: Bug bash 🐞🔨, ProVendor

#4515 Reverse study mode with locations on offer summary cards
  app/components/provider_interface/course_summary_component.rb
  app/components/provider_interface/deferred_offer_details_component.rb
  app/components/provider_interface/offer_summary_component.rb
  app/components/provider_interface/status_box_components/course_rows.rb
  spec/components/provider_interface/course_summary_component_spec.rb
  spec/components/provider_interface/deferred_offer_details_component_spec.rb
  spec/components/provider_interface/offer_summary_component_spec.rb
  spec/system/provider_interface/make_offer_spec.rb
Labels: Offers, ProVendor

#4492 Use GovukComponent::InsetText
  app/components/candidate_interface/add_reference_component.html.erb
  app/components/candidate_interface/apply_again_call_to_action_component.html.erb
  app/components/candidate_interface/incomplete_section_component.html.erb
  app/components/candidate_interface/offers_call_to_action_component.html.erb
  app/components/candidate_interface/restructured_work_history/gap_component.html.erb
  app/components/interview_bookings_item_component.html.erb
  app/components/provider_interface/application_choice_header_component.html.erb
  app/components/provider_interface/application_offer_withdrawn_feedback_component.html.erb
  app/components/provider_interface/application_rejection_feedback_component.html.erb
  app/components/support_interface/application_navigation_component.html.erb
  app/components/support_interface/ucas_match_action_component.html.erb
  app/components/support_interface/ucas_match_action_component.rb
  app/models/provider.rb
  app/views/candidate_interface/application_choices/review.html.erb
  app/views/candidate_interface/apply_from_find/_apply_using_ucas.html.erb
  app/views/candidate_interface/course_choices/ucas/with_course.html.erb
  app/views/candidate_interface/degrees/grade/_form_fields.html.erb
  app/views/candidate_interface/find_course_selections/confirm_selection.html.erb
  app/views/candidate_interface/references/reminder/new.html.erb
  app/views/candidate_interface/shared/pilot_holding_page.html.erb
  app/views/candidate_interface/unsubmitted_application_form/submit_show.html.erb
  app/views/provider_interface/reasons_for_rejection/check.html.erb
  app/views/referee_interface/reference/relationship.html.erb
  app/views/support_interface/providers/_lacks_admin_users_warning.html.erb
  app/views/support_interface/providers/_provider_navigation.html.erb
  app/views/support_interface/providers/index.html.erb
Labels: Components, Core

#4530 Make commands to view and edit Key Vault secrets
  .gitignore
  Makefile
Labels: DevOps, PaaS

#4511 Refactor cookie banners on Apply (and Manage) to use JavaScript
  app/components/cookie_banners_component.html.erb
  app/components/cookie_banners_component.rb
  app/frontend/packs/application-candidate.js
  app/frontend/packs/application-provider.js
  app/frontend/packs/cookies/cookie-banners.js
  app/frontend/packs/cookies/cookie-banners.spec.js
  app/frontend/packs/cookies/cookie-helper.js
  app/frontend/packs/cookies/cookie-helper.spec.js
  app/frontend/styles/_cookie_banner.scss
  app/frontend/styles/application.scss
  app/views/layouts/base.html.erb
  app/views/shared/_cookies_banner.html.erb
  app/views/shared/_cookies_confirmation_banner.html.erb
  spec/components/cookie_banners_component_spec.rb
  spec/system/candidate_interface/cookies/accept_cookies_spec.rb
  spec/system/candidate_interface/cookies/reject_cookies_spec.rb
  spec/system/provider_interface/cookies/accept_cookies_spec.rb
  spec/system/provider_interface/cookies/reject_cookies_spec.rb
Labels: Core, JavaScript

#4472 Add new option to other qualifications section & make it mandatory
  app/components/candidate_interface/other_qualifications_review_component.html.erb
  app/components/candidate_interface/other_qualifications_review_component.rb
  app/controllers/candidate_interface/other_qualifications/destroy_controller.rb
  app/controllers/candidate_interface/other_qualifications/review_controller.rb
  app/controllers/candidate_interface/other_qualifications/type_controller.rb
  app/forms/candidate_interface/other_qualification_details_form.rb
  app/forms/candidate_interface/other_qualification_type_form.rb
  app/presenters/candidate_interface/application_form_presenter.rb
  app/views/candidate_interface/other_qualifications/details/new.html.erb
  app/views/candidate_interface/other_qualifications/review/show.html.erb
  app/views/candidate_interface/other_qualifications/shared/_instructions.html.erb
  app/views/candidate_interface/other_qualifications/type/_shared_form.html.erb
  app/views/candidate_interface/other_qualifications/type/new.html.erb
  app/views/candidate_interface/unsubmitted_application_form/show.html.erb
  config/locales/candidate_interface/other_qualification.yml
  config/locales/candidate_interface/review_application.yml
  spec/components/candidate_interface/other_qualifications_review_component_spec.rb
  spec/forms/candidate_interface/other_qualification_type_form_spec.rb
  spec/presenters/candidate_interface/application_form_presenter_spec.rb
  spec/system/candidate_interface/entering_details/candidate_entering_other_qualification_no_qualification_option_choice_spec.rb
  spec/system/candidate_interface/entering_details/candidate_entering_other_qualification_spec.rb
Labels: Candidate

#4532 Limit autofill extract to application forms submitted after 1st December 2020
  app/services/support_interface/candidate_autofill_usage_export.rb
  spec/services/support_interface/candidate_autofill_usage_export_spec.rb
Labels: Candidate

#4537 Update autofill export docs
  app/exports/candidate_autofill_usage_export.yml
Labels: Candidate

#4498 Sync course subject names from ttapi [3/3]
  app/services/teacher_training_public_api/sync_courses.rb
  db/migrate/20210412143252_remove_subject_codes_from_course.rb
  db/schema.rb
  spec/system/find_sync/syncing_providers_spec.rb
Labels: ProVendor

#4543 Send a Slack notification to remind us to open a new course
  app/models/provider.rb
  app/services/teacher_training_public_api/sync_courses.rb
  spec/services/teacher_training_public_api/sync_courses_spec.rb
  spec/support/slack_notifications.rb
Labels: Core, Support

#4540 Makefile command to shell into PaaS app
  Makefile
Labels: DevOps, PaaS

#4544 Reorder the degree type autocomplete order to mimic registers
  config/initializers/qualifications/hesa_degree_types.rb
  spec/lib/hesa/degree_type_spec.rb
Labels: Candidate

#4547 Backup paas database az storage
  .github/workflows/database-backup.yml
Labels: DevOps, PaaS

#4546 Start writing current_course_option_id
  app/forms/candidate_interface/pick_site_form.rb
  app/services/change_an_offer.rb
  app/services/make_an_offer.rb
  spec/forms/candidate_interface/pick_site_form_spec.rb
  spec/services/change_an_offer_spec.rb
  spec/services/make_an_offer_spec.rb
Labels: Core

#4539 Support browser back button in Make offer flow
  app/controllers/provider_interface/decisions_controller.rb
  app/controllers/provider_interface/offer/conditions_controller.rb
  app/controllers/provider_interface/offer/courses_controller.rb
  app/controllers/provider_interface/offer/locations_controller.rb
  app/controllers/provider_interface/offer/providers_controller.rb
  app/controllers/provider_interface/offer/study_modes_controller.rb
  app/services/wizard_path_history.rb
  spec/services/wizard_path_history_spec.rb
Labels: Offers, ProVendor

#4562 Create data export which shows who has initiated each export
  app/exports/who_ran_which_export_export.yml
  app/models/data_export.rb
  app/services/support_interface/who_ran_which_export_export.rb
  spec/services/support_interface/who_ran_which_export_export_spec.rb
Labels: Core

#4524 Update Unpaid Experience (volunteering) review page
  app/components/candidate_interface/volunteering_review_component.html.erb
  app/components/candidate_interface/volunteering_review_component.rb
  app/controllers/candidate_interface/volunteering/start_controller.rb
  app/presenters/candidate_interface/application_form_presenter.rb
  app/views/candidate_interface/volunteering/review/show.html.erb
  app/views/candidate_interface/volunteering/start/show.html.erb
  config/locales/candidate_interface/volunteering.yml
  spec/components/candidate_interface/volunteering_review_component_spec.rb
  spec/presenters/candidate_interface/application_form_presenter_spec.rb
  spec/system/candidate_interface/entering_details/candidate_choosing_no_volunteering_and_school_experience_spec.rb
  spec/system/candidate_interface/entering_details/candidate_edits_or_deletes_volunteering_section_after_competing_the_section_spec.rb
  spec/system/candidate_interface/entering_details/candidate_edits_or_deletes_volunteering_section_with_restructured_work_history_active_spec.rb
  spec/system/candidate_interface/entering_details/candidate_entering_volunteering_and_school_experience_spec.rb
Labels: Candidate

#4563 Don't use blue-green deployment strategy for clock/web containers
  terraform/modules/paas/main.tf
Labels: DevOps, PaaS

#4551 Add review functionality to personal statement section
  app/components/candidate_interface/becoming_a_teacher_review_component.html.erb
  app/components/candidate_interface/becoming_a_teacher_review_component.rb
  app/components/candidate_interface/complete_section_component.html.erb
  app/components/candidate_interface/complete_section_component.rb
  app/components/candidate_interface/incomplete_section_component.html.erb
  app/components/candidate_interface/incomplete_section_component.rb
  app/models/application_form.rb
  app/models/candidate_interface/rejection_reasons_history.rb
  app/presenters/candidate_interface/application_form_presenter.rb
  app/services/apply_again.rb
  app/views/candidate_interface/personal_statement/show.html.erb
  app/views/candidate_interface/unsubmitted_application_form/review.html.erb
  app/views/candidate_interface/unsubmitted_application_form/show.html.erb
  config/locales/candidate_interface/application_form.yml
  config/locales/candidate_interface/review_application.yml
  spec/components/candidate_interface/complete_section_component_spec.rb
  spec/models/candidate_interface/rejection_reasons_history_spec.rb
  spec/services/apply_again_spec.rb
  spec/support/test_helpers/candidate_helper.rb
  spec/system/candidate_interface/apply_again/candidate_reviews_rejection_reasons_from_previous_applications_spec.rb
Labels: Candidate

#4569 Add rejection reasons review to subject knowledge section
  app/components/candidate_interface/becoming_a_teacher_review_component.rb
  app/components/candidate_interface/subject_knowledge_review_component.html.erb
  app/components/candidate_interface/subject_knowledge_review_component.rb
  app/models/application_form.rb
  app/models/candidate_interface/rejection_reasons_history.rb
  app/presenters/candidate_interface/application_form_presenter.rb
  app/views/candidate_interface/personal_statement/show.html.erb
  app/views/candidate_interface/subject_knowledge/show.html.erb
  app/views/candidate_interface/unsubmitted_application_form/show.html.erb
  config/locales/candidate_interface/review_application.yml
  spec/components/candidate_interface/becoming_a_teacher_review_component_spec.rb
  spec/components/candidate_interface/subject_knowledge_review_component_spec.rb
  spec/system/candidate_interface/apply_again/candidate_reviews_rejection_reasons_from_previous_applications_spec.rb
Labels: Candidate

#4579 Health check timeout to 180 seconds
  terraform/modules/paas/main.tf
Labels: DevOps, PaaS

#4570 Remove unused copy pasta from the ApplicationDashboardComponent
  app/components/candidate_interface/application_dashboard_course_choices_component.html.erb
Labels: Candidate

#4573 Remove warning text from check page on change an offer
  app/views/provider_interface/offer/checks/edit.html.erb
Labels: Offers, ProVendor

#4581 Do not display Accept Cookies prompt when printing applications
  app/components/cookie_banners_component.html.erb
Labels: Bug bash 🐞🔨, Core

#4586 Set `override_csp` flag in blazer to true
  config/blazer.yml
Labels: Core

#4587 Add the candidate ID to application choices export
  app/services/provider_interface/application_data_export.rb
  spec/services/provider_interface/application_data_export_spec.rb
Labels: ProVendor

#4588 Correction - Cookie banners and printing applications
  app/components/cookie_banners_component.html.erb
Labels: Bug bash 🐞🔨, Candidate

#4538 Add trailing text to indicate approximate dates for work experiences
  app/components/work_history_item_component.rb
  spec/components/work_history_component_spec.rb
Labels: ProVendor

#4559 Surface Vendor API validation errors in the Support Interface
  app/components/support_interface/validation_errors_list_component.html.erb
  app/components/support_interface/validation_errors_list_component.rb
  app/components/support_interface/validation_errors_summary_component.html.erb
  app/components/support_interface/validation_errors_summary_component.rb
  app/controllers/support_interface/validation_errors/candidate_controller.rb
  app/controllers/support_interface/validation_errors/vendor_api_controller.rb
  app/controllers/support_interface/validation_errors_controller.rb
  app/models/validation_error.rb
  app/models/vendor_api_request.rb
  app/queries/vendor_api_request_summary_query.rb
  app/views/support_interface/validation_errors/candidate/index.html.erb
  app/views/support_interface/validation_errors/candidate/search.html.erb
  app/views/support_interface/validation_errors/candidate/summary.html.erb
  app/views/support_interface/validation_errors/index.html.erb
  app/views/support_interface/validation_errors/vendor_api/index.html.erb
  app/views/support_interface/validation_errors/vendor_api/search.html.erb
  app/views/support_interface/validation_errors/vendor_api/summary.html.erb
  config/routes.rb
  spec/components/previews/support_interface/validation_errors_component_preview.rb
  spec/components/support_interface/validation_errors_list_component_spec.rb
  spec/components/support_interface/validation_errors_summary_component_spec.rb
  spec/factories/vendor_api_request.rb
  spec/models/validation_error_spec.rb
  spec/models/vendor_api_request_spec.rb
  spec/queries/vendor_api_request_summary_query_spec.rb
  spec/system/support_interface/validation_errors_candidate_spec.rb
  spec/system/support_interface/validation_errors_candidate_summary_spec.rb
  spec/system/support_interface/validation_errors_vendor_api_spec.rb
  spec/system/support_interface/validation_errors_vendor_api_summary_spec.rb
Labels: ProVendor, Support

#4590 Update the copy on the right to work or study page
  app/views/candidate_interface/personal_details/right_to_work_or_study/_shared_form.html.erb
Labels: Candidate

#4597 Remove offered_course_option_id from the database
  app/models/application_choice.rb
  app/queries/get_application_choices_for_providers.rb
  app/services/provider_interface/sort_application_choices.rb
  app/services/submit_application.rb
  app/services/support_interface/add_course_choice_after_submission.rb
  config/brakeman.ignore
  db/migrate/20210427084549_remove_offered_course_option_id_from_application_choices.rb
  db/schema.rb
  docs/domain-model.png
  spec/services/send_new_offer_email_to_candidate_spec.rb
Labels: Core

#4599 Improve Vendor API identifier docs
  app/views/api_docs/vendor_api_docs/pages/home.md
Labels: API docs

#4609 Update displayed error for no decision selected
  config/locales/provider_interface/make_offer.yml
Labels: Offers, ProVendor

#4604 Remove 'multiple hints' functionality from Section Completed component
  app/components/candidate_interface/complete_section_component.html.erb
  app/views/candidate_interface/personal_statement/show.html.erb
  app/views/candidate_interface/subject_knowledge/show.html.erb
  config/locales/candidate_interface/personal_statement.yml
  spec/components/candidate_interface/complete_section_component_spec.rb
Labels: Candidate

#4612 Resolve deprecation warnings
  app/forms/provider_interface/application_data_export_form.rb
  app/services/cancel_interview.rb
Labels: Core

#4600 Use http health check type for web app
  terraform/modules/paas/main.tf
Labels: DevOps, PaaS

#4616 Resolve API encoding error
  app/middlewares/vendor_api_request_middleware.rb
  spec/requests/vendor_api/post_make_an_offer_spec.rb
Labels: API, Bug bash 🐞🔨

#4602 Terraform config for statuscake alerts
  terraform/modules/statuscake/main.tf
  terraform/modules/statuscake/variables.tf
  terraform/terraform.tf
  terraform/variables.tf
  terraform/workspace_variables/production.tfvars
  terraform/workspace_variables/qa.tfvars
  terraform/workspace_variables/sandbox.tfvars
  terraform/workspace_variables/staging.tfvars
Labels: DevOps, PaaS

#4610 Reset locations on offer flow
  app/controllers/provider_interface/offer/courses_controller.rb
  app/forms/provider_interface/offer_wizard.rb
  spec/forms/provider_interface/offer_wizard_spec.rb
Labels: Offers, ProVendor

#4621 Set stopped property for workers to true in prod and sandbox (PaaS)
  terraform/modules/paas/main.tf
  terraform/modules/paas/variables.tf
  terraform/terraform.tf
  terraform/variables.tf
  terraform/workspace_variables/production.tfvars
  terraform/workspace_variables/sandbox.tfvars
Labels: DevOps, PaaS

#4606 Add offer validations to the vendor api
  app/controllers/vendor_api/decisions_controller.rb
  app/errors/identical_offer_error.rb
  app/models/course.rb
  app/services/change_offer.rb
  app/services/make_offer.rb
  app/services/offer_validations.rb
  config/locales/provider_interface/make_offer.yml
  spec/factories/application_choice.rb
  spec/factories/course_option.rb
  spec/models/course_spec.rb
  spec/requests/vendor_api/post_make_an_offer_spec.rb
  spec/services/change_offer_spec.rb
  spec/services/make_offer_spec.rb
  spec/services/offer_validations_spec.rb
Labels: Offers, ProVendor

#4630 Resolve FrozenError by duplicating read response
  app/middlewares/vendor_api_request_middleware.rb
Labels: API, Bug bash 🐞🔨
