Repository DFE-Digital/apply-for-teacher-training, pull requests merged in 2021-09, with the labels that each got.

#5466 Start writing provider_ids and current_recruitment_cycle_year [Part 2/5]
  app/controllers/vendor_api/applications_controller.rb
  app/controllers/vendor_api/decisions_controller.rb
  app/forms/support_interface/application_forms/update_offered_course_option_form.rb
  app/models/application_choice.rb
  app/services/change_offer.rb
  app/services/generate_test_applications_for_provider.rb
  app/services/make_offer.rb
  app/services/reinstate_conditions_met.rb
  app/services/reinstate_pending_conditions.rb
  app/services/support_interface/add_course_choice_after_submission.rb
  spec/forms/candidate_interface/pick_site_form_spec.rb
  spec/models/application_choice_spec.rb
  spec/services/change_offer_spec.rb
  spec/services/make_offer_spec.rb
  spec/services/reinstate_conditions_met_spec.rb
  spec/services/reinstate_pending_conditions_spec.rb
  spec/services/support_interface/add_course_choice_after_submission_spec.rb
Labels: ProVendor

#5469 Data migrations for provider_ids and current_recruitment_cycle_year [Part 3/5]
  app/services/data_migrations/populate_application_choice_current_recruitment_cycle_year.rb
  app/services/data_migrations/populate_application_choice_provider_ids.rb
  lib/tasks/data.rake
  spec/services/data_migrations/populate_application_choice_current_recruitment_cycle_year_spec.rb
  spec/services/data_migrations/populate_application_choice_provider_ids_spec.rb
Labels: ProVendor

#5484 Remove duplicate govuk error summary from toefl page
  app/views/candidate_interface/english_foreign_language/toefl/_form_fields.html.erb
Labels: Candidate

#5489 Add indexes for provider_ids, current_recruitment_cycle_year [Part 4/5]
  db/migrate/20210831143624_add_get_applications_indexes_to_application_choice.rb
  db/schema.rb
Labels: ProVendor

#5496 Fix flakey data migration spec
  spec/services/data_migrations/populate_application_choice_provider_ids_spec.rb
Labels: ProVendor

#5442 Cache candidate providers page
  app/components/candidate_interface/grouped_provider_courses_component.html.erb
  app/components/candidate_interface/grouped_provider_courses_component.rb
  app/controllers/candidate_interface/content_controller.rb
  app/queries/get_open_courses_by_provider_and_region.rb
  app/views/candidate_interface/content/providers.html.erb
  spec/components/candidate_interface/grouped_provider_courses_component_spec.rb
Labels: Candidate

#5494 Refactor actions in the UnsubmittedApplicationFormController
  app/controllers/candidate_interface/unsubmitted_application_form_controller.rb
  app/presenters/candidate_interface/application_form_presenter.rb
  app/views/candidate_interface/unsubmitted_application_form/show.html.erb
  spec/presenters/candidate_interface/application_form_presenter_spec.rb
Labels: Candidate

#5486 Start reading provider_ids and current_recruitment_cycle_year [Part 5/5]
  app/queries/get_application_choices_for_providers.rb
  app/services/provider_interface/sort_application_choices.rb
  config/brakeman.ignore
  spec/factories/application_choice.rb
  spec/models/application_choice_spec.rb
  spec/queries/get_application_choices_for_providers_spec.rb
Labels: ProVendor

#5433 Restrict reverting a rejection from the api
  app/models/candidate.rb
  app/services/make_offer.rb
  app/services/offer_validations.rb
  config/locales/provider_interface/make_offer.yml
  spec/models/candidate_spec.rb
  spec/services/offer_validations_spec.rb
  spec/system/vendor_api/vendor_reverts_a_rejection_spec.rb
Labels: ProVendor

#5518 Sync load-test branch with changes in main
  app/controllers/concerns/streamable_data_export.rb
  app/controllers/provider_interface/application_data_export_controller.rb
  app/controllers/provider_interface/start_page_controller.rb
  app/queries/get_application_choices_for_providers.rb
Labels: ProVendor

#5547 Index audits action attribute to speed up activity log
  db/migrate/20210831143624_add_get_applications_indexes_to_application_choice.rb
  db/migrate/20210909105834_add_action_index_to_audits.rb
  db/schema.rb
Labels: ProVendor

#5572 Remove application status and phase from candidate level of the candidates API
  app/controllers/candidate_api/candidates_controller.rb
  config/candidate-api.yml
Labels: Candidate

#5464 Fix back link on new interview page (wrong referer after error form submission)
  app/components/provider_interface/interview_form_component.html.erb
  app/components/provider_interface/interview_form_component.rb
  app/controllers/provider_interface/interviews/checks_controller.rb
  app/controllers/provider_interface/interviews_controller.rb
  app/forms/provider_interface/interview_wizard.rb
  app/helpers/interview_path_helper.rb
  app/views/provider_interface/interviews/check.html.erb
  app/views/provider_interface/interviews/checks/edit.html.erb
  app/views/provider_interface/interviews/checks/new.html.erb
  app/views/provider_interface/interviews/edit.html.erb
  app/views/provider_interface/interviews/new.html.erb
  config/locales/provider_interface/interviews.yml
  config/routes.rb
  spec/components/provider_interface/interview_form_component_spec.rb
  spec/helpers/interview_path_helper_spec.rb
  spec/requests/provider_interface/interviews/checks_controller_spec.rb
  spec/requests/provider_interface/interviews_controller_spec.rb
  spec/system/provider_interface/provider_manages_application_interviews_spec.rb
Labels: ProVendor

#5583 Ensure correct submission date is shown on the submission copy
  app/views/candidate_interface/unsubmitted_application_form/show.html.erb
Labels: Candidate

#5571 Add Support page for Personas
  app/components/support_interface/persona_user_component.html.erb
  app/components/support_interface/persona_user_component.rb
  app/components/support_interface/providers_navigation_component.html.erb
  app/components/support_interface/providers_navigation_component.rb
  app/controllers/support_interface/personas_controller.rb
  app/lib/create_persona_users.rb
  app/views/support_interface/personas/index.html.erb
  app/views/support_interface/providers/_providers_navigation.html.erb
  config/locales/support_interface/personas.yml
  config/routes.rb
  docs/personas.md
  lib/tasks/create_persona_users.rake
  lib/tasks/local_dev.rake
  lib/tasks/reset_qa.rake
  spec/components/support_interface/persona_user_component_spec.rb
Labels: Support

#5584 Makefile commands for DB restore operations
  Makefile
  terraform/modules/paas/variables.tf
  terraform/terraform.tf
  terraform/variables.tf
Labels: DevOps

#5570 Add a search filter for accredited providers to the providers page on the support UI
  app/models/support_interface/providers_filter.rb
  spec/models/support_interface/providers_filter_spec.rb
Labels: Support

#5590 Fix unchecked filters bug
  app/components/utility/filter_component.html.erb
  app/controllers/support_interface/candidates_controller.rb
  app/controllers/support_interface/email_log_controller.rb
  app/controllers/support_interface/provider_users_controller.rb
  app/helpers/filter_params_helper.rb
  app/models/provider_interface/provider_applications_filter.rb
  app/models/support_interface/applications_filter.rb
  app/models/support_interface/candidates_filter.rb
  app/models/support_interface/emails_filter.rb
  app/models/support_interface/provider_users_filter.rb
  app/models/support_interface/providers_filter.rb
  app/models/support_interface/ucas_matches_filter.rb
  app/models/support_interface/vendor_api_requests_filter.rb
  spec/helpers/filter_params_helper_spec.rb
  spec/system/provider_interface/provider_applications_search_spec.rb
Labels: Core

#5581 Rescue and notify Sentry if any perform_async calls fail because of Redis
  app/lib/rescue_enqueue_errors.rb
  app/workers/send_events_to_bigquery.rb
  app/workers/teacher_training_public_api/sync_all_providers_and_courses_worker.rb
  config/initializers/sentry.rb
  spec/lib/rescue_enqueue_errors_spec.rb
Labels: Core

#5586 Componentise the review your application button and content
  app/components/candidate_interface/review_application_component.html.erb
  app/components/candidate_interface/review_application_component.rb
  app/services/cycle_timetable.rb
  app/views/candidate_interface/unsubmitted_application_form/show.html.erb
  spec/components/candidate_interface/review_application_component_spec.rb
  spec/services/cycle_timetable_spec.rb
Labels: Candidate

#5575 Make GetCourseOptionFromCodes more lenient about site_code
  app/controllers/vendor_api/decisions_controller.rb
  app/queries/get_course_option_from_codes.rb
  app/views/api_docs/vendor_api_docs/pages/release_notes.md
  config/locales/vendor_api/make_offer.yml
  config/vendor-api-v1.yml
  spec/queries/get_course_option_from_codes_spec.rb
  spec/requests/vendor_api/post_make_an_offer_spec.rb
Labels: API

#5591 External reporting proof of concept
  app/components/candidate_interface/monthly_statistics_table_component.html.erb
  app/components/candidate_interface/monthly_statistics_table_component.rb
  app/controllers/monthly_statistics_controller.rb
  app/frontend/packs/application.js
  app/frontend/packs/sortable-table.js
  app/frontend/styles/_sortable_table.scss
  app/frontend/styles/_toc.scss
  app/frontend/styles/application.scss
  app/models/monthly_statistics/by_course_age_group.rb
  app/models/monthly_statistics_report.rb
  app/views/monthly_statistics/show.html.erb
  app/workers/update_monthly_statistics_report.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20210915095847_create_monthly_statistics_report.rb
  db/schema.rb
  spec/components/candidate_interface/monthly_statistics_table_component_spec.rb
  spec/models/monthly_statistics/by_course_age_group_spec.rb
  spec/models/monthly_statistics_report_spec.rb
  spec/system/monthly_statistics/monthly_statistics_page_spec.rb
Labels: Core

#5535 Performance and usability improvements for the API monitoring dashboard
  app/models/support_interface/vendor_api_monitor.rb
  app/services/create_vendor_api_monitor_dummy_data.rb
  app/views/support_interface/vendor_api_monitoring/index.html.erb
  lib/tasks/local_dev.rake
  spec/factories/vendor_api_request.rb
  spec/factories/vendor_api_token.rb
  spec/models/support_interface/vendor_api_monitor_spec.rb
  spec/system/support_interface/vendor_api_monitoring_spec.rb
Labels: Support

#5604 Add link to the data request form to the data directory
  app/views/support_interface/data_exports/directory.html.erb
Labels: Core, Support

#5618 Fix specs that need are failing post AA deadline
  spec/mailers/candidate_mailer_spec.rb
  spec/system/candidate_interface/offers_and_withdrawals/candidate_can_see_their_rejection_reasons_on_apply_again_spec.rb
  spec/system/candidate_interface/rejection/candidate_reviews_reasons_for_rejection_spec.rb
Labels: Candidate

#5612 Allow downloading a CSV of all a provider's run/ratified course options from Support
  app/controllers/support_interface/providers_controller.rb
  app/services/safe_csv.rb
  app/services/support_interface/provider_courses_csv_export.rb
  app/views/support_interface/providers/courses.html.erb
  config/routes.rb
  spec/services/safe_csv_spec.rb
  spec/services/support_interface/provider_courses_csv_export_spec.rb
  spec/system/support_interface/providers_and_courses_spec.rb
Labels: Support

#5613 Reduce support channel updates
  app/lib/state_change_notifier.rb
  app/services/confirm_offer_conditions.rb
  app/services/feature_flag.rb
  app/services/stats_summary.rb
  app/services/update_accepted_offer_conditions.rb
  app/workers/send_stats_summary_to_slack.rb
  app/workers/slack_notification_worker.rb
  config/clock.rb
  config/initializers/inflector.rb
  spec/lib/state_change_notifier_spec.rb
  spec/services/stats_summary_spec.rb
  spec/workers/slack_notification_worker_spec.rb
Labels: Support

#5610 Fix anchor link to the other quals section on the app review page
  app/presenters/candidate_interface/application_form_presenter.rb
Labels: Candidate

#5587 [DO NOT MERGE] Use and backfill the `not_completed_explanation` field instead of `missing_explanation`
  app/components/candidate_interface/gcse_qualification_review_component.rb
  app/components/shared/gcse_qualification_cards_component.html.erb
  app/components/shared/qualification_row_component.html.erb
  app/controllers/candidate_interface/gcse/grade_explanation_controller.rb
  app/controllers/candidate_interface/gcse/type_controller.rb
  app/decorators/application_choice_export_decorator.rb
  app/forms/candidate_interface/english_gcse_grade_form.rb
  app/forms/candidate_interface/gcse_grade_explanation_form.rb
  app/forms/candidate_interface/gcse_qualification_type_form.rb
  app/forms/candidate_interface/maths_gcse_grade_form.rb
  app/forms/candidate_interface/science_gcse_grade_form.rb
  app/services/data_migrations/backfill_not_completed_explanation.rb
  app/views/candidate_interface/gcse/grade_explanation/_form.html.erb
  app/views/candidate_interface/gcse/type/_form.html.erb
  config/analytics.yml
  config/locales/candidate_interface/gcse.yml
  lib/tasks/data.rake
  spec/components/candidate_interface/gcse_qualification_review_component_spec.rb
  spec/components/utility/qualification_row_component_spec.rb
  spec/decorators/application_choice_export_decorator_spec.rb
  spec/factories/application_qualification.rb
  spec/forms/candidate_interface/gcse_qualification_type_form_spec.rb
  spec/services/data_migrations/backfill_not_completed_explanation_spec.rb
  spec/support/test_helpers/candidate_helper.rb
  spec/system/candidate_interface/entering_details/candidate_entering_gcse_with_missing_qualification_spec.rb
  spec/system/candidate_interface/entering_details/candidate_entering_gcse_without_pass_grade_spec.rb
Labels: Candidate, DO NOT MERGE

#5615 Add ability to update personal statement and subject knowledge from the support UI
  app/components/shared/personal_statement_component.html.erb
  app/components/shared/personal_statement_component.rb
  app/controllers/support_interface/application_forms/personal_statement_controller.rb
  app/forms/support_interface/application_forms/edit_becoming_a_teacher_form.rb
  app/forms/support_interface/application_forms/edit_subject_knowledge_form.rb
  app/views/support_interface/application_forms/personal_statement/edit_becoming_a_teacher.html.erb
  app/views/support_interface/application_forms/personal_statement/edit_subject_knowledge.html.erb
  app/views/support_interface/application_forms/show.html.erb
  config/locales/support_interface/support_interface.yml
  config/routes.rb
  spec/forms/support_interface/application_forms/edit_becoming_a_teacher_form_spec.rb
  spec/forms/support_interface/application_forms/edit_subject_knowledge_form_spec.rb
  spec/system/support_interface/editing_personal_statment_spec.rb
  spec/system/support_interface/editing_subject_knowledge_spec.rb
Labels: Support

#5503 Updating GCSE guidance & flow
  app/components/candidate_interface/gcse_qualification_review_component.html.erb
  app/components/candidate_interface/gcse_qualification_review_component.rb
  app/controllers/candidate_interface/gcse/english/grade_controller.rb
  app/controllers/candidate_interface/gcse/grade_explanation_controller.rb
  app/controllers/candidate_interface/gcse/maths/grade_controller.rb
  app/controllers/candidate_interface/gcse/missing_qualification_controller.rb
  app/controllers/candidate_interface/gcse/not_completed_qualification_controller.rb
  app/controllers/candidate_interface/gcse/review_controller.rb
  app/controllers/candidate_interface/gcse/science/grade_controller.rb
  app/controllers/candidate_interface/gcse/type_controller.rb
  app/controllers/candidate_interface/gcse/year_controller.rb
  app/decorators/application_choice_export_decorator.rb
  app/forms/candidate_interface/english_gcse_grade_form.rb
  app/forms/candidate_interface/gcse_grade_explanation_form.rb
  app/forms/candidate_interface/gcse_missing_form.rb
  app/forms/candidate_interface/gcse_not_completed_form.rb
  app/forms/candidate_interface/gcse_qualification_type_form.rb
  app/forms/candidate_interface/maths_gcse_grade_form.rb
  app/forms/candidate_interface/science_gcse_grade_form.rb
  app/helpers/gcse_qualification_helper.rb
  app/models/application_qualification.rb
  app/views/candidate_interface/gcse/grade_explanation/_form.html.erb
  app/views/candidate_interface/gcse/missing_qualification/_form.html.erb
  app/views/candidate_interface/gcse/missing_qualification/edit.html.erb
  app/views/candidate_interface/gcse/missing_qualification/new.html.erb
  app/views/candidate_interface/gcse/not_completed_qualification/_form.html.erb
  app/views/candidate_interface/gcse/not_completed_qualification/edit.html.erb
  app/views/candidate_interface/gcse/not_completed_qualification/new.html.erb
  app/views/candidate_interface/gcse/type/_form.html.erb
  config/locales/candidate_interface/gcse.yml
  config/locales/candidate_interface/gcse_details.yml
  config/routes.rb
  spec/components/candidate_interface/gcse_qualification_review_component_spec.rb
  spec/factories/application_qualification.rb
  spec/forms/candidate_interface/gcse_missing_form_spec.rb
  spec/forms/candidate_interface/gcse_not_completed_form_spec.rb
  spec/forms/candidate_interface/gcse_qualification_type_form_spec.rb
  spec/support/test_helpers/candidate_helper.rb
  spec/system/candidate_interface/entering_details/candidate_changing_their_gcse_type_from_completed_to_missing_spec.rb
  spec/system/candidate_interface/entering_details/candidate_entering_english_gcse_spec.rb
  spec/system/candidate_interface/entering_details/candidate_entering_gcse_other_uk_qualification_spec.rb
  spec/system/candidate_interface/entering_details/candidate_entering_gcse_science_award_spec.rb
  spec/system/candidate_interface/entering_details/candidate_entering_gcse_spec.rb
  spec/system/candidate_interface/entering_details/candidate_entering_gcse_with_missing_qualification_spec.rb
  spec/system/candidate_interface/entering_details/candidate_entering_gcse_without_pass_grade_spec.rb
  spec/system/candidate_interface/entering_details/candidate_entering_international_gcse_spec.rb
  spec/system/register_api/register_receives_application_spec.rb
  spec/system/vendor_api/vendor_receives_application_spec.rb
Labels: Candidate

#5628 Ensure not provided yet shows when candidate has not provided `not_completed_explanation`
  app/components/candidate_interface/gcse_qualification_review_component.rb
Labels: Candidate

#5646 Update copy for the becoming a teacher section
  app/views/candidate_interface/personal_statement/_form.html.erb
  config/locales/en.yml
  spec/support/test_helpers/candidate_helper.rb
  spec/system/candidate_interface/apply_again/candidate_applies_again_and_reviews_rejection_reasons_from_previous_applications_spec.rb
  spec/system/candidate_interface/entering_details/candidate_becoming_a_teacher_spec.rb
  spec/system/candidate_interface/submitting/international_candidate_submitting_application_spec.rb
Labels: Candidate

#5627 Add vendors to providers
  app/models/provider.rb
  app/models/support_interface/vendor_api_monitor.rb
  app/models/vendor.rb
  app/services/data_migrations/add_vendors_to_providers_for_first_time.rb
  app/services/update_vendors.rb
  config/brakeman.ignore
  config/vendors.yml
  db/migrate/20210922124119_create_vendors.rb
  db/migrate/20210922130721_add_vendor_data_to_providers.rb
  db/migrate/20210927122802_recreate_qualifications_public_id_sequence.rb
  db/schema.rb
  docs/domain-model.png
  lib/tasks/data.rake
  lib/tasks/local_dev.rake
  lib/tasks/update_vendors.rake
  spec/factories/provider.rb
  spec/factories/vendor.rb
  spec/models/support_interface/vendor_api_monitor_spec.rb
  spec/services/data_migrations/add_vendors_to_providers_for_first_time_spec.rb
  spec/services/update_vendors_spec.rb
Labels: ProVendor

#5652 Support: Disable add course for accepted offer applications
  app/components/support_interface/application_add_course_component.html.erb
  app/models/application_form.rb
  spec/components/support_interface/application_add_course_component_spec.rb
  spec/models/application_form_spec.rb
Labels: Support

#5653 Remove dual running - remove the before you start & course choice index page (part 1)
  app/components/candidate_interface/application_dashboard_course_choices_component.html.erb
  app/components/candidate_interface/application_form_course_choice_component.html.erb
  app/components/candidate_interface/application_form_course_choice_component.rb
  app/components/candidate_interface/application_form_course_choices_component.rb
  app/components/candidate_interface/course_choices_review_component.html.erb
  app/controllers/candidate_interface/after_sign_in_controller.rb
  app/controllers/candidate_interface/application_choices_controller.rb
  app/controllers/candidate_interface/course_choices/add_another_course_controller.rb
  app/controllers/candidate_interface/course_choices/course_decision_controller.rb
  app/controllers/candidate_interface/find_course_selections_controller.rb
  app/controllers/candidate_interface/prefill_application_form_controller.rb
  app/controllers/candidate_interface/submitted_application_form_controller.rb
  app/controllers/candidate_interface/unsubmitted_application_form_controller.rb
  app/services/candidate_interface/add_or_update_course_choice.rb
  app/views/candidate_interface/application_choices/_guidance.html.erb
  app/views/candidate_interface/application_choices/_guidance_apply_again.html.erb
  app/views/candidate_interface/application_choices/confirm_destroy.html.erb
  app/views/candidate_interface/application_choices/index.html.erb
  app/views/candidate_interface/course_choices/course_decision/ask.html.erb
  app/views/candidate_interface/unsubmitted_application_form/before_you_start.html.erb
  app/views/candidate_interface/unsubmitted_application_form/show.html.erb
  config/routes.rb
  spec/components/candidate_interface/application_form_course_choice_component_spec.rb
  spec/components/candidate_interface/application_form_course_choices_component_spec.rb
  spec/support/test_helpers/candidate_helper.rb
  spec/system/candidate_interface/apply_again/candidate_applies_again_after_apply_1_deadline_spec.rb
  spec/system/candidate_interface/apply_again/candidate_applies_again_during_mid_cycle_spec.rb
  spec/system/candidate_interface/carry_over/candidate_carries_over_unsubmitted_application_with_a_course_to_new_cycle_spec.rb
  spec/system/candidate_interface/carry_over/candidate_carries_over_unsubmitted_application_without_course_to_new_cycle_spec.rb
  spec/system/candidate_interface/carry_over/candidate_carries_over_unsuccessful_application_to_new_cycle_spec.rb
  spec/system/candidate_interface/course_selection/candidate_does_not_know_where_they_want_to_apply_spec.rb
  spec/system/candidate_interface/course_selection/candidate_edits_course_choices_spec.rb
  spec/system/candidate_interface/course_selection/candidate_new_user_with_course_params_and_cancel_spec.rb
  spec/system/candidate_interface/course_selection/candidate_sees_add_additional_courses_after_adding_course_spec.rb
  spec/system/candidate_interface/course_selection/candidate_selecting_a_course_not_on_apply_spec.rb
  spec/system/candidate_interface/course_selection/candidate_selecting_a_course_spec.rb
  spec/system/candidate_interface/course_selection/candidate_selecting_a_course_study_mode_spec.rb
  spec/system/candidate_interface/course_selection/candidate_selecting_a_course_that_is_full_spec.rb
  spec/system/candidate_interface/course_selection/candidate_selecting_a_course_when_only_one_site_available_spec.rb
  spec/system/candidate_interface/signup_and_signin/candidate_is_redirected_to_before_you_start_page_on_first_sign_in_spec.rb
  spec/system/candidate_interface/signup_and_signin/candidate_signs_in_with_the_penultimate_valid_token_spec.rb
  spec/system/candidate_interface/signup_and_signin/candidate_signs_up_using_magic_link_with_an_invalid_token_spec.rb
  spec/system/candidate_interface/submitting/candidate_reviews_completed_application_and_updates_course_selection_section_spec.rb
Labels: Candidate

#5675 Remove dual running (part 3)
  app/controllers/candidate_interface/course_choices/provider_selection_controller.rb
  app/forms/candidate_interface/pick_provider_form.rb
  config/locales/en.yml
  spec/forms/candidate_interface/pick_provider_form_spec.rb
Labels: Candidate

#5576 Add course choices gcse requirements row and component
  app/components/candidate_interface/course_choices_review_component.rb
  app/components/candidate_interface/degree_required_component.html.erb
  app/components/candidate_interface/pending_gcse_required_component.html.erb
  app/components/candidate_interface/pending_gcse_required_component.rb
  spec/components/candidate_interface/course_choices_review_component_spec.rb
  spec/components/candidate_interface/degree_required_component_spec.rb
  spec/components/candidate_interface/pending_gcse_required_component_spec.rb
  spec/system/candidate_interface/course_selection/candidate_can_view_gcse_requirements_and_guidance_for_selected_courses_spec.rb
Labels: Candidate

#5672 filter accredited provider report by current cycle
  app/queries/get_application_progress_data_by_course.rb
  spec/queries/get_application_progress_data_by_course_spec.rb
Labels: ProVendor, End of cycle

#5654 Disable editing in support when subsequent application exists
  app/components/shared/degree_qualification_cards_component.html.erb
  app/components/shared/degree_qualification_cards_component.rb
  app/components/shared/gcse_qualification_cards_component.html.erb
  app/components/shared/gcse_qualification_cards_component.rb
  app/components/shared/qualifications_component.html.erb
  app/components/shared/qualifications_component.rb
  app/components/support_interface/application_add_course_component.html.erb
  app/components/support_interface/application_choice_component.rb
  app/components/support_interface/personal_details_component.rb
  app/components/support_interface/reference_with_feedback_component.html.erb
  app/components/support_interface/reference_with_feedback_component.rb
  app/models/application_form.rb
  app/views/support_interface/application_forms/_application_navigation.html.erb
  app/views/support_interface/application_forms/show.html.erb
  spec/components/support_interface/application_add_course_component_spec.rb
  spec/components/support_interface/personal_details_component_spec.rb
  spec/components/support_interface/reference_with_feedback_component_spec.rb
Labels: Support

#5595 Add GCSE Equivalencies to course choice review
  app/components/candidate_interface/course_choices_review_component.rb
  app/components/candidate_interface/gcse_equivalency_required_component.html.erb
  app/components/candidate_interface/gcse_equivalency_required_component.rb
  app/components/candidate_interface/gcse_requirements_component.html.erb
  app/components/candidate_interface/gcse_requirements_component.rb
  app/components/candidate_interface/pending_gcse_required_component.html.erb
  app/components/candidate_interface/pending_gcse_required_component.rb
  spec/components/candidate_interface/course_choices_review_component_spec.rb
  spec/components/candidate_interface/gcse_equivalency_required_component_spec.rb
  spec/components/candidate_interface/gcse_requirements_component_spec.rb
  spec/components/candidate_interface/pending_gcse_required_component_spec.rb
  spec/system/candidate_interface/course_selection/candidate_can_view_gcse_requirements_and_guidance_for_selected_courses_spec.rb
Labels: Candidate

#5693 Trigger validation for a GCSE qualification that does not meet grade requirements and has missing fields
  app/models/application_qualification.rb
  spec/models/application_qualification_spec.rb
Labels: Candidate

#5689 Tweak award year validation on other qualification details page
  app/forms/candidate_interface/other_qualification_details_form.rb
  config/locales/candidate_interface/other_qualification.yml
  spec/forms/candidate_interface/other_qualification_details_form_spec.rb
Labels: Candidate

#5692 Guard against destroyed reference in the email controller
  app/controllers/candidate_interface/references/email_address_controller.rb
Labels: Candidate

#5697 Add new year to CYCLES; restrict filter to visible years
  app/models/provider_interface/provider_applications_filter.rb
  app/models/recruitment_cycle.rb
  spec/system/provider_interface/provider_views_application_submitted_in_new_cycle_spec.rb
Labels: ProVendor

#5667 Use the restructured work history flow as default in the factory
  spec/components/provider_interface/work_history_and_unpaid_experience_component_spec.rb
  spec/components/restructured_work_history/job_component_spec.rb
  spec/components/utility/work_history_component_spec.rb
  spec/factories/application_volunteering_experience.rb
  spec/factories/application_work_experience.rb
  spec/services/carry_over_application_spec.rb
  spec/system/provider_interface/see_individual_application_spec.rb
Labels: Candidate
