Repository DFE-Digital/apply-for-teacher-training, pull requests merged in 2021-07, with the labels that each got.

#5072 Add query returning provider relationships that the user can manage
  app/services/provider_authorisation.rb
  spec/services/provider_authorisation_spec.rb
Labels: ProVendor

#5065 EoC refactor - Combine EndOfCyclePolicy & EndOfCycleTimetable functionality
  app/components/candidate_interface/course_choices_review_component.html.erb
  app/controllers/candidate_interface/application_choices_controller.rb
  app/controllers/candidate_interface/course_choices/base_controller.rb
  app/controllers/candidate_interface/find_course_selections_controller.rb
  app/services/candidate_interface/end_of_cycle_policy.rb
  app/services/end_of_cycle_timetable.rb
  app/views/candidate_interface/application_form/_review.html.erb
  app/views/candidate_interface/carry_over/start_between_cycles.html.erb
  app/views/candidate_interface/carry_over/start_between_cycles_unsubmitted.html.erb
  app/views/candidate_interface/unsubmitted_application_form/show.html.erb
  spec/services/candidate_interface/end_of_cycle_policy_spec.rb
  spec/services/end_of_cycle_timetable_spec.rb
Labels: Candidate, End of cycle

#5076 Do not truncate condition text in the conditions flow
  app/components/provider_interface/individual_condition_status_form_component.html.erb
Labels: Provider UI

#5069 Add provider permissions edit form
  app/components/provider_interface/organisation_permissions_form_component.html.erb
  app/components/provider_interface/organisation_permissions_form_component.rb
  app/views/provider_interface/provider_relationship_permissions_setup/setup_permissions.html.erb
  config/locales/provider_interface/provider_relationship_permissions.yml
  spec/components/previews/provider_interface/organisation_permissions_form_component_preview.rb
  spec/components/provider_interface/organisation_permissions_form_component_spec.rb
Labels: ProVendor, Provider UI

#5081 Rubocop: Style/RedundantRegexpEscape, Style/AccessorGrouping, Style/RegexpLiteral
  Guardfile
  app/components/provider_interface/status_box_components/offer_deferred_component.rb
  app/forms/candidate_interface/degree_type_form.rb
  app/forms/candidate_interface/english_gcse_grade_form.rb
  app/forms/candidate_interface/maths_gcse_grade_form.rb
  app/forms/candidate_interface/other_qualification_details_form.rb
  app/forms/candidate_interface/other_qualification_type_form.rb
  app/forms/candidate_interface/science_gcse_grade_form.rb
  app/forms/provider_interface/interview_wizard.rb
  app/forms/provider_interface/provider_relationship_permissions_setup_wizard.rb
  app/forms/provider_interface/reasons_for_rejection_wizard.rb
  app/forms/provider_interface/reconfirm_deferred_offer_wizard.rb
  app/forms/support_interface/application_forms/edit_applicant_details_form.rb
  app/forms/support_interface/application_forms/edit_degree_form.rb
  app/forms/support_interface/application_forms/edit_gcse_form.rb
  app/forms/support_interface/provider_user_form.rb
  app/models/provider_permissions_form.rb
  app/models/reasons_for_rejection.rb
  app/queries/get_all_change_options_from_offered_option.rb
  app/queries/get_course_option_from_codes.rb
  app/services/teacher_training_public_api/sync_sites.rb
  app/validators/phone_number_validator.rb
  app/validators/valid_for_notify_validator.rb
  config/rubocop/config/style.yml
  spec/components/provider_interface/status_box_component_spec.rb
  spec/components/support_interface/application_navigation_component_spec.rb
  spec/components/support_interface/vendor_api_request_details_component_spec.rb
Labels: Core

#5067 Add 2022 cycle dates and refactor RecruitmentCycle class
  app/components/candidate_interface/carry_over_banner_component.html.erb
  app/models/recruitment_cycle.rb
  app/queries/get_application_choices_for_providers.rb
  app/services/end_of_cycle_timetable.rb
  app/views/candidate_interface/carry_over/start.html.erb
  app/views/candidate_interface/carry_over/start_between_cycles.html.erb
  app/views/candidate_interface/carry_over/start_between_cycles_unsubmitted.html.erb
  app/views/support_interface/settings/cycles.html.erb
  spec/models/recruitment_cycle_spec.rb
  spec/services/end_of_cycle_timetable_spec.rb
  spec/support/test_helpers/cycle_timetable_helper.rb
Labels: Candidate, End of cycle

#5068 EoC refactor - Rename EndOfCycleTimetable to CycleTimetable
  app/components/candidate_interface/apply_again_call_to_action_component.rb
  app/components/candidate_interface/carry_over_banner_component.rb
  app/components/candidate_interface/course_choices_review_component.html.erb
  app/components/candidate_interface/course_choices_review_component.rb
  app/components/candidate_interface/deadline_banner_component.rb
  app/components/candidate_interface/grouped_provider_courses_component.html.erb
  app/components/candidate_interface/offer_review_component.rb
  app/components/candidate_interface/rejection_reasons_component.rb
  app/components/candidate_interface/reopen_banner_component.rb
  app/controllers/candidate_interface/application_choices_controller.rb
  app/controllers/candidate_interface/carry_over_controller.rb
  app/controllers/candidate_interface/course_choices/base_controller.rb
  app/controllers/candidate_interface/find_course_selections_controller.rb
  app/controllers/candidate_interface/sign_up_controller.rb
  app/controllers/candidate_interface/submitted_application_form_controller.rb
  app/controllers/candidate_interface/unsubmitted_application_form_controller.rb
  app/forms/support_interface/change_cycle_form.rb
  app/helpers/view_helper.rb
  app/lib/test_applications.rb
  app/models/application_form.rb
  app/models/feature_metrics_dashboard.rb
  app/models/performance_statistics.rb
  app/models/recruitment_cycle.rb
  app/services/candidate_interface/find_changed_apply_again_applications.rb
  app/services/cycle_timetable.rb
  app/views/candidate_interface/application_form/_review.html.erb
  app/views/candidate_interface/carry_over/start_between_cycles.html.erb
  app/views/candidate_interface/carry_over/start_between_cycles_unsubmitted.html.erb
  app/views/candidate_interface/start_page/applications_closed.html.erb
  app/views/candidate_interface/unsubmitted_application_form/review.html.erb
  app/views/candidate_interface/unsubmitted_application_form/show.html.erb
  app/views/candidate_mailer/_still_interested_content.text.erb
  app/views/provider_interface/hesa_export/new.html.erb
  app/views/support_interface/settings/cycles.html.erb
  app/views/support_interface/tasks/confirm_cancel_applications_at_end_of_cycle.html.erb
  app/views/support_interface/tasks/index.html.erb
  app/workers/cancel_unsubmitted_applications_worker.rb
  spec/components/candidate_interface/course_choices_review_component_spec.rb
  spec/components/candidate_interface/deadline_banner_component_spec.rb
  spec/components/candidate_interface/grouped_provider_courses_component_spec.rb
  spec/components/candidate_interface/offer_review_component_spec.rb
  spec/components/candidate_interface/reopen_banner_component_spec.rb
  spec/mailers/candidate_mailer_offers_and_rejections_spec.rb
  spec/mailers/candidate_mailer_spec.rb
  spec/models/recruitment_cycle_spec.rb
  spec/services/cycle_timetable_spec.rb
  spec/support/test_helpers/cycle_timetable_helper.rb
  spec/system/candidate_interface/apply_again/candidate_carries_over_unsubmitted_application_between_cycles_spec.rb
  spec/system/candidate_interface/apply_again/carry_over_unsuccessful_application_between_cycles_spec.rb
  spec/system/candidate_interface/course_selection/candidate_cannot_add_new_course_once_the_cycle_has_closed_spec.rb
  spec/system/candidate_interface/end_of_cycle/candidate_with_unsubmitted_application_between_cycles_spec.rb
  spec/system/support_interface/cycle_switching_spec.rb
  spec/system/support_interface/feature_metrics_dashboard_spec.rb
  spec/system/support_interface/reasons_for_rejection_dashboard_spec.rb
Labels: Candidate, End of cycle

#5087 Remove cycle date 'stop_applications_to_unavailable_course_options'
  app/services/cycle_timetable.rb
  app/views/support_interface/settings/cycles.html.erb
  spec/services/cycle_timetable_spec.rb
Labels: Candidate, End of cycle

#5080 add backfill for setup_interviews permission
  app/services/data_migrations/backfill_setup_interviews_permission.rb
  lib/tasks/data.rake
  spec/services/data_migrations/backfill_setup_interviews_permission_spec.rb
Labels: ProVendor

#5093 Set missing variable in candidate decisions controller
  app/controllers/candidate_interface/decisions_controller.rb
  spec/system/candidate_interface/offers_and_withdrawals/candidate_accepts_offer_spec.rb
Labels: Bug bash 🐞🔨

#5034 Handle large date input numbers when validating dates
  app/helpers/date_validation_helper.rb
  spec/helpers/date_validation_helper_spec.rb
Labels: Bug bash 🐞🔨, Core

#5088 Update user profile views to render set up interviews permission
  app/components/permissions_list_component.html.erb
  app/components/support_interface/permissions_list_component.html.erb
  spec/components/permissions_list_component_spec.rb
  spec/components/support_interface/permissions_list_component_spec.rb
Labels: ProVendor

#5092 Set up interview permissions when inviting a user
  app/components/provider_interface/provider_user_invitation_permissions_component.rb
  app/models/provider_permissions.rb
  app/views/provider_interface/_fields_for_permissions.html.erb
  spec/components/provider_interface/provider_user_invitation_details_component_spec.rb
  spec/system/provider_interface/provider_invites_user_with_new_wizard_spec.rb
Labels: ProVendor

#5082 Document user permissions in Apply
  docs/permissions.md
  docs/provider_user_permissions.png
  docs/support_user_permissions.png
Labels: Core

#5102 Add `can_set_up_interviews?` authorisation method
  app/services/provider_authorisation.rb
  spec/services/provider_authorisation_spec.rb
Labels: ProVendor

#5103 Update ActiveProviderUserPermissions export
  app/exports/active_provider_user_permissions_export.yml
  app/models/provider_permissions.rb
  app/services/support_interface/active_provider_user_permissions_export.rb
  spec/models/provider_permissions_spec.rb
  spec/services/support_interface/active_provider_user_permissions_export_spec.rb
Labels: ProVendor

#5104 Enable Rails/WhereEquals cop
  app/controllers/provider_interface/application_data_export_controller.rb
  app/controllers/support_interface/email_log_controller.rb
  app/models/performance_statistics.rb
  app/models/support_interface/applications_filter.rb
  app/models/support_interface/ucas_matches_filter.rb
  app/models/support_interface/vendor_api_requests_filter.rb
  app/models/ucas_matched_application.rb
  app/models/work_history_feature_metrics.rb
  app/queries/get_application_choices_for_providers.rb
  app/services/support_interface/tad_provider_stats_export.rb
  app/workers/cancel_unsubmitted_applications_worker.rb
  config/rubocop/config/rails.yml
Labels: Core

#5089 Org permissions review card component
  app/components/provider_interface/organisation_permissions_form_component.html.erb
  app/components/provider_interface/organisation_permissions_form_component.rb
  app/components/provider_interface/organisation_permissions_review_card_component.html.erb
  app/components/provider_interface/organisation_permissions_review_card_component.rb
  app/presenters/provider_interface/provider_relationship_permission_as_provider_user_presenter.rb
  spec/components/previews/provider_interface/organisation_permissions_review_card_component_preview.rb
  spec/components/provider_interface/organisation_permissions_review_card_component_spec.rb
  spec/presenters/provider_interface/provider_relationship_permission_as_provider_user_presenter_spec.rb
Labels: ProVendor, Provider UI

#5090 Accessible Zendesk chat
  app/frontend/packs/application-provider.js
  app/frontend/packs/user-support-webchat.js
  app/frontend/packs/zendesk-stub.js
  app/services/feature_flag.rb
  app/views/layouts/_footer_meta_provider.html.erb
  app/views/layouts/base.html.erb
  app/views/shared/_zendesk_snippet.html.erb
  babel.config.js
  config/locales/en.yml
  package.json
  spec/system/provider_interface/provider_uses_webchat_spec.rb
Labels: ProVendor

#5099 Set up interview permissions when managing user permissions
  spec/system/provider_interface/manage_provider_user_permissions_spec.rb
Labels: ProVendor

#5101 Support user can set up interview permissions when creating a new pro…
  app/components/support_interface/permissions_list_review_component.html.erb
  app/views/support_interface/bulk_upload/permissions/_provider_permissions.html.erb
  app/views/support_interface/provider_users/_provider_options.html.erb
  app/views/support_interface/single_provider_users/_edit_provider_permissions.html.erb
  app/views/support_interface/single_provider_users/_provider_permissions.html.erb
  spec/components/support_interface/permissions_list_review_component_spec.rb
  spec/system/support_interface/managing_users_v2/adding_a_new_provider_user_spec.rb
  spec/system/support_interface/managing_users_v2/adding_provider_to_existing_provider_user_spec.rb
  spec/system/support_interface/managing_users_v2/bulk_upload_a_single_provider_user_spec.rb
  spec/system/support_interface/managing_users_v2/bulk_upload_multiple_provider_users_spec.rb
Labels: ProVendor

#5110 DSA signed confirmation page new design
  app/components/provider_interface/dsa_success_page_component.html.erb
  app/components/provider_interface/dsa_success_page_component.rb
  app/views/provider_interface/provider_agreements/success.html.erb
  config/locales/provider_interface/provider_relationship_permissions.yml
  spec/components/previews/provider_interface/dsa_success_page_component_preview.rb
  spec/components/provider_interface/dsa_success_page_component_spec.rb
  spec/system/provider_interface/provider_accepts_data_sharing_agreement_spec.rb
Labels: ProVendor, Provider UI

#5112 Add 'Organisation settings' page to Manage
  app/controllers/provider_interface/organisation_settings_controller.rb
  app/helpers/navigation_items.rb
  app/services/provider_authorisation.rb
  app/views/provider_interface/account/show.html.erb
  app/views/provider_interface/organisation_settings/index.html.erb
  app/views/provider_interface/provider_users/index.html.erb
  app/views/provider_interface/provider_users/show.html.erb
  config/locales/en.yml
  config/routes.rb
  spec/requests/provider_interface/organisation_settings_spec.rb
  spec/system/provider_interface/account_page_spec.rb
  spec/system/provider_interface/manage_provider_user_permissions_spec.rb
  spec/system/provider_interface/manage_provider_user_providers_spec.rb
  spec/system/provider_interface/provider_invites_user_with_new_wizard_spec.rb
  spec/system/provider_interface/provider_views_organisation_settings_spec.rb
  spec/system/provider_interface/providers_can_view_managed_users_spec.rb
  spec/system/provider_interface/removing_provider_user_spec.rb
  spec/system/provider_interface/see_organisations_and_permissions_spec.rb
  spec/system/provider_interface/viewing_organisational_permissions_spec.rb
Labels: ProVendor

#5123 Tidy up performance dashboards
  app/components/support_interface/reason_for_rejection_dashboard_section_component.html.erb
  app/components/support_interface/tile_component.rb
  app/components/support_interface/ucas_matches_statistics_component.html.erb
  app/views/support_interface/performance/courses_dashboard.html.erb
  app/views/support_interface/performance/feature_metrics_dashboard.html.erb
  app/views/support_interface/performance/service_performance_dashboard.html.erb
  spec/system/support_interface/feature_metrics_dashboard_spec.rb
Labels: Support

#5115 Squash provider user flow bugs
  app/components/support_interface/provider_users_table_component.rb
  app/controllers/support_interface/bulk_upload/permissions_controller.rb
  app/forms/support_interface/multiple_provider_users_wizard.rb
  app/views/support_interface/bulk_upload/checks/show.html.erb
  app/views/support_interface/single_provider_users/new.html.erb
  spec/forms/support_interface/multiple_provider_users_wizard_spec.rb
  spec/system/support_interface/managing_users_v2/bulk_upload_multiple_provider_users_spec.rb
Labels: Bug bash 🐞🔨, Support

#5106 Update Cycle Calendar (CYCLE_DATES)
  app/components/candidate_interface/deadline_banner_component.rb
  app/components/candidate_interface/reopen_banner_component.rb
  app/lib/test_applications.rb
  app/models/feature_metrics_dashboard.rb
  app/models/performance_statistics.rb
  app/models/recruitment_cycle.rb
  app/services/candidate_interface/find_changed_apply_again_applications.rb
  app/services/cycle_timetable.rb
  app/views/candidate_interface/carry_over/start_between_cycles.html.erb
  app/views/candidate_interface/carry_over/start_between_cycles_unsubmitted.html.erb
  app/views/candidate_interface/start_page/applications_closed.html.erb
  app/views/candidate_interface/unsubmitted_application_form/show.html.erb
  app/views/candidate_mailer/_still_interested_content.text.erb
  app/views/provider_interface/hesa_export/new.html.erb
  config/initializers/date_formats.rb
  config/locales/support_interface/cycles.yml
  spec/components/candidate_interface/deadline_banner_component_spec.rb
  spec/components/candidate_interface/offer_review_component_spec.rb
  spec/mailers/candidate_mailer_offers_and_rejections_spec.rb
  spec/mailers/candidate_mailer_spec.rb
  spec/models/recruitment_cycle_spec.rb
  spec/services/cycle_timetable_spec.rb
  spec/services/set_reject_by_default_spec.rb
  spec/support/test_helpers/cycle_timetable_helper.rb
  spec/system/candidate_interface/apply_again/carry_over_unsuccessful_application_between_cycles_spec.rb
  spec/system/candidate_interface/end_of_cycle/candidate_with_unsubmitted_application_between_cycles_spec.rb
  spec/system/support_interface/feature_metrics_dashboard_spec.rb
  spec/system/support_interface/reasons_for_rejection_dashboard_spec.rb
Labels: Core, End of cycle

#5039 Email to warn candidates about EoC deadlines
  app/mailers/candidate_mailer.rb
  app/models/chaser_sent.rb
  app/services/cycle_timetable.rb
  app/services/send_eoc_deadline_reminder_email_to_candidate.rb
  app/views/candidate_mailer/eoc_deadline_reminder.erb
  app/workers/send_eoc_deadline_reminder_email_to_candidates_worker.rb
  config/clock.rb
  config/locales/emails/candidate_mailer.yml
  spec/mailers/candidate_mailer_spec.rb
  spec/mailers/previews/candidate_mailer_preview.rb
  spec/services/cycle_timetable_spec.rb
  spec/services/send_eoc_deadline_reminder_email_to_candidate_spec.rb
  spec/system/support_interface/docs_spec.rb
  spec/workers/send_eoc_deadline_reminder_email_to_candidates_worker_spec.rb
Labels: End of cycle

#5124 Update permission services to check for setupinterviews
  app/controllers/provider_interface/interviews_controller.rb
  app/models/provider_user.rb
  app/services/cancel_interview.rb
  app/services/create_interview.rb
  app/services/provider_authorisation.rb
  app/services/update_interview.rb
  config/locales/provider_authorisation.yml
  spec/queries/get_activity_log_events_spec.rb
  spec/services/cancel_interview_spec.rb
  spec/services/create_interview_spec.rb
  spec/services/provider_authorisation_analysis_spec.rb
  spec/services/provider_authorisation_spec.rb
  spec/services/update_interview_spec.rb
  spec/system/provider_interface/provider_manages_application_interviews_spec.rb
Labels: ProVendor

#5139 Don't trigger builds from master
  .github/workflows/build.yml
  .github/workflows/pull_request_checks.yml
Labels: DevOps

#5142 Add deliver_later to EoC deadline mailer
  app/services/send_eoc_deadline_reminder_email_to_candidate.rb
Labels: End of cycle

#5127 Remove `new_provider_user_flow` feature flag
  app/components/support_interface/provider_user_permissions_summary_component.rb
  app/components/support_interface/provider_user_summary_component.rb
  app/components/support_interface/provider_users_table_component.html.erb
  app/controllers/support_interface/provider_users_controller.rb
  app/forms/support_interface/provider_user_form.rb
  app/services/feature_flag.rb
  app/services/invite_provider_user.rb
  app/views/support_interface/provider_users/_provider_options.html.erb
  app/views/support_interface/provider_users/edit.html.erb
  app/views/support_interface/provider_users/index.html.erb
  app/views/support_interface/provider_users/new.html.erb
  app/views/support_interface/providers/users.html.erb
  config/routes.rb
  spec/components/support_interface/provider_users_table_component_spec.rb
  spec/forms/support_interface/provider_user_form_spec.rb
  spec/services/save_and_invite_provider_user_spec.rb
  spec/system/support_interface/adding_a_new_provider_user_spec.rb
  spec/system/support_interface/adding_provider_to_existing_provider_user_spec.rb
  spec/system/support_interface/bulk_upload_a_single_provider_user_spec.rb
  spec/system/support_interface/bulk_upload_multiple_provider_users_spec.rb
  spec/system/support_interface/editing_permissions_for_a_provider_user_spec.rb
  spec/system/support_interface/managing_provider_user_notification_preferences_spec.rb
  spec/system/support_interface/managing_provider_users_spec.rb
  spec/system/support_interface/managing_users_v2/managing_provider_user_notification_preferences_spec.rb
  spec/system/support_interface/removing_a_provider_user_spec.rb
Labels: Support

#5145 Cleanse EOC chaser sent data
  app/services/data_migrations/cleanse_eoc_chasers_sent_data.rb
  lib/tasks/data.rake
  spec/services/data_migrations/cleanse_eoc_chasers_sent_data_spec.rb
Labels: Candidate

#5146 Remove `Dear` heading from the EOC deadline email if the candidate has not provided a first name
  app/views/candidate_mailer/eoc_deadline_reminder.erb
  spec/mailers/candidate_mailer_spec.rb
  spec/mailers/previews/candidate_mailer_preview.rb
Labels: Candidate

#5141 Terraform config for load testing environment
  .gitignore
  Makefile
  docs/apply-workflow-dispatch.jpg
  docs/architecture-resource-groups.png
  docs/architecture-subscriptions.png
  docs/deployment.md
  docs/hotfix-deployment.md
  docs/manual-deployment.md
  docs/manual_deployment_dia01.png
  docs/manual_deployment_dia02.png
  docs/manual_deployment_dia03.png
  docs/manual_deployment_dia04.png
  docs/manual_deployment_dia05.png
  docs/manual_deployment_dia06.png
  docs/manual_deployment_dia07.png
  docs/manual_deployment_dia08.png
  docs/manual_deployment_dia09.png
  terraform/modules/paas/main.tf
  terraform/modules/paas/variables.tf
  terraform/terraform.tf
  terraform/workspace_variables/loadtest.tfvars
  terraform/workspace_variables/loadtest_backend.tfvars
Labels: DevOps

#5148 Update to Ruby 2.7.4
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
Labels: DevOps

#5120 Implement BigQuery events for Candidate sign-up
  app/controllers/concerns/emit_request_events.rb
  app/forms/candidate_interface/sign_up_form.rb
  app/lib/events/event.rb
  app/models/application_record.rb
  app/models/concerns/entity_events.rb
  app/workers/send_events_to_bigquery.rb
  config/analytics.yml
  config/application.rb
  config/event-schema.json
  spec/forms/candidate_interface/sign_up_form_spec.rb
  spec/models/concerns/entity_events_spec.rb
  spec/requests/emit_request_events_spec.rb
  spec/support/bigquery.rb
  spec/workers/send_events_to_bigquery_spec.rb
Labels: Core

#5162 Enable candidates to select site when one study mode is full
  app/controllers/candidate_interface/course_choices/course_selection_controller.rb
  app/forms/candidate_interface/pick_course_form.rb
  spec/system/candidate_interface/course_selection/candidate_selecting_a_course_spec.rb
Labels: Candidate

#5160 Add JMeter app config and Manage/Vendor API test plans
  .rubocop.yml
  jmeter/.dockerignore
  jmeter/.gitignore
  jmeter/Dockerfile
  jmeter/Gemfile
  jmeter/Gemfile.lock
  jmeter/README.md
  jmeter/add_prometheus_xml.rb
  jmeter/build.sh
  jmeter/plans/manage.rb
  jmeter/plans/test.rb
  jmeter/plans/vendor.rb
  jmeter/prod.tfvars
  jmeter/qa.tfvars
  jmeter/run.sh
  jmeter/terraform.tf
  jmeter/variables.tf
Labels: ProVendor

#5152 Make notify callbacks asynchronous
  app/controllers/integrations/notify_controller.rb
  app/workers/process_notify_callback_worker.rb
  db/migrate/20210714120419_add_index_to_emails_notify_reference.rb
  db/schema.rb
  spec/requests/integrations/post_notify_callback_spec.rb
  spec/workers/process_notify_callback_worker_spec.rb
Labels: Core

#5163 Differentiate error message for line 2 of the address
  config/locales/candidate_interface/contact_details.yml
  config/locales/support_interface/support_interface.yml
Labels: Candidate

#5157 Update Vendor API documentation
  app/views/api_docs/vendor_api_docs/pages/release_notes.md
  config/vendor-api-v1.yml
Labels: API, API docs

#5149 Add Generate test data button to the support interface
  app/controllers/application_controller.rb
  app/controllers/provider_interface/provider_interface_controller.rb
  app/controllers/support_interface/provider_test_data_controller.rb
  app/services/generate_test_applications_for_provider.rb
  app/services/vendor_api/generate_test_applications_for_provider.rb
  app/views/support_interface/providers/applications.html.erb
  config/routes.rb
  spec/requests/support_interface/provider_test_data_controller_spec.rb
  spec/services/generate_test_applications_for_provider_spec.rb
  spec/system/support_interface/generate_test_data_for_provider_spec.rb
Labels: Support

#5156 Show site codes alongside vacancies in Support
  app/components/support_interface/course_choices_table_component.html.erb
  spec/system/support_interface/providers_and_courses_spec.rb
Labels: Support

#5176 Remove rollover environment
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  Makefile
  docs/manual-deployment.md
  terraform/modules/paas/variables.tf
  terraform/workspace_variables/rollover.tfvars
  terraform/workspace_variables/rollover_backend.tfvars
Labels: DevOps

#5179 Don’t use emoji to indicate selected references
  app/components/support_interface/reference_with_feedback_component.rb
  spec/components/support_interface/reference_with_feedback_component_spec.rb
Labels: Accessibility, Support

#5178 Fix nested `govuk-summary-list__actions` markup in summary lists
  app/components/summary_list_component.rb
  spec/components/summary_list_component_spec.rb
Labels: Bug bash 🐞🔨, Components, Core

#5150 View and edit organisation permissions via organisation settings
  app/controllers/application_controller.rb
  app/controllers/provider_interface/organisation_permissions_controller.rb
  app/controllers/provider_interface/organisation_settings_controller.rb
  app/helpers/navigation_items.rb
  app/models/provider_relationship_permissions.rb
  app/services/provider_authorisation.rb
  app/views/provider_interface/organisation_permissions/edit.html.erb
  app/views/provider_interface/organisation_permissions/index.html.erb
  app/views/provider_interface/organisation_permissions/organisations.html.erb
  app/views/provider_interface/organisation_settings/show.html.erb
  config/brakeman.ignore
  config/locales/en.yml
  config/routes.rb
  spec/models/provider_relationship_permissions_spec.rb
  spec/requests/provider_interface/organisation_permissions_spec.rb
  spec/requests/provider_interface/organisation_settings_spec.rb
  spec/system/provider_interface/provider_edits_organisation_permissions_spec.rb
  spec/system/provider_interface/provider_views_organisation_settings_spec.rb
  spec/system/support_interface/sign_in_as_provider_user_spec.rb
Labels: ProVendor

#5159 Implement carry over for the 2021 - 2022 Academic cycle
  app/components/candidate_interface/application_dashboard_component.html.erb
  app/components/candidate_interface/apply_again_call_to_action_component.rb
  app/components/candidate_interface/carry_over_banner_component.html.erb
  app/components/candidate_interface/carry_over_banner_component.rb
  app/components/candidate_interface/carry_over_inset_text_component.html.erb
  app/components/candidate_interface/carry_over_inset_text_component.rb
  app/components/candidate_interface/carry_over_interstitial_component.html.erb
  app/components/candidate_interface/carry_over_interstitial_component.rb
  app/components/candidate_interface/reopen_banner_component.rb
  app/controllers/candidate_interface/carry_over_controller.rb
  app/controllers/candidate_interface/unsubmitted_application_form_controller.rb
  app/models/application_form.rb
  app/services/cycle_timetable.rb
  app/views/candidate_interface/carry_over/not_submitted/start.html.erb
  app/views/candidate_interface/unsubmitted_application_form/show.html.erb
  app/views/support_interface/settings/cycles.html.erb
  config/locales/en.yml
  spec/components/candidate_interface/apply_again_call_to_action_component_spec.rb
  spec/components/candidate_interface/carry_over_banner_component_spec.rb
  spec/components/candidate_interface/carry_over_inset_text_component_spec.rb
  spec/components/candidate_interface/carry_over_interstitial_component_spec.rb
  spec/components/candidate_interface/reopen_banner_component_spec.rb
  spec/models/application_form_spec.rb
  spec/services/cycle_timetable_spec.rb
  spec/system/candidate_interface/apply_again/candidate_carries_over_unsubmitted_application_between_cycles_spec.rb
  spec/system/candidate_interface/apply_again/candidate_carries_over_unsubmitted_application_to_new_cycle_spec.rb
  spec/system/candidate_interface/apply_again/candidate_carries_over_unsubmitted_application_without_course_to_new_cycle_spec.rb
  spec/system/candidate_interface/apply_again/carry_over_unsuccessful_application_after_apply_2_deadline_spec.rb
  spec/system/candidate_interface/apply_again/carry_over_unsuccessful_application_spec.rb
  spec/system/candidate_interface/course_selection/candidate_attempts_to_add_course_from_find_to_application_from_previous_cycle_spec.rb
  spec/system/candidate_interface/course_selection/candidate_cannot_add_new_course_once_the_cycle_has_closed_spec.rb
  spec/system/candidate_interface/end_of_cycle/candidate_views_unsuccessful_application_between_cycles_spec.rb
  spec/system/candidate_interface/end_of_cycle/candidate_with_unsubmitted_application_between_cycles_spec.rb
Labels: Candidate, End of cycle

#5187 Automate apply deadline banners rendering & update the copy on the app closed banner
  app/components/candidate_interface/reopen_banner_component.html.erb
  app/components/candidate_interface/reopen_banner_component.rb
  app/services/cycle_timetable.rb
  app/views/candidate_interface/unsubmitted_application_form/review.html.erb
  config/locales/notification_banner.yml
  spec/components/candidate_interface/reopen_banner_component_spec.rb
  spec/services/cycle_timetable_spec.rb
Labels: Candidate

#5174 Fixes for end of cycle banner
  app/components/candidate_interface/application_dashboard_component.html.erb
  app/components/candidate_interface/apply_again_call_to_action_component.rb
  app/components/candidate_interface/deadline_banner_component.html.erb
  app/components/candidate_interface/deadline_banner_component.rb
  app/controllers/candidate_interface/carry_over_controller.rb
  app/controllers/candidate_interface/sign_in_controller.rb
  app/controllers/candidate_interface/submitted_application_form_controller.rb
  app/services/cycle_timetable.rb
  app/views/candidate_interface/unsubmitted_application_form/review.html.erb
  app/views/candidate_interface/unsubmitted_application_form/show.html.erb
  app/views/support_interface/settings/cycles.html.erb
  config/locales/candidate_interface/apply_from_find.yml
  config/locales/support_interface/cycles.yml
  spec/components/candidate_interface/application_dashboard_component_spec.rb
  spec/components/candidate_interface/deadline_banner_component_spec.rb
  spec/services/cycle_timetable_spec.rb
  spec/system/candidate_interface/apply_again/candidate_applies_again_after_apply_1_deadline_spec.rb
  spec/system/candidate_interface/course_selection/candidate_new_user_with_course_params_spec.rb
  spec/system/candidate_interface/signup_and_signin/candidate_is_redirected_to_before_you_start_page_on_first_sign_in_spec.rb
  spec/system/candidate_interface/signup_and_signin/candidate_signs_up_using_magic_link_with_an_invalid_token_spec.rb
Labels: Candidate, End of cycle

#5196 Trigger smoke tests after deploy
  .github/workflows/deploy.yml
Labels: DevOps

#5128 Fix unavailable choices performance dashboard
  app/controllers/support_interface/performance_controller.rb
  app/services/support_interface/application_monitor.rb
  app/views/support_interface/performance/unavailable_choices.html.erb
  app/views/support_interface/performance/unavailable_choices_detail.html.erb
  config/routes.rb
  spec/system/support_interface/unavailable_choices_spec.rb
Labels: Support

#5198 Update the unsubmitted application page to use the apply_reopens date
  app/views/candidate_interface/unsubmitted_application_form/show.html.erb
Labels: Candidate, End of cycle

#5199 Refactor 'apply again' and 'carry over' system specs
  spec/system/candidate_interface/apply_again/candidate_applies_again_after_apply_1_deadline_spec.rb
  spec/system/candidate_interface/apply_again/candidate_applies_again_and_reviews_rejection_reasons_from_previous_applications_spec.rb
  spec/system/candidate_interface/apply_again/candidate_applies_again_during_mid_cycle_spec.rb
  spec/system/candidate_interface/carry_over/candidate_carries_over_unsubmitted_application_and_needs_to_select_course_spec.rb
  spec/system/candidate_interface/carry_over/candidate_carries_over_unsubmitted_application_with_a_course_to_new_cycle_spec.rb
  spec/system/candidate_interface/carry_over/candidate_carries_over_unsubmitted_application_without_course_to_new_cycle_spec.rb
  spec/system/candidate_interface/carry_over/candidate_carries_over_unsuccessful_application_to_new_cycle_spec.rb
Labels: Candidate, End of cycle

#5165 Add duplicate account matching into the support UI
  app/components/support_interface/duplicate_candidate_matches_table_component.html.erb
  app/components/support_interface/duplicate_candidate_matches_table_component.rb
  app/controllers/support_interface/duplicate_candidate_matches_controller.rb
  app/queries/get_duplicate_candidate_matches.rb
  app/views/support_interface/candidates/_candidates_navigation.html.erb
  app/views/support_interface/duplicate_candidate_matches/index.html.erb
  config/routes.rb
  spec/components/support_interface/duplicate_candidate_matches_table_component_spec.rb
  spec/queries/get_duplicate_candidate_matches_spec.rb
  spec/system/support_interface/duplicate_candidate_matches_spec.rb
Labels: Support

#5205 Add times to cycle dates
  app/components/candidate_interface/deadline_banner_component.html.erb
  app/components/candidate_interface/deadline_banner_component.rb
  app/components/candidate_interface/reopen_banner_component.html.erb
  app/components/candidate_interface/reopen_banner_component.rb
  app/helpers/view_helper.rb
  app/services/cycle_timetable.rb
  app/views/candidate_interface/application_form/_review.html.erb
  app/views/candidate_interface/unsubmitted_application_form/show.html.erb
  app/views/candidate_mailer/eoc_deadline_reminder.erb
  spec/components/candidate_interface/carry_over_inset_text_component_spec.rb
  spec/components/candidate_interface/deadline_banner_component_spec.rb
  spec/components/candidate_interface/offer_review_component_spec.rb
  spec/components/candidate_interface/reopen_banner_component_spec.rb
  spec/models/application_form_spec.rb
  spec/services/cycle_timetable_spec.rb
  spec/system/candidate_interface/carry_over/candidate_carries_over_unsubmitted_application_and_needs_to_select_course_spec.rb
  spec/system/candidate_interface/carry_over/candidate_carries_over_unsuccessful_application_to_new_cycle_spec.rb
  spec/system/candidate_interface/course_selection/candidate_cannot_add_new_course_once_the_cycle_has_closed_spec.rb
Labels: Candidate, End of cycle

#5206 Terraform config for Pen test environment
  Makefile
  terraform/modules/paas/variables.tf
  terraform/workspace_variables/pen.tfvars
  terraform/workspace_variables/pen_backend.tfvars
Labels: DevOps

#5209 Convert cycle switcher dates to 'ActiveSupport::TimeWithZone'
  app/services/cycle_timetable.rb
Labels: Bug bash 🐞🔨, Candidate, End of cycle

#5200 Simplify apply and find reopening content on the application show & review pages
  app/views/candidate_interface/application_form/_review.html.erb
  app/views/candidate_interface/unsubmitted_application_form/show.html.erb
  spec/system/candidate_interface/carry_over/candidate_carries_over_unsubmitted_application_and_needs_to_select_course_spec.rb
  spec/system/candidate_interface/carry_over/candidate_carries_over_unsuccessful_application_to_new_cycle_spec.rb
  spec/system/candidate_interface/course_selection/candidate_cannot_add_new_course_once_the_cycle_has_closed_spec.rb
Labels: Candidate, Content

#5210 Use travel instead of freeze for failing AA tests
  spec/system/candidate_interface/apply_again/candidate_applies_again_and_reviews_rejection_reasons_from_previous_applications_spec.rb
  spec/system/candidate_interface/apply_again/candidate_applies_again_during_mid_cycle_spec.rb
Labels: Candidate

#5202 Use more descriptive labels for international address
  app/forms/candidate_interface/contact_details_form.rb
  app/forms/support_interface/application_forms/edit_address_details_form.rb
  app/views/support_interface/application_forms/address_details/edit.html.erb
  config/locales/candidate_interface/contact_details.yml
  spec/support/test_helpers/candidate_helper.rb
  spec/system/candidate_interface/entering_details/candidate_entering_contact_details_spec.rb
  spec/system/support_interface/editing_address_details_spec.rb
Labels: Candidate, Content

#5211 Wait for smoke tests to conclude before finishing the deployment
  .github/workflows/deploy.yml
Labels: DevOps

#5172 Rollover: make visible in support, and prepare to turn on sync in production
  app/models/recruitment_cycle.rb
  app/workers/teacher_training_public_api/sync_all_providers_and_courses_worker.rb
  config/clock.rb
  spec/workers/teacher_training_public_api/sync_all_providers_and_courses_worker_spec.rb
Labels: Support

#5218 Fix grid layout bugs in Manage
  app/views/provider_interface/interview_schedules/past.html.erb
  app/views/provider_interface/interview_schedules/show.html.erb
  app/views/provider_interface/organisation_permissions/organisations.html.erb
  app/views/provider_interface/organisations/index.html.erb
Labels: Bug bash 🐞🔨, Provider UI

#5217 Ensure application forms are created in the correct cycle on first sign in
  app/models/candidate.rb
  spec/models/candidate_spec.rb
Labels: Candidate

#5231 Show application withdrawn by provider at candidate’s request
  app/components/candidate_interface/application_status_tag_component.html.erb
  spec/components/candidate_interface/application_status_tag_component_spec.rb
Labels: Candidate

#5224 V1.1 of the Candidate API – add an application form
  app/controllers/candidate_api/candidates_controller.rb
  config/candidate-api.yml
  spec/requests/candidate_api/get_candidates_spec.rb
Labels: API, API docs

#5242 Refactor how bulleted lists work in SelectedReferencesComponent
  app/components/selected_references_component.rb
  app/components/summary_list_component.rb
  spec/components/summary_list_component_spec.rb
Labels: Candidate

#5207 Validate that an award year is in the future for an incomplete degree
  app/forms/candidate_interface/degree_year_form.rb
  app/views/candidate_interface/degrees/year/edit.html.erb
  config/locales/candidate_interface/degree.yml
  spec/forms/candidate_interface/degree_year_form_spec.rb
  spec/system/candidate_interface/entering_details/degrees/candidate_editing_degrees_spec.rb
  spec/system/candidate_interface/entering_details/degrees/candidate_entering_degree_with_predicted_grade_spec.rb
Labels: Candidate

#5246 Tag docker image with branch name for caching
  .github/workflows/build.yml
  Dockerfile
Labels: DevOps

#5255 Include cache from main docker image
  .github/workflows/build.yml
Labels: DevOps

#5260 Change filter label and label on application details to "Year received"
  app/components/provider_interface/application_summary_component.rb
  app/models/provider_interface/provider_applications_filter.rb
Labels: ProVendor, Provider UI

#5261 New feature flag for `Your account and Organisation settings epic`
  app/services/feature_flag.rb
Labels: ProVendor

#5258 Filter providers by unsigned DSA
  app/models/support_interface/providers_filter.rb
  spec/models/support_interface/providers_filter_spec.rb
Labels: Support

#5256 Rename heading to "Personal details"
  app/components/provider_interface/personal_details_component.html.erb
Labels: ProVendor, Provider UI

#5243 Remove `reference_selection` feature flag
  app/components/candidate_interface/add_reference_component.html.erb
  app/components/candidate_interface/add_reference_component.rb
  app/components/candidate_interface/references_review_component.html.erb
  app/components/candidate_interface/references_review_component.rb
  app/components/task_list_item_references_component.html.erb
  app/controllers/candidate_interface/references/retry_request_controller.rb
  app/controllers/candidate_interface/references/review_controller.rb
  app/controllers/candidate_interface/references/selection_controller.rb
  app/forms/candidate_interface/reference/selection_form.rb
  app/lib/test_applications.rb
  app/models/application_form.rb
  app/models/reference_feature_metrics.rb
  app/presenters/candidate_interface/application_form_presenter.rb
  app/services/delete_reference.rb
  app/services/feature_flag.rb
  app/services/reference_actions_policy.rb
  app/services/submit_application.rb
  app/services/submit_reference.rb
  app/views/candidate_interface/application_form/_review.html.erb
  app/views/candidate_interface/references/review/confirm_destroy_reference.html.erb
  app/views/candidate_interface/references/review/show.html.erb
  app/views/candidate_interface/unsubmitted_application_form/review.html.erb
  app/views/candidate_interface/unsubmitted_application_form/show.html.erb
  app/views/candidate_mailer/reference_received.text.erb
  spec/components/candidate_interface/add_reference_component_spec.rb
  spec/components/candidate_interface/references_review_component_spec.rb
  spec/mailers/candidate_mailer_referee_mails_spec.rb
  spec/models/application_form_spec.rb
  spec/presenters/candidate_interface/application_form_presenter_spec.rb
  spec/services/delete_reference_spec.rb
  spec/services/reference_actions_policy_spec.rb
  spec/services/submit_application_spec.rb
  spec/services/submit_reference_spec.rb
  spec/support/test_helpers/candidate_helper.rb
  spec/system/candidate_interface/apply_again/candidate_applies_again_and_reviews_rejection_reasons_from_previous_applications_spec.rb
  spec/system/candidate_interface/carry_over/candidate_carries_over_unsubmitted_application_and_needs_to_select_course_spec.rb
  spec/system/candidate_interface/carry_over/candidate_carries_over_unsubmitted_application_with_a_course_to_new_cycle_spec.rb
  spec/system/candidate_interface/carry_over/candidate_carries_over_unsubmitted_application_without_course_to_new_cycle_spec.rb
  spec/system/candidate_interface/references/candidate_can_continuously_request_references_spec.rb
  spec/system/candidate_interface/references/candidate_deletes_a_selected_reference_spec.rb
  spec/system/candidate_interface/references/candidate_has_too_many_references_spec.rb
  spec/system/candidate_interface/references/candidate_has_too_many_selected_references_spec.rb
  spec/system/candidate_interface/references/candidate_receives_feedback_from_their_reference_requests_spec.rb
  spec/system/candidate_interface/references/candidate_reviews_references_spec.rb
  spec/system/candidate_interface/references/candidate_selects_two_references_spec.rb
  spec/system/candidate_interface/references/candidate_submits_an_application_spec.rb
  spec/system/candidate_interface/references/review_references_spec.rb
  spec/system/candidate_interface/references/submitting_an_application_spec.rb
  spec/system/candidate_interface/submitting/candidate_submitting_application_spec.rb
  spec/system/candidate_interface/submitting/international_candidate_submitting_application_spec.rb
  spec/system/referee_interface/referee_cannot_provide_reference_if_two_already_received_spec.rb
Labels: Candidate

#5269 Fix placement of inset text for predicted degree grade
  app/views/candidate_interface/degrees/grade/_form_fields.html.erb
  config/locales/candidate_interface/degree.yml
Labels: Bug bash 🐞🔨, Candidate
